<h2 class="l-micropage__heading">Členové analytického týmu</h2>
<!---
<p class="l-micropage__perex text-center">Poslanecký klub Pirátů sdružuje 22 poslanců Pirátské strany. Všichni jeho členové jsou vázáni Kodexem pirátského poslance a ve Sněmovně prosazují stěžejní cíle pirátského programu. Předsedou klubu je Jakub Michálek.</p>
<div class="row text-center">
    <div class="columns medium-12">
        <h4><span class="button secondary" data-modal href="/snemovna/pomery_klubu.html">Kodex poslance</span></h4>
    </div>
</div>
--->
<div class="">
    <div class="">
        <div class="row">
        {% assign cols=4 %}
        {% include_relative _vizitka.html
            name="Bc. Janusz Konieczny" link="/lide/janusz-konieczny" mail="janusz.konieczny@pirati.cz"
            img="/assets/img/analytici/janusz-konieczny.png"
            desc="Protikorupční analytik"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Mgr. Petr Fojtík" link="/lide/petr-fojtik" mail="petr.fojtik@pirati.cz"
            img="/assets/img/analytici/petr-fojtik.png"
            desc="Vedoucí analytického týmu"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Mgr. Martin Archalous" link="/lide/martin-archalous" mail="martin.archalous@pirati.cz"
            img="/assets/img/analytici/martin-archalous.png"
            desc="Legislativní analytik"
            columns=cols
        %}            

        {% include_relative _vizitka.html
            name="Mgr. Markéta Řádková" link="/lide/marketa-radkova" mail="marketa.radkova@pirati.cz"
            img="/assets/img/analytici/marketa-radkova.png"
            desc="Legislativní analytik"
            columns=cols
        %}            

        {% include_relative _vizitka.html
            name="Mgr. Matouš Vanča" link="/lide/matous-vanca" mail="matous.vanca@pirati.cz"
            img="/assets/img/analytici/matous-vanca.png"
            desc="Tajemník"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Mgr. Bára Soukupová" link="/lide/bara-soukupova" mail="bara.soukupova@pirati.cz"
            img="/assets/img/analytici/bara-soukupova.png"
            desc="Specialistka na e-government"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Mgr. Martin Úlovec" link="/lide/martin-ulovec" mail="martin.ulovec@pirati.cz"
            img="/assets/img/analytici/martin-ulovec.jpg"
            desc="Analytik pro oblast školství"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Mgr. Martin Štrobl M.A." link="/lide/martin-strobl" mail="martin.strobl@pirati.cz"
            img="/assets/img/analytici/martin-strobl.png"
            desc="Externí ekonomický poradce a analytik"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Ing. Tomáš Kopečný" link="/lide/tomas-kopecny" mail="tomas.kopecny@pirati.cz"
            img="/assets/img/analytici/tomas-kopecny.png"
            desc="Datový a ekonomický analytik"
            columns=cols
        %}
        </div>
    </div>
 
</div>
