<div class="o-section-block">
  <div class="o-section-header">
    <h2 class="o-section__heading">Související témata a články</h2>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <!-- Article -->
      <article itemtype="http://schema.org/BlogPosting" class="c-BlogPosting c-BlogPosting--featured" itemscope="">
        <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
        <div class="c-BlogPosting-contentWrapper u-cf">
          <div class="c-BlogPosting-photoBox">
            <!-- BlogPosting image -->
            <div itemprop="image" itemtype="http://schema.org/ImageObject" class="c-BlogPosting__image" itemscope="">
              <img src="images/articles/8.jpg" alt="Detailnější článek o organizační struktuře">
              <meta itemprop="url" content="images/articles/8.jpg">
              <meta itemprop="width" content="">
              <meta itemprop="height" content=""> </div>
          </div>
          <div class="c-BlogPosting-contentBox">
            <!-- Headline -->
            <h1 itemprop="headline" class="c-BlogPosting__title">
              <a href="#" itemprop="url">Detailnější článek o organizační struktuře</a>
            </h1>
            <!-- BlogPosting description-->
            <div itemprop="description" class="c-BlogPosting-content">
              <p>Organizační struktura České pirátské strany se zakládá na moci, která pochází z členů České pirátské strany, a je propůjčena orgánům strany a organizačním jednotkám, protože se to považuje za hospodárné.</p>
            </div>
            <a href="#" class="c-BlogPosting-excerpt-readMore">Přečíst celý článek &rsaquo;</a>
          </div>
          <!-- Publisher -->
          <div itemprop="publisher" itemtype="http://schema.org/Organization" class="u-hidden" itemscope="">
            <div itemprop="logo" itemtype="http://schema.org/ImageObject" itemscope="">
              <meta itemprop="url" content="{{ '/assets/img/brand/logo.svg' | prepend: site.baseurl }}"> </div>
            <meta itemprop="name" content="Česká pirátská strana"> </div>
        </div>
        <div class="c-BlogPosting-infoBox u-hidden">
          <!-- Date published -->
          <span itemprop="description" class="c-BlogPosting__datePublished">
            <i class="fa fa-calendar-o" aria-hidden="true"></i> 08. 07. 2016
            <meta itemprop="dateModified" content="">
            <meta itemprop="datePublished" content=""> </span>
          <br class="hide-for-medium">
          <!-- Authors -->
          <span itemprop="author" itemtype="http://schema.org/Person" class="c-BlogPosting__authors" itemscope="">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span itemprop="name" class="c-BlogPosting__author">Česká pirátská strana</span>
          </span>
        </div>
      </article>
    </div>
    <div class="small-12 medium-6 columns">
      <!-- Article -->
      <article itemtype="http://schema.org/BlogPosting" class="c-BlogPosting c-BlogPosting--featured" itemscope="">
        <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
        <div class="c-BlogPosting-contentWrapper u-cf">
          <div class="c-BlogPosting-photoBox">
            <!-- BlogPosting image -->
            <div itemprop="image" itemtype="http://schema.org/ImageObject" class="c-BlogPosting__image" itemscope="">
              <img src="images/articles/9.jpg" alt="Volební komise">
              <meta itemprop="url" content="images/articles/9.jpg">
              <meta itemprop="width" content="">
              <meta itemprop="height" content=""> </div>
          </div>
          <div class="c-BlogPosting-contentBox">
            <!-- Headline -->
            <h1 itemprop="headline" class="c-BlogPosting__title">
              <a href="#" itemprop="url">Volební komise</a>
            </h1>
            <!-- BlogPosting description-->
            <div itemprop="description" class="c-BlogPosting-content">
              <p>Na každém jednání celostátního fóra bude volební komise zapisovat výsledky osobnostních hlasování pod stejnou spisovou značkou jako jednání celostátního fóra akorát s předponou VK (například na jednání CF 3/2010 bude protokol
                označen VK 3/2010).</p>
            </div>
            <a href="#" class="c-BlogPosting-excerpt-readMore">Přečíst celý článek &rsaquo;</a>
          </div>
          <!-- Publisher -->
          <div itemprop="publisher" itemtype="http://schema.org/Organization" class="u-hidden" itemscope="">
            <div itemprop="logo" itemtype="http://schema.org/ImageObject" itemscope="">
              <meta itemprop="url" content="{{ '/assets/img/brand/logo.svg' | prepend: site.baseurl }}">
            </div>
            <meta itemprop="name" content="Česká pirátská strana">
          </div>
        </div>
        <div class="c-BlogPosting-infoBox u-hidden">
          <!-- Date published -->
          <span itemprop="description" class="c-BlogPosting__datePublished">
            <i class="fa fa-calendar-o" aria-hidden="true"></i> 08. 07. 2016
            <meta itemprop="dateModified" content="">
            <meta itemprop="datePublished" content=""> </span>
          <br class="hide-for-medium">
          <!-- Authors -->
          <span itemprop="author" itemtype="http://schema.org/Person" class="c-BlogPosting__authors" itemscope="">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span itemprop="name" class="c-BlogPosting__author">Česká pirátská strana</span>
          </span>
        </div>
      </article>
    </div>
  </div>
</div>
