---
layout: default
---

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-8 columns">
    <section class="o-section o-section--noSpaceBottom o-section--bigger">
      <div class="o-section-inner o-section-inner--leftBlock">
        {% for article in paginator.posts limit: 2%}
        <div class="o-section-mediumdown-divided-small o-section--divided">
          {% include article-list/featured_article.html param='article' %}
        </div>
        {% endfor %}
      </div>
    </section>
  </div>

  <div class="small-12 large-4 columns">
    <aside class="o-section o-section--noSpaceBottom">
      <div class="o-section-inner o-section-inner--rightBlock">
        {% include right-bar/bar_fb.html %}
        {% include right-bar/bar_tw.html %}
      </div>
    </aside>
  </div>
</div>

{% assign posts = paginator.posts %}
{% include article-list/list-3col.html param='posts' %}

{% include article-list/pagination.html %}
