<div class="o-section-block">
 <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
   <li class="c-widget-accordion-item is-active" data-accordion-item="">
     <a href="#" class="c-widget-accordion-link">
       <span class="c-widget-accordion__title">Facebook</span>
       <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom" aria-hidden="true">
         <i class="fa fa-facebook fa-lg"></i>
       </span>
     </a>
     <div class="c-widget-accordion-content" data-tab-content="">
       <div class="fb-page" data-href="https://www.facebook.com/CeskaPiratskaStranaPraha/" data-tabs="timeline" data-width="500" data-height="550" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
         <div class="fb-xfbml-parse-ignore">
           <blockquote cite="https://www.facebook.com/CeskaPiratskaStranaPraha/">
             <a href="https://www.facebook.com/CeskaPiratskaStranaPraha/">
               Najdete nás na Facebooku:<br>
               Česká pirátská strana - Praha</a>
           </blockquote>
         </div>
       </div>
     </div>
   </li>
 </ul>
</div>
