<div class="row small-up-4">
    <div class="c-banner-section-row">
        <div class="small-6 columns">
            {% include homepage/buttom.html box=include.boxes.left-top %}
        </div>
        <div class="small-6 columns">
            {% include homepage/buttom.html box=include.boxes.right-top %}
        </div>
    </div>
    <div class="c-banner-section-row">
        <div class="small-6 columns">
            {% include homepage/buttom.html box=include.boxes.left-bottom %}
        </div>
        <div class="small-6 columns">
            {% include homepage/buttom.html box=include.boxes.right-bottom %}
        </div>
    </div>
</div>
