<div class="row">
  <div class="medium-12 large-12 columns">
    <div id="tlacitko" style="    text-align: center;">
        <a href={{include.url}} 
            target="_blank" 
            style="width: 450px; margin-top: 15px; text-align: center; padding: 33px; font-size: 33px; font-weight:bold; background-color: black;border-color: #5cb85c; color: white;" 
            class="c-cta-button c-cta-button--primary" >
             {{ include.text }}
        </a>
    </div>
  </div>
</div>
<p></p>

