{% capture link %}{% if page.profiles.facebook %}{{ page.profiles.facebook }}{% else %}{{ site.fb }}{% endif %}{% endcapture %}

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1526197851008996',
      xfbml      : true,
      version    : 'v2.5'
    });
  };
</script>
<script src="https://connect.facebook.net/en_US/sdk.js" defer></script>
<div class="o-section-block show-for-medium">
  <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
    <li class="c-widget-accordion-item is-active" data-accordion-item="">
      <a href="#" class="c-widget-accordion-link c-widget-accordion-link--fb">
        <span class="c-widget-accordion__title">Facebook</span>
      </a>
      <div class="c-widget-accordion-content" data-tab-content="">
        <div class="fb-page" data-href="{{ link }}" data-tabs="timeline" data-width="500" data-height="550" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="{{ link }}">
              <a href="{{ link }}">
                Najdete nás na Facebooku:<br>
                {% if site.facebook.profilePageName %}{{ site.facebook.profilePageName }}{% else %}{{ site.organization.name }}{% endif %}
              </a>
            </blockquote>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
