<div class="o-section-block">
 <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
   <li class="c-widget-accordion-item is-active" data-accordion-item="">
     <a href="#" class="c-widget-accordion-link">
       <span class="c-widget-accordion__title">Twitter</span>
       <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom" aria-hidden="true">
         <i class="fa  fa-twitter fa-lg"></i>
       </span>
     </a>
     <div class="c-widget-accordion-content" data-tab-content="">
       <a class="twitter-timeline" href="https://twitter.com/{{site.tw}}" data-height="520">Tweets by @{{site.tw}}</a>
     </div>
   </li>
 </ul>
</div>
