<div class="o-section-block">
  <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
    <li class="c-widget-accordion-item is-active" data-accordion-item="">
      <a href="#" class="c-widget-accordion-link">
        <span class="c-widget-accordion__title">Lidé</span>
        <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom c-widget-accordion__icon--bottomPulled" aria-hidden="true">
          <i class="fa fa-users fa-lg"></i>
        </span>
      </a>
      <div class="c-widget-accordion-content" data-tab-content="">
        <div class="c-widget-accordion-content-inner">
          {% assign person = site.people | where_exp:"item","item.name contains 'Michálek'" | first %}
          {% include people/rbar_profile.html param=""%}
          {% assign person = site.people | where_exp:"item","item.name contains 'Profant'" | first %}
          {% include people/rbar_profile.html param=""%}
          {% assign person = site.people | where_exp:"item","item.name contains 'Ferjen'" | first %}
          {% include people/rbar_profile.html param=""%}
        </div>
        <div class="c-widget-accordion-content__cta">
          <a class="expanded button large" href="{{ '/lide/' | relative_url }}"> Poznejte celý náš tým! </a>
        </div>
      </div>
    </li>
  </ul>
</div>
