<div class="o-section-block">
 <ul class="c-widget-accordion c-widget-accordion--dark" data-accordion="" data-allow-all-closed="true">
   <li class="c-widget-accordion-item is-active" data-accordion-item="">
     <a href="#" class="c-widget-accordion-link">
       <span class="c-widget-accordion__title">Foto</span>
       <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom" aria-hidden="true">
         <i class="fa  fa-address-card-o  fa-lg u-rotate-15"></i>
       </span>
     </a>
     <div class="c-widget-accordion-content text-center" data-tab-content="">
       <img src="{{ page.img | prepend: '/assets/img/' | relative_url}}" alt="{{page.name}}" style="margin: auto;">
       <div class="c-widget-accordion-content__cta">
         <a class="dark expanded button large" href="{{page.profiles.flickr}}"> Zobrazit více fotografii </a>
       </div>
     </div>
   </li>
 </ul>
</div>
