<div class="o-section-block">
 <ul class="c-widget-accordion c-widget-accordion--dark" data-accordion="" data-allow-all-closed="true">
   <li class="c-widget-accordion-item is-active" data-accordion-item="">
     <a href="#" class="c-widget-accordion-link">
       <span class="c-widget-accordion__title">Obchod</span>
       <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom" aria-hidden="true">
         <i class="fa fa-calendar-o fa-lg u-rotate-15"></i>
       </span>
     </a>
     <div class="c-widget-accordion-content" data-tab-content="">
       <a href="https://www.piratskyobchod.cz"><img src="https://cdn.myshoptet.com/usr/www.piratskyobchod.cz/user/shop/detail/1312-1_balicek2.png?613b98c6" style="width:100%; height:100%; border-width:0; border: 0; overflow: hidden;"><br>1 x pánské triko, 10 x kampaňové noviny, 1 x velká textilní taška, 3 x papírová propiska, 1 x klíčenka, 1 x otvírák </a>
       <div class="c-widget-accordion-content__cta">
         <a class="dark expanded button large" href="https://www.piratskyobchod.cz"> Zobrazit všechno zboží </a>
       </div>
     </div>
   </li>
 </ul>
</div>
