<div class="o-section-block">
  <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
    <li class="c-widget-accordion-item is-active" data-accordion-item="">
      <a href="#" class="c-widget-accordion-link">
        <span class="c-widget-accordion__title">Kontakty</span>
        <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom c-widget-accordion__icon--bottomPulled" aria-hidden="true">
          <i class="fa fa-users fa-lg"></i>
        </span>
      </a>
      <div class="c-widget-accordion-content" data-tab-content="">
        <div class="c-widget-accordion-content-inner">
            {% if page.data-version == 2 %}
              {% if page.asistenti %}
                <h3>Asistent/ka</h3>
                {% assign main = page.asistenti | first %}
                <i class="fa fa-user-o"></i> {{main.name}}<br/>
                <i class="fa fa-envelope-o"></i> <a href="mailto:{{ page.asistent.mail}}">{{ main.mail}}</a><br/>
                <i class="fa fa-phone"></i> {{ main.tel }}<br/>
              {% endif %}
              {% if page.direct-contact %}
                <br>
                <h3>{{page.name}}</h3>
                {% if page.mail %}<i class="fa fa-envelope-o"></i> <a href="mailto:{{ page.mail | first}}">{{ page.mail | first}}</a><br/>{% endif %}
                {% if page.mob %}<i class="fa fa-phone"></i> {{ page.mob }}<br/>{% endif %}
              {% endif %}
            {% else %}
              {% if page.asistent %}
              <i class="fa fa-user-o"></i> Asistent/ka: {{page.asistent.name}}<br/>
              <i class="fa fa-envelope-o"></i> <a href="mailto:{{ page.asistent.mail}}">{{ page.asistent.mail}}</a><br/>
              <i class="fa fa-phone"></i> {{ page.asistent.tel }}<br/>
              {% else %}
              {% if page.mail %}<i class="fa fa-envelope-o"></i> <a href="mailto:{{ page.mail | first}}">{{ page.mail | first}}</a><br/>{% endif %}
              {% if page.mob %}<i class="fa fa-phone"></i> {{ page.mob }}<br/>{% endif %}
              {% endif %}
              {% include right-bar/rbar_profiles.html %}
            {% endif %}
        </div>
      </div>
    </li>
  </ul>
</div>
