<div class="o-section-block">
  <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
    <li class="c-widget-accordion-item is-active" data-accordion-item="">
      <a href="#" class="c-widget-accordion-link">
        <span class="c-widget-accordion__title">Lidé</span>
        <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom c-widget-accordion__icon--bottomPulled" aria-hidden="true">
          <i class="fa fa-users fa-lg"></i>
        </span>
      </a>
      <div class="c-widget-accordion-content" data-tab-content="">
        <div class="c-widget-accordion-content-inner">
          <article itemtype="http://schema.org/Person" class="c-Person-preview" itemscope="">
            <a href="#" itemprop="url" class="c-Person-preview__url">Profil &rsaquo;</a>
            <!-- Name -->
            <h2 itemprop="name" class="c-Person-preview__name"> Jakub Michálek </h2>
            <!-- Birthdate -->
            <div class="c-Person-preview__birthdate"> 6. února 1989 </div>
            <meta itemprop="birthDate" content="<!-- Insert date in ISO 8601 date format -->">
            <div class="c-Person-preview-contentBox">
              <!-- Person Image -->
              <div itemprop="image" itemtype="http://schema.org/ImageObject" class="c-Person-preview__image" itemscope="">
                <img src="/assets/img/people/jakub-michalek.jpg" alt="Jakub Michálek">
                <meta itemprop="url" content="/assets/img/people/jakub-michalek.jpg"> </div>
              <!-- Person description -->
              <p itemprop="description" class="c-Person-preview-content"> Mgr. Bc. Jakub Michálek je předseda klubu Pirátů v pražském zastupitelstvu. Jako právník se zaměřuje na svobodný přístup k info... </p>
            </div>
          </article>
          <article itemtype="http://schema.org/Person" class="c-Person-preview" itemscope="">
            <a href="#" itemprop="url" class="c-Person-preview__url">Profil &rsaquo;</a>
            <!-- Name -->
            <h2 itemprop="name" class="c-Person-preview__name"> Ondřej Profant </h2>
            <!-- Birthdate -->
            <div class="c-Person-preview__birthdate"> 2. května 1988 </div>
            <meta itemprop="birthDate" content="<!-- Insert date in ISO 8601 date format -->">
            <div class="c-Person-preview-contentBox">
              <!-- Person Image -->
              <div itemprop="image" itemtype="http://schema.org/ImageObject" class="c-Person-preview__image" itemscope="">
                <img src="/assets/img/people/ondrej-profant.jpg" alt="Ondřej Profant">
                <meta itemprop="url" content="/assets/img/people/ondrej-profant.jpg"> </div>
              <!-- Person description -->
              <p itemprop="description" class="c-Person-preview-content"> Informatik specializovaný na svobodný software. Zaměřuje se na IT systémy, technologické inovace a analýzu zavedení bezplatné MHD. </p>
            </div>
          </article>
          <article itemtype="http://schema.org/Person" class="c-Person-preview" itemscope="">
            <a href="#" itemprop="url" class="c-Person-preview__url">Profil &rsaquo;</a>
            <!-- Name -->
            <h2 itemprop="name" class="c-Person-preview__name"> Mikuláš Fernjenčík </h2>
            <div class="c-Person-preview-contentBox">
              <!-- Person Image -->
              <div itemprop="image" itemtype="http://schema.org/ImageObject" class="c-Person-preview__image" itemscope="">
                <img src="/assets/img/people/mikulas-ferjencik.jpg" alt="Mikuláš Fernjenčík">
                <meta itemprop="url" content="/assets/img/people/mikulas-ferjencik.jpg"> </div>
              <!-- Person description -->
              <p itemprop="description" class="c-Person-preview-content"> Protikorupční aktivista, lektor kroužků logiky a překladatel. Zaměřuje se na komunikaci města a obyvatel, podezřelé kauzy, konk... </p>
            </div>
          </article>
        </div>
        <div class="c-widget-accordion-content__cta">
          <a class="expanded button large" href="#"> Poznejte celý náš tým! </a>
        </div>
      </div>
    </li>
  </ul>
</div>
