<div class="o-section-block">
 <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
   <li class="c-widget-accordion-item is-active" data-accordion-item="">
     <a href="#" class="c-widget-accordion-link">
       <span class="c-widget-accordion__title">Otevřenost</span>
       <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom" aria-hidden="true">
         <i class="fa fa-facebook fa-lg"></i>
       </span>
     </a>
     <div class="c-widget-accordion-content" data-tab-content="">
       <div class="c-widget-accordion-content-inner">
         <h4 class="c-widget-accordion-list__heading">Hospodaření</h4>
         <ul class="c-widget-accordion-list">
           <li><a href="https://smlouvy.pirati.cz">Registr smluv</a></li>
           <li><a href="https://wiki.pirati.cz/fo/seznam_uctu">Bankovní účty</a></li>
           <li><a href="https://pirati.cz/otevrenost/vyrocni-zpravy">Výroční zprávy</a>
             <ul>
               <li><a href="https://pirati.cz/otevrenost/vyrocni-zpravy/2016/">2016</a></li>
               <li><a href="https://pirati.cz/otevrenost/vyrocni-zpravy/2015/2015.pdf">2015</a></li>
               <li><a href="https://pirati.cz/otevrenost/vyrocni-zpravy/2014/2014.pdf">2014</a></li>
               <li><a href="https://pirati.cz/otevrenost/vyrocni-zpravy">Starší</a></li>
             </ul>
           </li>
         </ul>
       </div>
     </div>
   </li>
 </ul>
</div>
