<script defer>
  document.addEventListener("DOMContentLoaded", function(){
    setLatestPeerTubeVideo();
  });
</script>
<div class="o-section-block">
  <ul class="c-widget-accordion c-widget-accordion--alert" data-accordion="" data-allow-all-closed="true">
    <li class="c-widget-accordion-item is-active" data-accordion-item="">
      <a href="#" class="c-widget-accordion-link">
        <span class="c-widget-accordion__title">Videa</span>
        <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom" aria-hidden="true">
          <i class="fa fa-video-camera fa-lg u-rotate-345"></i>
        </span>
      </a>
      <div class="c-widget-accordion-content" data-tab-content="">
        <div class="c-widget-accordion-content-video">
          <div class="c-widget-accordion-content__video u-video-wrapper-16-9">
            <iframe
              id="peertube-iframe"
              width="560"
              height="315"
              src=""
              style="border: 0;"
              allowfullscreen=""
            ></iframe>
          </div>
          <div class="c-widget-accordion-content__cta">
            <a
              class="warning expanded button large"
              href="https://tv.pirati.cz/videos/overview"
              target="_blank"
              rel="noopener noreferrer"
            >Další videa na našem PeerTube</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
