<div class="o-section-block">
 <ul class="c-widget-accordion c-widget-accordion--dark" data-accordion="" data-allow-all-closed="true">
   <li class="c-widget-accordion-item is-active" data-accordion-item="">
     <a href="#" class="c-widget-accordion-link">
       <span class="c-widget-accordion__title">Kalendář</span>
       <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom" aria-hidden="true">
         <i class="fa fa-calendar-o fa-lg u-rotate-15"></i>
       </span>
     </a>
     <div class="c-widget-accordion-content" data-tab-content="">
       <iframe src="{{site.calendar}}" style="border-width:0; width: 100%; height: 410px; border: 0; overflow: hidden;"></iframe>
       <div class="c-widget-accordion-content__cta">
         <a class="dark expanded button large" href="{{ '/pripoj-se/kalendar/' | relative_url }}"> Zobrazit všechny akce </a>
       </div>
     </div>
   </li>
 </ul>
</div>
