<div class="o-section-block">
 <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
   <li class="c-widget-accordion-item is-active" data-accordion-item="">
     <a href="#" class="c-widget-accordion-link">
       <span class="c-widget-accordion__title">Jak se zapojit?</span>
       <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom" aria-hidden="true">
         <i class="fa fa-facebook fa-lg"></i>
       </span>
     </a>
     <div class="c-widget-accordion-content" data-tab-content="">
       <div class="c-widget-accordion-content-inner">
         <ul class="c-widget-accordion-list__heading">
           <li><a href="/assets/pdf/podpisovy_harok.pdf">Stáhněte</a> si <b>podpisové archy</b>, oslovte své přátele a známé, a vyplněné je zašlete na adresu uvedenou na archu.</li>
           <li>Pro <b>osobní podpis či kontakt</b> na Slovensku <a href="mailto:info@piratskastrana.sk">napište slovenskému Pirátovi Tomáši Vojtekovi</a>.</li>
           <li>Tvoříme <b>seznam míst</b>, kde lze petici podepsat. Najděte nejbližší místo k podpisu či domluvte nové ve svém okolí a <a href="mailto:marketa.gregorova@pirati.cz">dejte nám o něm vědět</a>!
           </li>

         </ul>
       </div>
     </div>
   </li>
 </ul>
</div>
