<div class="o-section-block--spaceBot show-for-large">
  <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
    <li class="c-widget-accordion-item is-active" data-accordion-item="">
      <a href="#" class="c-widget-accordion-link">
        <span class="c-widget-accordion__title">Obsah</span>
        <span class="c-widget-accordion__icon c-widget-accordion__icon" aria-hidden="true">
          <i class="fa fa-list"></i>
        </span>
      </a>
      <div class="c-widget-accordion-content" data-tab-content="">
        <div class="c-widget-accordion-content-inner">
          <h4 class="c-widget-accordion-list__heading">Organizační struktura</h4>
          <ul class="c-widget-accordion-list">
            <li>
              <a href="#">Celostátní fórum</a>
              <ul>
                <li>
                  <a href="#">Volební komise</a>
                </li>
              </ul>
            </li>
          </ul>
          <h4 class="c-widget-accordion-list__heading">Moc zákonodárná</h4>
          <ul class="c-widget-accordion-list">
            <li>
              <a href="#">Republikový výbor</a>
            </li>
          </ul>
          <h4 class="c-widget-accordion-list__heading">Moc výkonná</h4>
          <ul class="c-widget-accordion-list">
            <li>
              <a href="#">Republikový předsednictvo</a>
              <ul>
                <li>
                  <a href="#">Mediální odbor</a>
                </li>
                <li>
                  <a href="#">Administrativní odbor</a>
                </li>
                <li>
                  <a href="#">Technický odbor</a>
                </li>
                <li>
                  <a href="#">Finanční odbor</a>
                </li>
                <li>
                  <a href="#">Zahraniční odbor</a>
                </li>
                <li>
                  <a href="#">Personální odbor</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Garanti programových bodů</a>
            </li>
          </ul>
          <h4 class="c-widget-accordion-list__heading">Moc soudní</h4>
          <ul class="c-widget-accordion-list">
            <li>
              <a href="#">Kontrolní komise</a>
            </li>
            <li>
              <a href="#">Rozhodčí komise</a>
            </li>
          </ul>
          <h4 class="c-widget-accordion-list__heading">Otevřené hospodaření</h4>
          <ul class="c-widget-accordion-list">
            <li>
              <a href="#">Informace o hospodaření Pirátů</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
