{% if page.profiles.report %}<i class="fa fa-file-text-o"></i> <a href="{{page.profiles.report}}">Report poslance</a><br/>{% endif %}
{% if page.profiles.redmine %}<i class="fa fa-check-square-o"></i> <a href="{{ page.profiles.redmine }}">Přiřazené úkoly</a><br/>{% endif %}
{% if page.profiles.wikipedia %}<i class="fa fa-wikipedia-w"></i> <a href="{{ page.profiles.wikipedia }}">W: {{ page.profiles.wikipedia | remove: "https://cs.wikipedia.org/wiki/" }}</a><br/>{% endif %}
{% if page.profiles.facebook %}<i class="fa fa-facebook"></i> <a href="{{ page.profiles.facebook }}">FB: {{ page.profiles.facebook | remove: "https://www.facebook.com/" }}</a><br/>{% endif %}
{% if page.profiles.twitter %}<i class="fa fa-twitter"></i> <a href="{{ page.profiles.twitter }}">TW: {{ page.profiles.twitter | remove: "https://twitter.com/" }}</a><br/>{% endif %}
{% if page.profiles.github %}<i class="fa fa-github"></i> <a href="{{ page.profiles.github }}">GH: {{ page.profiles.github | remove: "https://github.com/"}}</a><br/>{% endif %}
{% if page.profiles.forum %}<i class="fa fa-comments-o"></i> <a href="{{ page.profiles.forum }}">Forum: {{ page.profiles.forum | remove: "https://forum.pirati.cz/" }}</a><br/>{% endif %}
