<aside class="o-section o-section--noSpaceBottom">
  <div class="o-section-inner o-section-inner--rightBlock">
    <div class="o-section-block">
      <ul class="c-widget-accordion" data-accordion="">
        <li class="c-widget-accordion-item is-active" data-accordion-item="">
          <a href="#" class="c-widget-accordion-link c-widget-accordion-link--fb">
            <span class="c-widget-accordion__title">Facebook</span>
          </a>
          <div class="c-widget-accordion-content u-center" data-tab-content="">
            <div class="fb-page" data-href="https://www.facebook.com/ceskapiratskastrana" data-tabs="timeline" data-width="310" data-height="560" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="o-section-block">
      <ul class="c-widget-accordion" data-accordion="">
        <li class="c-widget-accordion-item is-active" data-accordion-item="">
          <a href="#" class="c-widget-accordion-link c-widget-accordion-link--twitter">
            <span class="c-widget-accordion__title">Twitter</span>
          </a>
          <div class="c-widget-accordion-content u-center" data-tab-content="">
            <a class="twitter-timeline" data-lang="cs" data-width="310" data-height="540" href="https://twitter.com/piratipraha"></a>
            <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </li>
      </ul>
    </div>
  </div>
</aside>
