<script src="{{'assets/js/common-libs.min.js' | relative_url}}"></script>
<script>
  Foundation.Interchange.SPECIAL_QUERIES['medium down'] = 'screen and (max-width: 63.9375em)';
  $(document).foundation();
  $(document).on('replaced.zf.interchange', function(e)
  {
    $(this).foundation();
  });
  $("button[data-toggle]").on("click", function()
  {
    if ($(this).parent().hasClass("js-button-toggled"))
    {
      $(this).parent().removeClass("js-button-toggled");
    }
    else
    {
      $(this).parent().addClass("js-button-toggled");
    }
  });
  window.onload = function() {};

{% include js/search.js %}
{% include js/back-top.js %}
{% include js/rbar_people.js %}
{% if page.url contains 'tiskove-zpravy' %}
  {% include js/rbar_relatives.js %}
{% endif %}
{% if page.url contains 'regiony' %}
  {% include js/kraje.js %}
{% endif %}
{% if page.url contains 'kalkulacka' %}
  {% include js/kalkulacka.js %}
{% endif %}
{% if page.url contains 'psp2017' %}
  {% include js/rbar_garant.js %}
{% endif %}
{% include js/fb.js %}
{% include js/tw.js %}
{% include js/ga.js %}
</script>
