{% if page.url contains 'regiony' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.1/raphael.min.js"></script>
{% endif %}
{% if page.url contains 'pripoj-se' %}
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.2/motion-ui.min.js"></script>
<script>
  Foundation.Interchange.SPECIAL_QUERIES['medium down'] = 'screen and (max-width: 63.9375em)';
  $(document).foundation();
  $(document).on('replaced.zf.interchange', function(e)
  {
    $(this).foundation();
  });
  $("button[data-toggle]").on("click", function()
  {
    if ($(this).parent().hasClass("js-button-toggled"))
    {
      $(this).parent().removeClass("js-button-toggled");
    }
    else
    {
      $(this).parent().addClass("js-button-toggled");
    }
  });
  window.onload = function() {};

{% include js/fb.js %}
{% include js/tw.js %}
{% include js/search.js %}
{% include js/back-top.js %}
{% if page.url contains 'tiskove-zpravy' %}
  {% include js/relatives.js %}
{% endif %}
{% if page.url contains 'regiony' %}
  {% include js/kraje.js %}
{% endif %}
{% if page.url contains 'pripoj-se' %}
	$( function() {
	  $( "#tabs" ).tabs({"active":1});
	} );
	$( function() {
	  $( document ).tooltip();
	} );
	{% include js/subscription-forms.js %}
{% endif %}
</script>
