---
layout: default
---

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-12 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <!-- Article -->
          <article itemtype="http://schema.org/BlogPosting" class="c-BasicPage" itemscope="">
            <!--<link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">-->
            <header class="c-BasicPage-header c-BasicPage-header--horizontal">
              <h1 itemprop="headline" class="c-BasicPage__title"> Kontaktní informace </h1>
            </header>
            <div class="o-section-block o-section-block--fill">
              <div class="u-cf">
                <div class="medium-12 large-7 columns o-section-mediumdown-divided-small">
                  <div class="c-BasicPage-content">
                    <h2>Základní údaje</h2>
                    <table>
                      <tbody>
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-university"></i>
                            <span class="cell-text">Název strany</span>
                          </td>
                          <td> Česká pirátská strana </td>
                        </tr>
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-university"></i>
                            <span class="cell-text">Zkratka</span>
                          </td>
                          <td> Piráti </td>
                        </tr>
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-files-o"></i>
                            <span class="cell-text">Elektronická podatelna</span>
                          </td>
                          <td>
                            <a href="mailto:info@pirati.cz">info@pirati.cz</a> (elektronická pošta)
                            <br>
                            <a href="https://redmine.pirati.cz/projects/ps/wiki/Podatelna">podatelna</a> (systém redmine) </td>
                        </tr>
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-envelope"></i>
                            <span class="cell-text">Informace, telefonický kontakt</span>
                          </td>
                          <td> +420 608 963 111 </td>
                        </tr>
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-music"></i>
                            <span class="cell-text">Problémy s OSA,
                              <br> Intergramem apod.</span>
                          </td>
                          <td>
                            <a href="mailto:hudba@pirati.cz">hudba@pirati.cz</a>
                          </td>
                        </tr>
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-globe"></i>
                            <span class="cell-text">Zahraniční odbor
                              <br> International Department</span>
                          </td>
                          <td>
                            <a href="mailto:international@pirati.cz">international@pirati.cz</a>
                          </td>
                        </tr>
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-desktop"></i>
                            <span class="cell-text">Internetová stránka</span>
                          </td>
                          <td>
                            <a href="https://www.pirati.cz">www.pirati.cz</a>
                          </td>
                        </tr>
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-files-o"></i>
                            <span class="cell-text">Datová schránka</span>
                          </td>
                          <td> b2i4r6j </td>
                        </tr>
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-university"></i>
                            <span class="cell-text">Sídlo - adresa</span>
                          </td>
                          <td> Řehořova 943/19, Praha 3 </td>
                        </tr>
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-university"></i>
                            <span class="cell-text">Sídlo - kontakt</span>
                          </td>
                          <td> +420 778 702 713
                            <br>
                            <a href="mailto:tobias.esner@pirati.cz">tobias.esner@pirati.cz</a>
                          </td>
                        </tr>
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-university"></i>
                            <span class="cell-text">Identifikační číslo</span>
                          </td>
                          <td> 71339698 </td>
                        </tr>
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-university"></i>
                            <span class="cell-text">Transparentní účty</span>
                          </td>
                          <td> 2100048174/2010 a další účty u banky Fio </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="medium-12 large-5 columns o-section-mediumdown-divided-small">
                  <div class="c-BasicPage-content">
                    <h2>Sídlo a kontaktní centrum</h2>
                    <div class="o-media o-media--top">
                      <div class="o-media__image">
                        <img src="{{ 'residence.png' | prepend: '/assets/img/miscellaneous/' | relative_url }}" alt="Sídlo"> </div>
                      <div class="o-media__body">
                        <p>
                          <strong>Česká pirátská strana</strong>
                          <br> IČ: 71339698 </p>
                        <p> Řehořova 943/19
                          <br> 130 00 Praha 3 </p>
                        <p>
                          <a href="https://goo.gl/maps/tMR253BANG12">Zobrazit mapu ›</a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="c-BasicPage-content">
                    <h2>Zasílání účetních dokladů</h2>
                    <p> Adresu a pokyny pro zasílání účetních dokladů najdete
                      <a href="https://wiki.pirati.cz/fo/start">zde</a>. </p>
                  </div>
                  <div class="c-BasicPage-content">
                    <h2>Další kontakty</h2>
                    <p> Další osoby naleznete na stránce
                      <a href="{{'/lide/' | relative_url}}">Lidé</a>. </p>
                    <p> Setkat se s námi můžete v některém z
                      <a href="#">Pirátských míst</a> nebo
                      <a href="{{'pripoj-se/kalendar/' | relative_url }}">pirátské akci</a>. </p>
                    <p> Pro pomoc a radu v odborných otázkách kopírovacího monopolu či jiných se obracejte na
                      <a href="https://forum.pirati.cz/verejna-poradna-f795/">Pirátskou poradnu</a> na fóru. </p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </main>
      </div>
    </section>
  </div>
</div>
<hr>
{% assign people = site.data.contacts %}
<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-12 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <div class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <h2>Kontakt pro média</h2>
              <div class="row">
                <div class="u-cf o-section-block o-section-block--divided-small o-section-block--divided-small--border">
                  {% assign id = 'ivan' %}
                  {% include kontakt/contact-card.html param='people' param='id' %}
                  {% assign id = 'miki' %}
                  {% include kontakt/contact-card.html param='people' param='id' %}
                </div>
              </div>
              <br>
              <h2>Kontakt pro veřejnost</h2>
              <div class="row">
                <div class="u-cf o-section-block o-section-block--divided-small o-section-block--divided-small--border">
                  {% assign id = 'ljuba' %}
                  {% include kontakt/contact-card.html param='people' param='id' %}
                  {% assign id = 'elizabet' %}
                  {% include kontakt/contact-card.html param='people' param='id' %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
