---
layout: default
---

<div class="row">
  <div class="medium-12 columns">
    <div class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <main class="o-section-block">
          <!-- Article -->
          <article itemtype="http://schema.org/BlogPosting" class="c-BasicPage" itemscope="">
            <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
            <h1 itemprop="headline" class="c-BasicPage__title"> Otevřenost </h1>
            <div itemprop="description" class="c-BasicPage-content">
              <h2>Náš cíl je veřejná správa, která bude stejně otevřená jako Pirátská strana. Přesvědčte se sami, že to myslíme vážně.</h2>
            </div>

            <div class="row o-section-block o-section-block--fill">
              {% for topic in site.data.transparence %}
                {% include accordeon/accordeon-column.html param='topic' %}
              {% endfor %}
            </div>

            <div itemprop="description" class="c-BasicPage-content o-section-block">
              <div class="o-section-header">
                <h2 class="o-section__heading o-section__heading--small">Naše úspěchy v oblasti otevřenosti</h2>
              </div>
            </div>
            <div itemprop="description" class="c-BasicPage-content o-section-block">
              {% assign team = site.data.transp-uspechy %}
              {% include people/list-2col.html param=team %}
            </div>
          </article>
          <!-- /Article -->
        </main>
      </div>
    </div>
  </div>
</div>
