---
layout: default
img: miscellaneous/europoslanci.jpg
rbar: fb, tw
profiles:
  facebook: https://www.facebook.com/europeanpirateparty/
  twitter: EuropeanPirates 
---

<section class="l-micropage__section row o-section" id="europoslanci">
    <div class="row">
    {% assign cols=4 %}
    {% include snemovna/vizitka.html
        name="Marcel Kolaja" link="/lide/marcel-kolaja/" mail="marcel.kolaja@pirati.cz "
        img="/assets/img/europarlament/kolaja.jpg"
        desc= "člen BURO, IMCO, D-IN
        <hr> <a href=https://personal.kolaja.eu/> Osobní web </a> &nbsp;
        <a href=https://ib.fio.cz/ib/transparent?a=2901637243> Transparentní účet </a> &nbsp;
        <a href=http://term9.votewatch.eu/en/term9-marcel-kolaja.html> Hlasování </a>"
        res="Místopředseda EP"
        columns=cols
    %}
    {% include snemovna/vizitka.html
        name="Markéta Gregorová" link="/lide/marketa-gregorova/" mail="marketa.gregorova@pirati.cz "
        img="/assets/img/europarlament/gregorova.jpg"
        desc="místopředsedkyně DEPA, členka INTA a DSCA
        <hr> 
        <a href=http://gregorova.eu/> Osobní web </a> &nbsp; 
        <a href=https://ib.fio.cz/ib/transparent?a=2301637274> Transparentní účet </a> &nbsp; 
        <a href=http://term9.votewatch.eu/en/term9-marketa-gregorova.html> Hlasování </a>"
        res="Poslankyně Evropského parlamentu"
        columns=cols
    %}
    {% include snemovna/vizitka.html
        name="Mikuláš Peksa" link="/lide/mikulas-peksa/" mail="mikulas.peksa@pirati.cz "
        img="/assets/img/europarlament/peksa.jpg"
        desc="člen ITRE, D-UA
        <hr> 
        <a href=http://mikulas-peksa.eu/> Osobní web </a>  &nbsp; 
        <a href=https://ib.fio.cz/ib/transparent?a=2001637811> Transparentní účet </a>  &nbsp; 
        <a href=http://term9.votewatch.eu/en/term9-mikulas-peksa.html> Hlasování </a>"
        res="Poslanec Evropského parlamentu"
        columns=cols
    %}
    {% include snemovna/vizitka.html
        name="Patrick Breyer" link="/lide/patrick-breyer/" mail="patrick.breyer@europarl.europa.eu"
        img="/assets/img/people/.jpg"
        desc=""
        res="Poslanec Evropského parlamentu"
        columns=cols
    %}
    </div>
</section>
