@font-face {
    font-family: 'Bebas Neue';
    src: url(../fonts/bebasneue_regular-webfont.eot);
    src: url(../fonts/bebasneue_regular-webfont.eot%3F) format("embedded-opentype"), url(../fonts/bebasneue_regular-webfont.woff2) format("woff2"), url(../fonts/bebasneue_regular-webfont.woff) format("woff"), url(../fonts/bebasneue_regular-webfont.ttf) format("truetype"), url(../fonts/bebasneue_regular-webfont.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/opensans/open-sans-v15-latin_latin-ext-regular.eot);
    src: url(../fonts/opensans/open-sans-v15-latin_latin-ext-regular.eot%3F) format("embedded-opentype"), url(../fonts/opensans/open-sans-v15-latin_latin-ext-regular.woff2) format("woff2"), url(../fonts/opensans/open-sans-v15-latin_latin-ext-regular.woff) format("woff"), url(../fonts/opensans/open-sans-v15-latin_latin-ext-regular.ttf) format("truetype"), url(../fonts/opensans/open-sans-v15-latin_latin-ext-regular.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/opensans/open-sans-v15-latin_latin-ext-700.eot);
    src: url(../fonts/opensans/open-sans-v15-latin_latin-ext-700.eot%3F) format("embedded-opentype"), url(../fonts/opensans/open-sans-v15-latin_latin-ext-700.woff2) format("woff2"), url(../fonts/opensans/open-sans-v15-latin_latin-ext-700.woff) format("woff"), url(../fonts/opensans/open-sans-v15-latin_latin-ext-700.ttf) format("truetype"), url(../fonts/opensans/open-sans-v15-latin_latin-ext-700.svg) format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/opensans/open-sans-v15-latin_latin-ext-600.eot);
    src: url(../fonts/opensans/open-sans-v15-latin_latin-ext-600.eot%3F) format("embedded-opentype"), url(../fonts/opensans/open-sans-v15-latin_latin-ext-600.woff2) format("woff2"), url(../fonts/opensans/open-sans-v15-latin_latin-ext-600.woff) format("woff"), url(../fonts/opensans/open-sans-v15-latin_latin-ext-600.ttf) format("truetype"), url(../fonts/opensans/open-sans-v15-latin_latin-ext-600.svg) format("svg");
    font-weight: 600;
    font-style: normal
}

html {
    font-family: "Open Sans", sans-serif
}

section {
    min-height: 80vh
}

.row > * {
    padding: 0 30px 0 20px
}

h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase
}

h1 {
    font-weight: bold;
    font-size: 380%;
    color: #000;
    letter-spacing: 0.02em;
    margin-bottom: 0em;
    padding-bottom: 0em
}

h2 {
    font-weight: bold;
    margin-top: -0.15em;
    font-size: 220%;
    letter-spacing: 0.04em
}

h3 {
    font-weight: 900
}

.color-white {
    color: white
}

.color-black {
    color: black
}

h3 {
    margin-top: 1em
}

.flex-column {
    display: flex;
    flex-direction: column
}

.align-items-start {
    align-items: flex-start
}

.align-items-end {
    align-items: flex-end
}

.flex-row {
    display: flex;
    flex-direction: row
}

.flex-right-shrink {
    display: flex;
    flex-direction: row
}

.flex-right-shrink > div:nth-child(1) {
    flex: 1
}

.flex-right-shrink > div:nth-child(2) {
    flex-shrink: 1
}

.flex-left-shrink {
    display: flex;
    flex-direction: row
}

.flex-left-shrink > div:nth-child(1) {
    flex-shrink: 1;
    padding-right: 2em
}

.flex-left-shrink > div:nth-child(2) {
    flex: 1
}

.margin-top-5 {
    margin-top: 5vh
}

.margin-bottom-1 {
    margin-bottom: 1vh
}

.margin-bottom-3 {
    margin-bottom: 3vh
}

.margin-bottom-5 {
    margin-bottom: 5vh
}

.margin-top-3 {
    margin-top: 3vh
}

section#v_zahranici {
    background-color: #000;
    color: #f0f0f0
}

h2.section-title {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    letter-spacing: -0.01em;
    font-size: 350%
}

section#v_zahranici h3, section#v_zahranici h4 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    letter-spacing: -0.01em;
    font-size: 170%;
    margin: 0.8em 0;
    text-transform: none
}

section#v_zahranici .ribbon, section#kdy_a_kde .ribbon {
    padding: 1em 1em;
    padding-right: 2em;
    margin-top: 0.8em;
    margin-bottom: 0.8em
}

section#v_zahranici .ribbon.background-green {
    font-weight: bold
}

.section {
    padding: 6em 0 4em 0
}

section#zmena h2 {
    font-size: 310%;
    color: #000000
}

section#kdy_a_kde {
    background-color: black;
    color: white
}

section#kdy_a_kde h3 {
    font-size: 400%;
    margin-top: 0;
    font-weight: bold;
    text-align: left
}

section#kdy_a_kde .flex-column h3:first-child {
    font-size: 560%;
    line-height: 130%
}

.margin-horizontal-1 {
    margin-top: 1em;
    margin-bottom: 1em
}

section#kdy_a_kde .flex-column {
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: flex-start
}

.section h2::before {
    font-size: 340%;
    position: absolute;
    transform: translate(-0.55em, -0.2em)
}

.section1 h2::before {
    content: '1'
}

.section2 h2::before {
    content: '2'
}

.section3 h2::before {
    content: '3'
}

.section4 h2::before {
    content: '4'
}

section#co_kdyz {
    background-image: url(../img/volby_foto_e.jpg);
    background-position: bottom left;
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-color: #f3f3f1;
    position: relative
}

#co_kdyz .bcg-left-ribbon {
    position: absolute;
    left: 0;
    bottom: 5em
}

#co_kdyz .bcg-left-ribbon .ribbon {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-weight: bold;
    font-size: 240%;
    padding-left: 2em
}

#co_kdyz h2 {
    color: black;
    font-size: 400%;
    margin: 0;
    margin-bottom: 0.2em
}

#co_kdyz h3 {
    margin: 0;
    font-size: 250%;
    line-height: 120%
}

#co_kdyz .flex-column > div:first-child {
    margin-right: 2em
}

.vite_ze {
    color: #000;
    min-height: auto;
    font-size: 360%;
    font-weight: bold;
    padding: 2em 0;
    line-height: 120%
}

.quote-right, .quote-left {
    font-size: 400%;
    left: 0.3em;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 50%;
    transform: scaleX(130%)
}

.quote-left {
    margin-right: 0.2em
}

#vite_ze .with-quotes {
    width: 93%;
    transform: translateX(-2em)
}

.with-quotes > div:first-child {
    width: 10%;
    flex: 1
}

.with-quotes > div:last-child {
    width: 10%;
    flex: 1
}

@media only screen and (max-width: 800px) {
    #vite_ze .with-quotes {
        transform: none
    }

    .quote-right, .quote-left {
        display: none
    }
}

section#odkud {
    background-color: #000;
    color: #fff
}

section#odkud h2 {
    color: white;
    font-size: 400%
}

section#vzkazy {
    background-color: white;
    color: black;
    display: none
}

section#ambasador {
    background-color: black;
    color: white;
    display: none
}

.bebbas {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase
}

.bebbas-bold {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    text-transform: uppercase
}

.font-size-120 {
    font-size: 120%
}

.font-size-150 {
    font-size: 150%
}

.font-size-200 {
    font-size: 200%
}

.font-size-250 {
    font-size: 250%
}

.opensans {
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.05em;
    font-weight: 600
}

.opensans-bold {
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: -0.05em
}

@media only screen and (max-width: 800px) {
    .flex-row, .flex-right-shrink, .flex-left-shrink {
        flex-direction: column
    }
}

.btn {
    padding: 1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    position: relative;
    display: inline-block;
    margin: 0.5em 0
}

.btn-darkgrey, .btn-darkgrey::after {
    background-color: #323234;
    color: white
}

.btn-pink, .btn-pink::after {
    background-color: #d28c94;
    color: white
}

.btn-white, .btn-white::after {
    background-color: white;
    color: black;
}

.btn-black, .btn-black::after {
    background-color: #000;
    color: white
}

.btn-green, .btn-green::after {
    background-color: #b6c932;
    color: white
}

.btn::after {
    content: '>';
    font-family: 'Bebas Neue', sans-serif;
    font-size: 300%;
    display: flex;
    flex-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 2.8em;
    transform: scaleX(0.5) translateX(-50%);
    border-left: 0.1em solid white
}

.btn:hover {
    color: #d0d0d0
}

.btn:hover::after {
    color: #d0d0d0;
    border-color: #d0d0d0
}

.ribbon {
    background-color: #b6c932
}

.ribbon {
    font-size: 130%;
    padding: 1em 0.5em;
    mask-repeat: no-repeat;
    mask-size: auto 100%;
    position: relative;
    margin-bottom: 1em;
    color: white
}

.ribbon-multiline {
    padding-right: 2em
}

.ribbon-long {
    padding-left: 0;
    padding-right: 0
}

.background-yellow, .background-yellow:after, .background-yellow:before {
    background-color: #f9dc06
}

.background-green, .background-green:after, .background-green:before {
    background-color: #b6c932
}

.background-black, .background-black:after, .background-black:before {
    background-color: #000
}

.background-green, .background-yellow {
    text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.6)
}

.background-green.color-black, .background-yellow.color-black, .shadow-none {
    text-shadow: none
}

.color-yellow, .color-yellow a {
    color: #f9dc06
}

.text-bold {
    font-weight: bold
}

.color-green, .color-green a {
    color: #b6c932
}

.color-black, .color-black a {
    color: #000
}

.color-white, .color-white a {
    color: #fff
}

.bcg-left-ribbon .ribbon {
    margin-bottom: 0
}

.bcg-left-ribbon.background-yellow {
    background: linear-gradient(to right, #f9dc06, #f9dc06 35%, transparent 35%, transparent 100%)
}

.bcg-left-ribbon.background-black {
    background: linear-gradient(to right, #000, #000 35%, transparent 35%, transparent 100%)
}

.bcg-left-ribbon.background-green {
    background: linear-gradient(to right, #b6c932, #b6c932 35%, transparent 35%, transparent 100%)
}

.ribbon-link {
    pading: 0
}

.ribbon-link.ribbon-right a {
    padding: 1vh 1vw 1vh 2em
}

.ribbon-link.ribbon-left a {
    padding: 1vh 2em 1vh 1vw
}

.ribbon-link:hover {
    text-decoration: underline
}

.ribbon-link a::after {
    content: '>';
    position: absolute;
    right: 0em;
    top: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 200%;
    padding: 0;
    transform: scaleX(0.5) translateX(50%) translateY(0.2em)
}

@media only screen and (max-width: 800px) {
    .ribbon-link a::after {
        display: none
    }
}

.ribbon-left {
    clip-path: polygon(-500% 0%, 100% 0, calc(100% - 0.5em) 50%, 100% 100%, -500% 100%);
    -webkit-clip-path: polygon(-500% 0%, 100% 0, calc(100% - 0.5em) 50%, 100% 100%, -500% 100%)
}

.ribbon-right {
    clip-path: polygon(0% 0%, 500% 0, 500% 100%, 0% 100%, 0.5em 50%);
    -webkit-clip-path: polygon(0% 0%, 500% 0, 500% 100%, 0% 100%, 0.5em 50%)
}

.ribbon-left.ribbon-multiline {
    clip-path: polygon(-500% 0%, 100% 0, calc(100% - 1em) 50%, 100% 100%, -500% 100%);
    -webkit-clip-path: polygon(-500% 0%, 100% 0, calc(100% - 1em) 50%, 100% 100%, -500% 100%)
}

.ribbon-right.ribbon-multiline {
    clip-path: polygon(0% 0%, 500% 0, 500% 100%, 0% 100%, 1em 50%);
    -webkit-clip-path: polygon(0% 0%, 500% 0, 500% 100%, 0% 100%, 1em 50%)
}

.ribbon-left.ribbon-long::before {
    width: 100vh;
    height: 100%;
    top: 0;
    left: -100vh;
    content: '';
    display: block;
    position: absolute
}

.ribbon-right.ribbon-long::after {
    width: 100vh;
    height: 100%;
    top: 0;
    left: 100%;
    content: '';
    display: block;
    position: absolute
}

.width-70 {
    width: 70%
}

.width-90 {
    width: 90%
}

.padding-left-3 {
    padding-left: 3em
}

.clock {
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center
}

.clock-disp {
    background-image: url(../img/clock_background.png);
    background-position: center;
    background-size: 96% 96%;
    background-repeat: no-repeat;
    width: 20em;
    height: 20em;
    display: block;
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase
}

.clock-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 720%;
    font-weight: bold
}

.clock-unit {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 260%;
    font-weight: bold
}

.carousel-articles {
    max-width: 30em
}

.carousel-articles h4 {
    margin-top: 1em;
    font-weight: bold;
    font-size: 180%
}

.carousel-articles {
    background-color: black;
    color: white;
    padding: 0 0 2em 0
}

.carousel-articles img {
    width: 100%
}

.carousel-articles p, .carousel-articles h4 {
    padding: 0 10px;
    max-width: 20em
}

.carousel-articles .btn {
    margin: 20px
}

.glide__bullets {
    bottom: 0.6em !important;
}

ul.countries-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 120%
}

@media only screen and (max-width: 800px) {
    ul.countries-list {
        flex-direction: column
    }
}

.countries-list ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px
}

.countries-list {
    font-weight: 600;
    letter-spacing: 0.03em
}

.countries-list ul li ul {
    display: none
}

.countries-list li:hover ul {
    display: block
}

.countries-list {
    display: flex;
    flex-direction: row
}

.countries-list > li {
    display: flex;
    flex: 1;
    flex-direction: column
}

.countries-list > li > .btn {
    font-size: 120%;
    font-weight: 600;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    flex: 1;
    max-height: 2.6em;
    margin-right: 3.4em;
    letter-spacing: 0.05em;
    margin-bottom: 0.25em
}

.countries-list > li > .btn, .countries-list > li > .btn:after {
    background-color: #a2a2a2;
    color: white;
    border-color: #000
}

.countries-list > li > .btn {
    margin-right: 2.4em
}

.countries-list > li > .btn:after {
    width: 1.5em
}

.countries-list > li:hover > .btn, .countries-list > li:hover > .btn:after {
    background-color: #b6c932;
    color: #000
}

.countries-list > li {
    position: relative
}

.countries-list > li > ul {
    display: none;
    flex-direction: column;
    z-index: 500;
    position: absolute;
    top: 4em
}

.countries-list > li:hover > ul {
    display: flex
}

.countries-list > li > ul > li {
    display: flex;
    flex: 1
}

.countries-list > li > ul > li > a {
    display: block;
    flex: 1
}

.countries-list > li > ul > li > a {
    background-color: #a2a2a2;
    color: white;
    border-style: none;
    padding: 0.2em 0.6em 0.2em 2em
}

.countries-list > li > ul > li > a:hover, .countries-list > li > ul > li.active > a {
    color: black
}

.countries-list > li > ul > li:hover a, .countries-list > li > ul > li.active a {
    color: black
}

.countries-list > li > ul > li:hover a:after {
    font-size: 200%;
    line-height: 70%;
    vertical-align: top;
    content: '>';
    display: inline-block;
    transform: scaleX(50%) translateX(2em)
}

.countries-list-all {
    position: relative;
    min-height: 40em
}

#countries-list-data {
    z-index: 10;
    width: 100%;
    max-width: 30em;
    align-self: center;
    margin: 1.6em auto 0
}

.countries-list-country-header {
    display: flex;
    flex-direction: row
}

.countries-list-country-header > :first-child {
    margin-right: 1em
}

.countries-list-country-header > :nth-child {
    border-bottom: 1px dashed white
}

.consulate-entry {
    margin-bottom: 2em
}

.consulate-entry p {
    margin: 0
}

.consulate-entry h5 {
    font-size: 130%
}

.countries-list-country-header img {
    border: 1px solid white
}

.consulate-entry .p-adr {
    font-size: 100%;
    border-bottom: 1px dashed white
}

section#intro {
    background-image: url(../img/ilustrace_hlavicka.svg);
    background-position: bottom right;
    background-repeat: no-repeat
}

@media only screen and (max-width: 1200px) {
    section#intro {
        background-position-x: 26em
    }
}

section#intro .ribbon {
    font-size: 150%
}

section#intro h1 {
    width: 10em;
    font-size: max(3vmax, 300%);
    line-height: 110%;
    margin-top: 2vh;
    background-color: #fff
}

section#intro h2 {
    font-size: max(1vmax, 170%);
    color: #b6c932;
    background-color: #fff
}

section#intro img {
    max-height: 25vh
}

@media only screen and (max-width: 800px) {
    section#intro {
        background-image: none
    }
}

@media only screen and (max-width: 800px) {
    .only-desktop {
        display: none
    }
}