---
layout: page
title: Nevěřte hoaxům a nenechte sebou manipulovat podvodníky!
maintext: |
  Piráti vedou transparentní účetnictví, disponují registrem lobbistických kontaktů se zápisy o všech pracovních schůzkách, zastupitelé a poslanci si vedou otevřené kalendáře. Veškeré činnosti Pirátů jsou dohledatelné a ověřitelné. Přesto se tu a tam objeví zavádějící, zkreslená či přímo lživá tvrzení. Vyvracíme je pomocí veřejně dostupných zdrojů a faktů. Na tomto místě prezentujeme největší nesmysly, které o Pirátech prezentovali vtipálci nebo odpůrci Pirátů.
rbar: ""
img: miscellaneous/volebni-rozcestnik.png
description: Nevěřte hoaxům a nenechte sebou manipulovat podvodníky! Ukázky těch nejčastějších hoaxů a fake news najdete na této stránce. Piráti vedou transparentní účetnictví, disponují registrem lobbistických kontaktů se zápisy o všech pracovních schůzkách, zastupitelé a poslanci si vedou otevřené kalendáře. Veškeré činnosti Pirátů jsou dohledatelné a ověřitelné. Přesto se tu a tam objeví zavádějící, zkreslená či přímo lživá tvrzení. Vyvracíme je pomocí veřejně dostupných zdrojů a faktů. Na tomto místě prezentujeme největší nesmysly, které o Pirátech prezentovali vtipálci nebo odpůrci Pirátů.
keywords: hoax, manipulace, alternativní pravda
items:
  - title: Jakub Michálek ví, kdy vzniknul internet
    hoax: Jakub Michálek si myslí, že Tomáš Garrigue Masaryk měl připojení k internetu a je autorem citátu, že "vše co lidé naleznou na internetu, nemusí být pravda".
    truth: |
      V reakci na vyjádření Ministerstva financí o zprávě OLAF k vyšetřování dotací pro farmu Čapí Hnízdo uvedl Jakub Michálek v internetovém pořadu Duel (seznamzpravy.cz) tuto větu: “Chtěl jsem uvést na pravou míru skutečnosti, aby občané nespoléhali na všechny informace, které si přečtou na internetových stránkách Ministerstva financí, protože už Tomáš Garrigue Masaryk říkal, že vše, co najdete na internetu, nemusí být pravda.” 
      Jde o zjevnou připomínku fiktivního Masarykova citátu, který už mnoho let koluje po internetu a upozorňuje lidi, že nemají slepě věřit všemu, co si na internetu přečtou. Tento citát, obrázky Masaryka s počítačem a související humor patří mezi známé vtipy českého internetu. I dnes se někteří důvěřivci nechají touto zjevnou blbostí napálit.
      TGM to sice neřekl, ale mohl to říct. Kdyby internet vzniknul o 60 let dřív…
      Kromě toho, že Jakub Michálek vystudoval práva a teoretickou fyziku, patří mezi jeho záliby i programování. Vzhledem k tomu je naivní se domnívat, že uvedené vyjádření myslel vážně. Některé vtipy nemusí být provázené salvou huronského smíchu, jak to činí lidoví baviči v estrádách. 
    img: hoax/jakub-michalek-vi-kdy-vzniknul-internet.png
    link: jakub-michalek-vi-kdy-vzniknul-internet
    imginfo: |
      TGM to sice neřekl, ale mohl to říct. Kdyby internet vzniknul o 60 let dříve.
     
  - title: Tiskovou mluvčí Pirátů je Karolína Sadílková, nikoliv Jordanka Jirásková
    hoax: Jordanka Jirásková je mluvčí Pirátů a prosazuje návrh, aby lidé bez vysoké školy a obyvatelé vesnic přišli o volební právo.
    truth: |
      Jordanka Jirásková je členka Strany svobodných občanů a aktivistka. Na serveru Youtube baví ironickými komentáři a píše si vlastní blog. S Piráty nemá nic společného a její výstupy jsou tu méně, tu více povedenou satirou. Bohužel se v některých příspěvcích lživě označuje za mluvčí Pirátů. Humor Jordanky je svérázný a občas i vtipný. Dokud jej nemusíte někomu vysvětlovat. Skutečná mluvčí Pirátské strany se jmenuje Karolína Sadílková, žádná podobná videa netočí a názory paní Jiráskové nesdílí. 
    img: hoax/tiskovou-mluvci-neni-jordanka-jiraskova.png 
    link: tiskovou-mluvci-neni-jordanka-jiraskova
    imginfo: |
      Humor Jordanky je svérázný a občas i vtipný. Dokud jej nemusíte někomu vysvětlovat.
    
  - title: Sociální bydlení není téma migrace a uprchlíků
    hoax: Pirátská poslankyně Olga Richterová chce místo startovních bytů pro mladé darovat byty uprchlíkům.
    truth: |
      Kromě témat spojených s mateřstvím a zdravotní péčí se poslankyně Richterová zabývá problematikou sociálního bydlení. Příspěvek a doplatek na bydlení pobírá v ČR kolem 250 tisíc lidí. Ztráta bydlení hrozí až 150 tisíc lidem. Sociální bydlení jim má poskytnout důstojné bydlení alespoň po přechodnou dobu. 
      Anonymové z facebookové skupiny Pirátská pravda a ideologicky nakloněných stránek, včetně SPD, lež o tom, že Olga Richterová chce byty poskytnout uprchlíkům, opakovaně uvádějí a sdílí na svých stránkách. Možná ale i někteří z nich patří mezi příjemce zmíněných dávek, případně jsou dokonce ohroženi ztrátou bydlení. I takovým lidem má náš návrh pomoct. 
    img: hoax/socialni-bydleni-neni-tema-migrace-a-uprchliku.png 
    link: socialni-bydleni-neni-tema-migrace-a-uprchliku
    imginfo: |
      Lživý příspěvek sdílený SPD Praha 10. SPD odmítá mediální výchovu, ale sama by ji zoufale potřebovala.

  - title: Ivan Bartoš není a nikdy nebyl členem Antify
    hoax: Ivan Bartoš je členem extremistické organizace Antifa.
    truth: |
      Ivan Bartoš není a nikdy nebyl členem organizace Antifa. Vlajku, kterou vlastní, koupil v berlínské čtvrti Kreuzberg a považuje ji za historický symbol odporu německé společnosti proti nastupujícímu nacismu ve 30. letech. 
    img: hoax/ivan-bartos-neni-a-nikdy-nebyl-clenem-antify.jpg 
    link: ivan-bartos-neni-a-nikdy-nebyl-clenem-antify
    imginfo: |
      Některé anonymní facebookové stránky používají logo Antify a Pirátů, aby dodaly váhu svým dezinformacím o jejich propojení.

  - title: Piráty neovládají muslimové z EU ani Soroš
    hoax: Piráty ovládá Evropská unie, jsou Sorošova mládež a v jejich vedení stojí muslimové.
    truth: |
      Česká Pirátská strana vznikla z iniciativy programátora Jiřího Kadeřávka v roce 2009. Pirátská internacionála vznikla v roce 2010 v Bruselu. V roce 2017 jí byl udělen status pozorovatele při OSN. Hlásí se k ní pirátské strany z celého světa a její vedení se volí každý rok. V čele nyní stojí Švýcar Guillaume Saouli a Kanaďanka Bailey Lamon. Členy Pirátské strany jsou křesťané, muslimové, židé i ateisté a každý z nich se může účastnit voleb. Pirátská internacionála je volné sdružení stran a stejně jako v EU i zde platí princip subsidiarity, podle nějž se rozhodování provádí na nejnižším stupni, který je nejblíže jednotlivcům.
      George Soros Pirátům nepřispívá. V posledních volbách jsme utratili kolem 8 milionů korun, naše kampaň měla podle Úřadu pro dohled nad hospodařením politických stran a hnutí hodnotu 16 milionů korun. Máme efektivní kampaň taženou dobrovolníky a kandidáty, netapetujeme veřejný prostor nevkusnými billboardy. https://udhpsh.cz/
    img: hoax/piraty-neovladaji-muslimove-z-eu-ani-soros.jpg 
    link: piraty-neovladaji-muslimove-z-eu-ani-soros
    imginfo: |
      Otevřené účetnictví, veškeré faktury a smlouvy na internetu a práce stovek dobrovolníků. I proto vedou Piráti nejefektivní volební kampaně ze všech stran. 

  - title: Je možné, že v Praze naleznete černý výlep lživých nálepek – nejsme jejich autory
    hoax: Prolomíme těžební limity. Vyženeme Pražáky z Prahy. Uprchlíci vítejte, Pražáci táhněte.
    truth: |
      Výše uvedené věty jsou ukázkou toho, jak se snaží anonymové na Pirátech parazitovat a poškodit je. Lživá tvrzení o Pirátech a jejich poslancích na falešných stránkách porušují pravidla Facebooku a ten vybrané stránky opakovaně maže. Lživý obsah stránky sdílela SPD, aby se mohla pohoršovat nad pirátským programem. Pokud takové nálepky uvidíte, nejsou naším dílem, ale tvorbou konkurence, která nás chce poškodit. 
    img: hoax/falesne-a-lzive-samolepky.png
    link: falesne-a-lzive-samolepky
    imginfo: |
      Tisíce lživých samolepek, které se chystají distribuovat neznámí autoři stránek Pirátská pravda.      
---

<section class="o-section o-section--spaceBot">
  <div class="o-section-inner">
    <div class="o-section-block">
      <div class="c-BasicPage">
        <div class="c-BasicPage-content">
          <div class="row">
            <div class="columns small-12">
              <p class='text-justify'>
              {{page.maintext}}
              </p>
              <p>
                <ul>
                {% for item in page.items %}
                  <li><a href="#{{item.link}}">{{item.title}}</a>
                {% endfor %}
                </ul>
              </p>
            </div>
          </div>
          {% for item in page.items %}
          <hr style='margin-bottom:2em;'>
          <div id="{{item.link}}">
            <div class="row">
              <div class="small-12 columns">
                <h2>{{item.title}}</h2>
              </div>  
            </div>  
            <div class="row">
              <div class="small-12 columns">
                <div class='callout' style='background-color:black; border:0; color:white; padding-top:1em; padding-bottom:1em; border-radius: 6px;'>
                  <div class="row">
                    <div class="small-12 large-7 columns">
                      <div>
                        <h3 style='font-style:italic; line-height:1.9; font-size:125%;'>“{{item.hoax}}”</h3>                        
                        <p>
                          <img src='/assets/img/hoax/hoax-header.png' alt='Hoax'>
                        </p>  
                      </div>
                    </div>
                    <div class="small-12 large-5 columns">
                      <img src="/assets/img/{{item.img}}" alt="{{item.imginfo}}">
                      <div style='font-size:70%; padding-top:0.4em;'><i>{{item.imginfo}}</i></div>
                    </div>
                  </div>                
                </div>
              </div>
            </div>        
            <div class="row">
              <div class="small-12 columns">
                <div style='margin-bottom:0.4em;'><strong><br/>JAK TO JE:</strong></div>
                <p class='text-justify'>
                {{item.truth}}
                </p>
              </div>                
            </div>
          </div>                  
          {% endfor %}  
        </div>
      </div>
    </div>
  </div>
</section>
