<ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
<li class="c-widget-accordion-item" data-accordion-item="">
    <a href="#" class="c-widget-accordion-link">
    <span class="c-widget-accordion__title">{{atitle}}</span>
    <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom c-widget-accordion__icon--bottomPulled" aria-hidden="true">
        <i class="fa fa-users fa-lg"></i>
    </span>
    </a>
    <div class="c-widget-accordion-content" data-tab-content="">
    <div class="c-widget-accordion-content-inner">
    
    </div>
    <div class="c-widget-accordion-content__cta">
        <a class="expanded button large" href="#"> Poznejte celý náš tým! </a>
    </div>
    </div>
</li>
</ul>
