<div class="u-sticky">
	<label class="prefix">Zvolte účet:</label>
	<select id="account_control"></select>
</div>
<div id="account_chart"></div>
<div id="account_table_wrapper" class="table-scroll"><table id="account_table" class="table-hover w-accounting__table"></table></div>
<div class="row text-center">
	<div class="columns medium-6">
		<h4><a data-modal href="/snemovna/vydelky.html">Výdělky dodavatelů klubu</a></h4>
	</div>
	<div class="columns medium-6">
		<h4><a data-modal href="/snemovna/platy.html">Platy poslanců</a></h4>
	</div>
</div>