<div class="u-sticky">
	<label class="prefix">Zvolte účet:</label>
	<select id="account_control"></select>
</div>
<div id="account_chart"></div>
<div id="account_table_wrapper" class="table-scroll">
	<table id="account_table" class="table-hover w-accounting__table"></table>
</div>

<div class="row text-center">
	<div class="columns medium-6">
		<h4><span class="button secondary" data-modal href="/snemovna/vydelky.html">Výdělky dodavatelů klubu</span></h4>
	</div>
	<div class="columns medium-6">
		<h4><span class="button secondary" data-modal href="/snemovna/platy.html">Platy poslanců</span></h4>
	</div>
</div>
