<div class="text-right show-for-medium-up">
      <a href="https://github.com/pirati-web/pirati.cz/edit/gh-pages/{{ page.path }}" class="label secondary" style="background-color:#bbb">
          <i class="fa fa-pencil"></i>
 Navrhni úpravu</a>
</div>




<footer class="o-section o-section--tiled o-section--bigger u-inverted u-cf">
	

  <div class="o-section-inner">
    <div class="row">
      <div class="medium-12 large-3 u-stacked-medium-down columns">
        <a href="{{ '/portal' | relative_url }}">
          <img src="{{ 'assets/img/brand/logo_napis_white.png' | relative_url }}" style="width: 170px" alt="Česká pirátská strana" class="u-center-medium-down u-10paddingTop">
        </a>
        <p class="u-0margin u-noWrap u-50paddingTop u-smaller-line-height show-for-large">
          <span class="u-mirror-horizontally">&copy;</span> Piráti, {{ site.time | date: '%Y' }}. Všechna práva vyhlazena.
          <br> Sdílejte a nechte ostatní sdílet za stejných
          <br> podmínek.
          <br><br> <a href="{{'o-nas/ochrana-osobnich-udaju' | relative_url}}" style="text-decoration:none;">Zásady ochrany osobních údajů</a>
      </div>
      <div class="medium-12 large-7 u-stacked-medium-down columns">
        <div class="row u-custom-gutter">
          {% for linkGroup in site.data.menu.bottom %}
            <div class="columns {{ linkGroup.class }}">
                <nav class="c-vertical-navigation u-center---medium-down">
                  {% if linkGroup.title %}
                    {% if linkGroup.link %}
                      <h3 class="c-vertical-navigation__title"><a href="{{ linkGroup.link }}">{{ linkGroup.title }}</a></h3>
                    {% else %}
                      <h3 class="c-vertical-navigation__title">{{ linkGroup.title }}</h3>
                    {% endif %}
                  {% endif %}
                  <ul class="c-vertical-navigation-items">
                    {% for linkGroupItem in linkGroup.links %}
                    <li class="c-vertical-navigation__item">
                      {% if linkGroupItem.title %}
                        <a href="{{ linkGroupItem.link }}" title="{{ linkGroupItem.title }}">{{ linkGroupItem.name }}</a>
                      {% else %}
                        <a href="{{ linkGroupItem.link }}">{{ linkGroupItem.name }}</a>
                      {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                </nav>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="medium-12 large-2 u-stacked-medium-down columns u-center-medium-down">
        <nav class="c-vertical-navigation">
          <h3 class="c-vertical-navigation__title">Buďte s námi v síti</h3>
          <ul class="c-vertical-navigation-items c-vertical-navigation-items--horizontal">
            <li class="c-vertical-navigation__item">
              <a href="{{site.fb}}" rel="noopener noreferrer" title="Facebook - Česká pirátská strana">
                <i class="fa fa-facebook c-icon c-icon--rounded c-icon--facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="c-vertical-navigation__item">
              <a href="https://www.twitter.com/{{site.tw}}" rel="noopener noreferrer" title="Twitter - Česká pirátská strana">
                <i class="fa fa-twitter c-icon c-icon--rounded c-icon--twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="c-vertical-navigation__item">
              <a href="https://www.instagram.com/pirati.cz/" rel="noopener noreferrer" title="Instagram - Česká pirátská strana">
                <i class="fa fa-instagram c-icon c-icon--rounded c-icon--instagram" aria-hidden="true"></i>
              </a>
            </li>
            {% comment%}
            <li class="c-vertical-navigation__item">
              <a href="https://plus.google.com/+piratskastrana" rel="noopener noreferrer" title="Google Plus - Česká pirátská strana">
                <i class="fa fa-google-plus c-icon c-icon--rounded c-icon--googlePlus" aria-hidden="true"></i>
              </a>
            </li>
            {%endcomment%}
          </ul>
        </nav>
        <p class="u-10paddingTop u-maxWidth80percent u-smaller-line-height hide-for-large">
          <span class="u-mirror-horizontally">&copy;</span> Piráti, {{ site.time | date: '%Y' }}. Všechna práva vyhlazena.
          <br> Sdílejte a nechte ostatní sdílet za stejných podmínek.
      </div>
    </div>
  </div>
</footer>

<aside class="o-section o-section--bigger c-contact-bar u-inverted u-center-medium-down">
  <div class="o-section-inner">
    <div class="row">
      <div class="small-12 columns">
        <header class="c-contact-bar-header u-stacked-medium-down">
          <h3 class="c-contact-bar__heading"> <a href="{{ '/kontakt/' | relative_url }}">Kontakt</a> </h3>
        </header>
        <ul class="c-contact-bar-items u-stacked-medium-down">
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section">Občané</div>
            <div class="c-contact-bar__description">
              <a href="mailto:info@pirati.cz">info@pirati.cz</a>
            </div>
          </li>
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section"> Média </div>
            <div class="c-contact-bar__description">Vratislav Filípek,
              <a href="mailto:vratislav.filipek@pirati.cz">vratislav.filipek@pirati.cz</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<div class='scrolltop'>
    <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>
</div>

 
{% include cookie-consent.html %}
