<div class="text-right show-for-medium-up">
      <a href="https://github.com/pirati-web/pirati.cz/edit/gh-pages/{{ page.path }}" class="label secondary" style="background-color:#bbb">
          <i class="fa fa-pencil"></i>
 Navrhni úpravu</a>
</div>


<footer class="o-section o-section--tiled o-section--bigger u-inverted u-cf">
  <div class="o-section-inner">
    <div class="row">
      <div class="medium-12 large-3 u-stacked-medium-down columns">
        <img src="{{ 'assets/img/brand/logo.svg' | relative_url }}" style="width: 170px" alt="Česká pirátská strana" class="u-center-medium-down u-10paddingTop">
        <p class="u-0margin u-noWrap u-50paddingTop u-smaller-line-height show-for-large">
          <span class="u-mirror-horizontally">&copy;</span> Piráti, 2016. Všechna práva vyhlazena.
          <br> Sdílejte a nechte ostatní sdílet za stejných
          <br> podmínek.
      </div>
      <div class="medium-12 large-7 u-stacked-medium-down columns">
        <div class="row u-custom-gutter">
          <div class="small-6 medium-3 columns">
            <nav class="c-vertical-navigation u-center-medium-only">
              <h3 class="c-vertical-navigation__title">O nás</h3>
              <ul class="c-vertical-navigation-items">
                <li class="c-vertical-navigation__item">
                  <a href="{{ 'lide/' | relative_url }}">Lidé</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="{{ 'regiony/' | relative_url }}">Regiony</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="{{ 'program/' | relative_url }}">Program</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="small-6 medium-3 columns">
            <nav class="c-vertical-navigation u-center-medium-only">
              <h3 class="c-vertical-navigation__title">Připoj se</h3>
              <ul class="c-vertical-navigation-items">
                <li class="c-vertical-navigation__item">
                  <a href="{{ 'pripoj-se/' | relative_url }}">Dej nám vedět</a>
                </li>
                {% comment %}
                <li class="c-vertical-navigation__item">
                  <a href="{{ 'pripoj-se/tymy/' | relative_url }}">Naše týmy</a>
                </li>
                {% endcomment %}
              </ul>
            </nav>
          </div>
          <div class="small-6 medium-3 u-mobile-down-clear columns">
            <nav class="c-vertical-navigation u-center-medium-only">
              <h3 class="c-vertical-navigation__title">Makáme</h3>
              <ul class="c-vertical-navigation-items">
                <li class="c-vertical-navigation__item">
                  <a href="{{ 'aktuality/' | relative_url }}">Aktuality</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="{{ 'pripoj-se/kalendar/' | relative_url }}">Kalendář</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="small-6 medium-3 columns">
            <nav class="c-vertical-navigation u-center-medium-only">
              <h3 class="c-vertical-navigation__title"><a href="{{ '/otevrenost/' | relative_url }}">Otevřenost</a></h3>
              <ul class="c-vertical-navigation-items">
                <li class="c-vertical-navigation__item">
                  <a href="https://ucet.pirati.cz">Transparentní účet</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="https://smlouvy.pirati.cz">Registr smluv</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="https://wiki.pirati.cz/fo/otevrene_ucetnictvi">Otevřené účetnictví</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="medium-12 large-2 u-stacked-medium-down columns u-center-medium-down">
        <nav class="c-vertical-navigation">
          <h3 class="c-vertical-navigation__title">Buďte s námi v síti</h3>
          <ul class="c-vertical-navigation-items c-vertical-navigation-items--horizontal">
            <li class="c-vertical-navigation__item">
              <a href="https://www.facebook.com/ceska.piratska.strana/" rel="noopener noreferrer" title="Facebook - Česká pirátská strana">
                <i class="fa fa-facebook c-icon c-icon--rounded c-icon--facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="c-vertical-navigation__item">
              <a href="https://twitter.com/PiratePartyCZ" rel="noopener noreferrer" title="Twitter - Česká pirátská strana">
                <i class="fa fa-twitter c-icon c-icon--rounded c-icon--twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="c-vertical-navigation__item">
              <a href="https://plus.google.com/+piratskastrana" rel="noopener noreferrer" title="Google Plus - Česká pirátská strana">
                <i class="fa fa-google-plus c-icon c-icon--rounded c-icon--googlePlus" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </nav>
        <p class="u-10paddingTop u-maxWidth80percent u-smaller-line-height hide-for-large">
          <span class="u-mirror-horizontally">&copy;</span> Piráti, 2016. Všechna práva vyhlazena.
          <br> Sdílejte a nechte ostatní sdílet za stejných podmínek.
      </div>
    </div>
  </div>
</footer>
<aside class="o-section o-section--bigger c-contact-bar u-inverted u-center-medium-down">
  <div class="o-section-inner">
    <div class="row">
      <div class="small-12 columns">
        <header class="c-contact-bar-header u-stacked-medium-down">
          <h3 class="c-contact-bar__heading"> Kontakt </h3>
        </header>
        <ul class="c-contact-bar-items u-stacked-medium-down">
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section"> Média </div>
            <div class="c-contact-bar__description"> Mikuláš Ferjenčík,
              <a href="mailto:mikulas.ferjencik@pirati.cz">mikulas.ferjencik@pirati.cz</a>
            </div>
          </li>
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section"> Občané </div>
            <div class="c-contact-bar__description"> Ljuba Poláková,
              <a href="mailto:info@pirati.cz">info@pirati.cz</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<div class='scrolltop'>
    <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>
</div>
