<footer class="o-section o-section--tiled o-section--bigger u-inverted u-cf">
  <div class="o-section-inner">
    <div class="row">
      <div class="medium-12 large-3 u-stacked-medium-down columns">
        <img src="{{ '/assets/img/brand/logo.svg' | prepnd: site.baseurl}}" style="width: 170px" alt="Česká pirátská strana" class="u-center-medium-down u-10paddingTop">
        <p class="u-0margin u-noWrap u-50paddingTop u-smaller-line-height show-for-large">
          <span class="u-mirror-horizontally">&copy;</span> Piráti, 2016. Všechna práva vyhlazena.
          <br> Sdílejte a nechte ostatní sdílet za stejných
          <br> podmínek.
          <a href="#">Podmínky použití</a>.</p>
      </div>
      <div class="medium-12 large-7 u-stacked-medium-down columns">
        <div class="row u-custom-gutter">
          <div class="small-6 medium-3 columns">
            <nav class="c-vertical-navigation u-center-medium-only">
              <h3 class="c-vertical-navigation__title">O nás</h3>
              <ul class="c-vertical-navigation-items">
                <li class="c-vertical-navigation__item">
                  <a href="#">Tým</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="#">Městské části</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="#">Program</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="#">Projekty</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="#">Podporuji</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="small-6 medium-3 columns">
            <nav class="c-vertical-navigation u-center-medium-only">
              <h3 class="c-vertical-navigation__title">Připoj se</h3>
              <ul class="c-vertical-navigation-items">
                <li class="c-vertical-navigation__item">
                  <a href="#">Členství</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="#">Stáže</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="#">Přispěj</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="#">Nezávislý aktivista</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="small-6 medium-3 u-mobile-down-clear columns">
            <nav class="c-vertical-navigation u-center-medium-only">
              <h3 class="c-vertical-navigation__title">Makáme</h3>
              <ul class="c-vertical-navigation-items">
                <li class="c-vertical-navigation__item">
                  <a href="#">Aktivity</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="#">Kalendář</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="#">Pro členy</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="#">Udělali jsme pro vás</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="small-6 medium-3 columns">
            <nav class="c-vertical-navigation u-center-medium-only">
              <h3 class="c-vertical-navigation__title">Transparence</h3>
              <ul class="c-vertical-navigation-items">
                <li class="c-vertical-navigation__item">
                  <a href="#">Transparentní účet</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="#">Evidence lobbistů</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="#">Registr smluv</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="#">Technické systémy</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="medium-12 large-2 u-stacked-medium-down columns u-center-medium-down">
        <nav class="c-vertical-navigation">
          <h3 class="c-vertical-navigation__title">Buďte s námi v síti</h3>
          <ul class="c-vertical-navigation-items c-vertical-navigation-items--horizontal">
            <li class="c-vertical-navigation__item">
              <a href="#" rel="noopener noreferrer" title="Facebook - Česká pirátská strana">
                <i class="fa fa-facebook c-icon c-icon--rounded c-icon--facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="c-vertical-navigation__item">
              <a href="#" rel="noopener noreferrer" title="Twitter - Česká pirátská strana">
                <i class="fa fa-twitter c-icon c-icon--rounded c-icon--twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="c-vertical-navigation__item">
              <a href="#" rel="noopener noreferrer" title="Google Plus - Česká pirátská strana">
                <i class="fa fa-google-plus c-icon c-icon--rounded c-icon--googlePlus" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </nav>
        <p class="u-10paddingTop u-maxWidth80percent u-smaller-line-height hide-for-large">
          <span class="u-mirror-horizontally">&copy;</span> Piráti, 2016. Všechna práva vyhlazena.
          <br> Sdílejte a nechte ostatní sdílet za stejných podmínek.
          <a href="#">Podmínky použití</a>.</p>
      </div>
    </div>
  </div>
</footer>
<aside class="o-section o-section--bigger c-contact-bar u-inverted u-center-medium-down">
  <div class="o-section-inner">
    <div class="row">
      <div class="small-12 columns">
        <header class="c-contact-bar-header u-stacked-medium-down">
          <h3 class="c-contact-bar__heading"> Kontakt </h3>
        </header>
        <ul class="c-contact-bar-items u-stacked-medium-down">
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section"> Média </div>
            <div class="c-contact-bar__description"> Mikuláš Ferjenčík,
              <a href="#">mikulas.ferjencik@pirati.cz</a>
            </div>
          </li>
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section"> Občané </div>
            <div class="c-contact-bar__description"> Adam Zábranský,
              <a href="">adam.zabransky@pirati.cz</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
