<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ 'assets/favicon/apple-touch-icon-57x57.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'assets/favicon/apple-touch-icon-114x114.png' | prepend: site.baseurl  }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'assets/favicon/apple-touch-icon-72x72.' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'assets/favicon/apple-touch-icon-144x144.' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ 'assets/favicon/apple-touch-icon-60x60.' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ 'assets/favicon/apple-touch-icon-120x120.' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ 'assets/favicon/apple-touch-icon-76x76.' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ 'assets/favicon/apple-touch-icon-152x152.' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ 'assets/favicon/favicon-196x196.png' | prepend: site.baseurl }}" sizes="196x196">
    <link rel="icon" type="image/png" href="{{ 'assets/favicon/favicon-96x96.png' | prepend: site.baseurl }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ 'assets/favicon/favicon-32x32.png' | prepend: site.baseurl }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ 'assets/favicon/favicon-16x16.png' | prepend: site.baseurl }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ 'assets/favicon/favicon-128.png' | prepend: site.baseurl }}" sizes="128x128">
    <meta name="application-name" content="Česká pirátská strana">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="{{ 'assets/favicon/mstile-144x144.' | prepend: site.baseurl }}">
    <meta name="msapplication-square70x70logo" content="{{ 'assets/favicon/mstile-70x70.' | prepend: site.baseurl }}">
    <meta name="msapplication-square150x150logo" content="{{ 'assets/favicon/mstile-150x150.' | prepend: site.baseurl }}">
    <meta name="msapplication-wide310x150logo" content="{{ 'assets/favicon/mstile-310x150.' | prepend: site.baseurl }}">
    <meta name="msapplication-square310x310logo" content="{{ 'assets/favicon/mstile-310x310.' | prepend: site.baseurl }}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300i,400,500,700&subset=latin-ext" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ 'css/main.css' | prepend: site.baseurl }}">
</head>
