<div class='thetop'></div>
<aside class="o-section o-section--smaller c-header-bar u-inverted u-inverted--darker u-center-860-down">
  <div class="row">
    <div class="o-section-inner" style="padding: 3px;">
      <div class="small-9 columns">
        <ul class="c-header-bar-items">
          <li class="c-header-bar__item c-header-bar__item--smallerSpace">
            <a href="https://www.facebook.com/ceska.piratska.strana/" rel="noopener noreferrer" target="_blank" title="Facebook - Česká pirátská strana">
              <i class="fa fa-facebook" aria-hidden="true"></i>
          </a></li>
          <li class="c-header-bar__item c-header-bar__item--smallerSpace">
            <a href="https://twitter.com/PiratePartyCZ" rel="noopener noreferrer" target="_blank" title="Twitter - Česká pirátská strana">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li class="c-header-bar__item c-header-bar__item--smallerSpace">
            <a href="https://plus.google.com/u/0/+piratskastrana" rel="noopener noreferrer" target="_blank" title="Google Plus - Česká pirátská strana">
              <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        <div class="c-header-bar-divider"></div>
        <ul class="c-header-bar-items c-header-bar-items--bigLh">
        {% for item in site.data.top-menu %}
          <li class="c-header-bar__item">
            <a href="{{ item.url }}" rel="noopener noreferrer" target="_blank">
              <i class="{{ item.icon }}" aria-hidden="true"></i>
              <span class="c-header-bar__itemDescription">{{ item.link }}</span>
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</aside>
<div class="c-top-bar">
  <div class="row">
    <div class="c-top-bar-inner u-cf">
      <ul class="c-top-bar-searchbar c-top-bar-searchbar--asTitle menu">
        <li>
          <input type="search" id="search" placeholder="Hledaný výraz">
        </li>
        <li class="c-top-bar-searchbar__submit">
          <button type="button" class="button" id="searchsub">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
      {% if page.url != '/' %}
      <div class="top-bar-title">
        <a href="{{ '/' | relative_url }}">
          <img src="{{ '/assets/img/brand/logo.svg' | relative_url }}" alt="Pirátská strana">
        </a>
      </div>
      {% endif %}
      <div class="menu-toggle-container hide-for-large">
        <span data-responsive-toggle="responsive-menu" id="menuTogge" data-hide-for="large">
          <button class="" type="button" data-toggle="">
            <span class="menu-toggle-inner">
              <span class="menu-toggle-description">Menu</span>
              <i class="menu-icon dark"></i>
            </span>
          </button>
        </span>
      </div>
      <div id="responsive-menu" class="c-top-bar-menu">
        <div class="responsive-menu-inner">
          <div class="top-bar-left top-bar-footer-group">
            <ul class="dropdown menu" data-dropdown-menu="">
              <li {% if page.url contains 'aktuality' %} class="is-active"{% endif %}>
                <a href="{{'/aktuality/' | relative_url }}">Aktuality</a>
              </li>
              <li{% if page.url contains 'o-nas' or page.url contains 'lide' or page.url contains 'regiony'%} class="is-active"{% endif %}>
                <a href="{{ '/o-nas/' | relative_url }}">O nás</a>
                <ul class="menu vertical">
                  <li{% if page.url contains 'lide'%} class="is-active"{% endif %}>
                    <a href="{{ '/lide/' | relative_url }}">Naši lidé</a>
                  </li>
                  <li{% if page.url contains 'regiony'%} class="is-active"{% endif %}>
                    <a href="{{ '/regiony/' | relative_url }}">Regiony</a>
                  </li>
                </ul>
              </li>
              <li{% if page.url contains 'program' %} class="is-active"{% endif %}>
                <a href="{{ '/program/' | relative_url }}">Program</a>
              </li>
              <li{% if page.url contains 'pripoj-se' %} class="is-active"{% endif %}>
                <a href="{{ '/pripoj-se/' | relative_url }}">Připoj se</a>
              </li>
              <li{% if page.url contains 'otevrenost' %} class="is-active"{% endif %}>
                <a href="{{ '/otevrenost/' | relative_url }}">Otevřenost</a>
              </li>
              <li{% if page.url contains 'kontakt' %} class="is-active"{% endif %}>
                <a href="{{ '/kontakt/' | relative_url }}">Kontakt</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="c-top-bar-border"> </div>
