{% if page.url contains 'program' %}
<nav class="c-top-sub-nav u-center-860-down">
  <div class="row">
    <div class="c-top-sub-nav-inner">
      <div class="u-cf">
        <div class="c-top-sub-nav-header">
          <div class="c-top-sub-nav__heading"> Program </div>
        </div>
        <div class="c-top-sub-nav-divider"></div>
        <ul class="c-top-sub-nav-items">
          <li class="c-top-sub-nav__item">
            <a href="{{'/program/' | relative_url }}">Vize</a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{'/program/psp2017.html' | relative_url }}">Parlament 2017</a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{'/program/psp2017/kodex-poslance/' | relative_url }}">Kodex poslance</a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{'/program/strana.html' | relative_url }}">Dlouhodobý</a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{'/kalkulacka/' | relative_url }}">Kalkulačka</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% elsif page.url contains 'pripoj-se' %}
<nav class="c-top-sub-nav u-center-860-down">
  <div class="row">
    <div class="c-top-sub-nav-inner">
      <div class="u-cf">
        <div class="c-top-sub-nav-header">
          <div class="c-top-sub-nav__heading"> Připoj se </div>
        </div>
        <div class="c-top-sub-nav-divider"></div>
        <ul class="c-top-sub-nav-items">
          <li class="c-top-sub-nav__item">
            <a href="{{'/pripoj-se/' | relative_url }}">Dej o sobě vědět</a>
          </li>
<!--          <li class="c-top-sub-nav__item">
            <a href="{{'/pripoj-se/tymy/' | relative_url }}">najdi si tým</a>
        </li> -->
          <li class="c-top-sub-nav__item">
            <a href="{{'/pripoj-se/kalendar/' | relative_url }}">Kalendář akcí</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% else %}
<nav class="c-top-sub-nav u-center-860-down">
  <div class="row">
    <div class="c-top-sub-nav-inner">
      <div class="u-cf">
        <div class="c-top-sub-nav-header">
          <div class="c-top-sub-nav__heading"> O nás </div>
        </div>
        <div class="c-top-sub-nav-divider"></div>
        <ul class="c-top-sub-nav-items">
          <li class="c-top-sub-nav__item">
            <a href="{{ '/lide/' | relative_url }}">Naši lidé</a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{ '/regiony/' | relative_url }}">Regiony</a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{ 'o-nas/stanovy.html' | relative_url }}">Stanovy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% endif %}
