{% for menu in site.data.menu.main %}
  {% assign matches = menu.match | split: ", " %}
  {% for match in matches %}
    {% if page.url contains match %}
      {% if menu.submenu %}
        <nav class="c-top-sub-nav u-center-860-down">
          <div class="row">
            <div class="c-top-sub-nav-inner">
              <div class="u-cf">
              <div class="c-top-sub-nav-header">
                <div class="c-top-sub-nav__heading"> <a href="{{ menu.link }}">{{ menu.name }} </a> </div>
              </div>
              <div class="c-top-sub-nav-divider"></div>
              <ul class="c-top-sub-nav-items">
                {% for submenu in menu.submenu %}
                <li class="c-top-sub-nav__item {% if page.url contains submenu.match %}is-active{% endif %}">
                  <a href="{{ submenu.link }}">{{ submenu.name }} </a>
                </li>
                {% endfor %}
              </ul>
              </div>
            </div>
          </div>
        </nav>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}
