.mast-check-toggle {
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	visibility: hidden;
	display: none;
}

.mast-check-toggle:checked + .mast-instance {
	display: block !important;
}

.mast-check-toggle:not(:checked) + .mast-instance {
	display: none;
}


.mast-share.active {
	padding-bottom: 10px;
}

.mast-share-lg .mast-top {
	cursor: pointer;
	position: absolute;
	width: 142px;
	top: 0;
	left: 0;
	padding: 4px 8px;
	z-index: 1;
}

.mast-share-sm .mast-top, .mast-share-md .mast-top {
	cursor: pointer;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0;
	left: 0;
	z-index: 1;
}

.mast-share-sm, .mast-share-md, .mast-share-lg {
	color: white;
	display: inline-block;
	height: 40px;
	position: relative;
}

.mast-share-lg {
	width: 157px;
}

.mast-share-md {
	width: 93px;
}

.mast-share-sm {
	width: 40px;
}


.mast-share-sm .mast-logo {
	background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2261.076954mm%22%20height%3D%2265.47831mm%22%20viewBox%3D%220%200%20216.4144%20232.00976%22%3E%3Cpath%20d%3D%22M211.80734%20139.0875c-3.18125%2016.36625-28.4925%2034.2775-57.5625%2037.74875-15.15875%201.80875-30.08375%203.47125-45.99875%202.74125-26.0275-1.1925-46.565-6.2125-46.565-6.2125%200%202.53375.15625%204.94625.46875%207.2025%203.38375%2025.68625%2025.47%2027.225%2046.39125%2027.9425%2021.11625.7225%2039.91875-5.20625%2039.91875-5.20625l.8675%2019.09s-14.77%207.93125-41.08125%209.39c-14.50875.7975-32.52375-.365-53.50625-5.91875C9.23234%20213.82%201.40609%20165.31125.20859%20116.09125c-.365-14.61375-.14-28.39375-.14-39.91875%200-50.33%2032.97625-65.0825%2032.97625-65.0825C49.67234%203.45375%2078.20359.2425%20107.86484%200h.72875c29.66125.2425%2058.21125%203.45375%2074.8375%2011.09%200%200%2032.975%2014.7525%2032.975%2065.0825%200%200%20.41375%2037.13375-4.59875%2062.915%22%20fill%3D%22%233088d4%22%2F%3E%3Cpath%20d%3D%22M177.50984%2080.077v60.94125h-24.14375v-59.15c0-12.46875-5.24625-18.7975-15.74-18.7975-11.6025%200-17.4175%207.5075-17.4175%2022.3525v32.37625H96.20734V85.42325c0-14.845-5.81625-22.3525-17.41875-22.3525-10.49375%200-15.74%206.32875-15.74%2018.7975v59.15H38.90484V80.077c0-12.455%203.17125-22.3525%209.54125-29.675%206.56875-7.3225%2015.17125-11.07625%2025.85-11.07625%2012.355%200%2021.71125%204.74875%2027.8975%2014.2475l6.01375%2010.08125%206.015-10.08125c6.185-9.49875%2015.54125-14.2475%2027.8975-14.2475%2010.6775%200%2019.28%203.75375%2025.85%2011.07625%206.36875%207.3225%209.54%2017.22%209.54%2029.675%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E%0A");
}

.mast-share-sm .mast-instance, .mast-share-md .mast-instance {
	border-radius: 3px;
	z-index: 0;
}

.mast-instance {
	background-color: #292D37;
	padding: 8px;
	position: absolute;
	top: 40px;
	left: 0;
	margin: 0 auto;
	border-radius: 0 0 3px 3px;
	width: 200px;
}

.mast-share span {
	vertical-align: top;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 14px;
}

.mast-share img {
	max-height: 40px;
}

.mast-instance input[name="mast-instance-input"] {
	background-color: #00000000;
	border: none;
	color: white;
	border-bottom: 2px solid #3087D5;
	font-size: 14px;
	font-weight: 700;
	max-width: 130px;
}

.mast-instance input[name="mast-instance-input"][class="invalid"] {
	border-bottom: 2px solid red;
	animation-name: shake;
	animation-duration: 100ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
@-webkit-keyframes shake {
	8%, 41% {
		-webkit-transform: translateX(-10px);
	}
	25%, 58% {
		-webkit-transform: translateX(10px);
	}
	75% {
		-webkit-transform: translateX(-5px);
	}
	92% {
		-webkit-transform: translateX(5px);
	}
	0%, 100% {
		-webkit-transform: translateX(0);
	}
}

.mast-share input::placeholder {
	color: #C7C7CD;
}

.mast-share input:focus {
	outline: none;
}

.mast-share button {
	background-color: #00000000;
	color: white;
	border: none;
	font-size: 14px;
	font-weight: 700;
	padding: 0;
	margin: 8px 0 0 0;
	cursor: pointer;
}

.mast-share button:hover {
	color: #3087d5;
}
