html, body {
  font-size: 14px;
}

.fa {
  text-align: center;
  min-width: 18px;

  @include breakpoint(large down) {
    min-width: 15px;
  }

  @include breakpoint(medium down) {
    min-width: 13px;
  }

}

hr {
  max-width: none;
  border: 0;
  height: 1px;
  background: #f3f3f3;
}