<li class="orbit-slide">
  <div class="o-media o-media--top">
    <div class="o-media__image o-media__image--lgspace">
      <img src="{{ person.carousel.img | prepend: '/assets/img/people/carousel/' | relative_url }}" alt="{{person.name}}"> </div>
    <div class="o-media__body">
      <h2 class="o-media__headline c-hero__subtitle">{{person.name}}</h2>
      {% comment %}<p class="u-pmarginbottom">{{person.function}}</p>{% endcomment %}
      {{person.carousel.text}}
      <p>
        <a href="{{person.url | relative_url }}">Celý profil</a>
      </p>
    </div>
  </div>
</li>
