<div class="large-6 small-12 small-collapse columns end o-section-mediumdown-divided-small">
  <div class="o-media o-media--top">
    <div class="o-media__image o-media__image--lgspace">
      <img src="{{ item.img | prepend: '/assets/img/' | relative_url }}" alt="{{item.name}}"> </div>
    <div class="o-media__body">
      <h2 class="o-media__headline">
        <a href="{{item.url | relative_url}}">{% if item.name %}{{item.name}}{% else %}{{item.title}}{% endif %}</a>
      </h2>
      <p>{{item.description}}</p>
      {% if item.mob or item.mail %}
      <p>
        {{item.mob}}<br>
        <a href="mailto:{{item.mail}}">{{item.mail}}</a><br>
      </p>
      {% endif %}
    </div>
  </div>
</div>
