<div class="c-top-bar">
  <div class="row">
    <div class="c-top-bar-inner u-cf">
      <div class="top-bar-title">
        <a href="https://www.piratiastarostove.cz/">
          <img src="{{ '/volimvzahranici/assets/img/pirati_starostove_cerne.svg' | relative_url }}" alt="Piráti a starostové" style="max-height: 5em;">
        </a>
      </div>
      
      <div class="menu-toggle-container hide-for-large">
        <span data-responsive-toggle="responsive-menu" id="menuTogge" data-hide-for="large">
          <button class="" type="button" data-toggle="">
            <span class="menu-toggle-inner">
              <span class="menu-toggle-description">Menu</span>
              <i class="menu-icon dark"></i>
            </span>
          </button>
        </span>
      </div>
      
      <div id="responsive-menu" class="c-top-bar-menu">
        <div class="responsive-menu-inner">
          <div class="top-bar-left top-bar-footer-group">
            <ul class="dropdown menu" data-dropdown-menu="">
                <li class=" " role="menuitem">
                  <a href="./#jak_volit" tabindex="0">Jak volit krok za krokem</a>
                </li>



                <li class=" " role="menuitem">
                  <a href="./#v_zahranici">Jak volby fungují v zahraničí</a>

                </li>



                <li class=" " role="menuitem">
                  <a href="./#zmena">Náš boj za distanční volbu</a>

                </li>



                <li class=" " role="menuitem">
                  <a href="./#kdy_a_kde">Jak elegantně odvolit</a>

                </li>



                <li class=" " role="menuitem">
                  <a href="./#co_kdyz">Co je Voličský průkaz a kdy se hodí</a>

                </li>



                <li class=" " role="menuitem">
                  <a href="./#odkud">Zahraniční zastoupení ČR</a>

                </li>



                <li class=" " role="menuitem">
                  <a href="./#ambasador">Jak můžeš pomoci</a>

                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="c-top-bar-border"> </div>
