---
layout: default
img: snemovna/obecne/jednani_klubu.jpg
---
{% include submenu.html %}

<div class="row">
  <div class="medium-12 large-12 columns">
    <section class="o-section o-section--noSpaceBottom">
      <div class="o-section-inner">
        <div class="c-BasicPage">
          <div class="vspace-nb-m">
            <ul class="c-simple-accordion " data-accordion="" data-options="active: true; allowAllClosed: true">
              <li class="c-simple-accordion-item is-active" data-accordion-item="">
                <a href="#" class="c-simple-accordion-title">Stálé resortní týmy</a>
                {% assign myteams = site.teams | where_exp: "item", "item.categories contains 'resort'" %}
                {% include team/list-3col.html param=myteams %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>
