#priority{
  .f-label--donut{
    position: absolute;
    $size: 100px;
    height: $size;
    width: 2*$size;
    top: 50%;
    left: 50%;
    margin-left: -$size;
    margin-top: -.5*$size;
    text-align: center;
    z-index: 1;
  }
  ol{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li{
      flex-basis: 33%;
      flex-shrink: 0;
      position: relative;
    }
  }
}
