#priority{
  .f-label--donut{
    //position: absolute;
    //$size: 80px;
    //height: $size;
    //width: 2*$size;
    //top: 50%;
    //left: 50%;
    //margin-left: -$size;
    //margin-top: -.5*$size;
    text-align: center;
    padding: 0 1.25rem;
    z-index: 1;
  }
  ol{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li{
      flex-basis: 100%;
      @include breakpoint(medium up) {
        flex-basis: 20%;
      }
      flex-shrink: 0;
      position: relative;
    }
  }
}

.page{
  &--snemovna{
    .c-top-sub-nav .c-top-sub-nav-inner:before{
      @extend %before-util;
      //@extend %before-pattern;
      background: url(pomer.svg) no-repeat center center;
      transform: translate(21%, 15%);
      z-index: 1;
      right: 50px;
      left: auto;
      max-height: 90px;
      width: 10%;
      //@include breakpoint(mobile down) {
      //  display: none;
      //}
      @include breakpoint(medium down) {
        width: 120px;
        right: 50%;
        margin-right: -30px;
        bottom: 30px;
        top: auto;
      }
    }
  }
}