---
img: /volimvzahranici/assets/img/volim_ze_zahranici.jpg
title: Volím Piráty a Starosty ze všech koutů světa
maintext: |
  V přípravě.
rbar: ""
description: Volím Piráty a Starosty ze všech koutů světa do Poslanecké sněmovny parlamentu ČR (8.-9. října 2021)
keywords: piráti, zahraniční, voliči, jak na volby v zahraničí, volební průkaz
---

<!DOCTYPE html>
<html lang="cs" dir="ltr" itemtype="http://schema.org/WebPage" itemscope="">

{%  include_relative _includes/head.html %}

<body>

{% include header.html %}

{% if site.data.menu.main %}
{% include_relative _includes/menu.html %}
{% unless page.nosubmenu %}
{% include submenu.html %}
{% endunless %}
{% endif %}

<div class="page-content">
  <div class="wrapper">

    <div class="page-content">
      <div class="wrapper">
        <section id="intro">
          {%  include_relative texts/01_intro.html %}
        </section>


        <section id="jak_volit" class="section" style="display:none">
          <div class="a4page a4page-black">
            {%  include_relative texts/jak_volit.html %}
          </div>
          <script>
            function showManual() {
              document.getElementById("jak_volit").style.display = "block"
              location.hash = 'jak_volit'
              const y = document.getElementById('jak_volit').getBoundingClientRect().top + window.pageYOffset;
              window.scrollTo({top: y, behavior: 'smooth'})
            }

            if (location.hash.replace("#","") == 'jak_volit') {
              setTimeout(showManual, 0)
            }
          </script>
        </section>

        <section id="v_zahranici" class="section section1">
          {%  include_relative texts/02_v_zahranici.html %}
        </section>

        <section id="zmena" class="section">
          {%  include_relative texts/03_zmena.html %}
        </section>

        <section id="casova_osa" class="section" style="display:none">
          <div class="a4page a4page-white">
          {%  include_relative texts/casova_osa.html %}
          </div>
          <script>
            function showTimeline() {
              document.getElementById("casova_osa").style.display = "block"
              location.hash = 'casova_osa'
              const y = document.getElementById('casova_osa').getBoundingClientRect().top + window.pageYOffset;
              window.scrollTo({top: y, behavior: 'smooth'})
              return false
            }

            if (location.hash.replace("#","") == 'casova_osa') {
              setTimeout(showTimeline, 0)
            }
          </script>
        </section>

        <section id="vite_ze" class="section vite_ze background-yellow color-black">
          {%  include_relative texts/vite_ze1.html %}
        </section>

        <section id="kdy_a_kde" class="section section2">
          {%  include_relative texts/04_kdy_a_kde.html %}
        </section>

        <section id="vite_ze2" class="section vite_ze background-yellow color-black">
          {%  include_relative texts/vite_ze2.html %}
        </section>

        <section id="co_kdyz" class="section section3">
          {%  include_relative texts/05_co_kdyz.html %}
        </section>

        <section id="vite_ze3" class="section vite_ze background-green color-black">
          {%  include_relative texts/vite_ze3.html %}
        </section>

        <section id="odkud" class="section section4">
          {%  include_relative texts/06_odkud.html %}
        </section>

        <section id="vzkazy" class="section">
          {%  include_relative texts/07_vzkazy.html %}
        </section>

        <section id="vite_ze4" class="section vite_ze background-yellow color-black">
          {%  include_relative texts/vite_ze4.html %}
        </section>

        <section id="ambasador" class="section">
          {%  include_relative texts/08_ambasador.html %}
        </section>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
{% include js/hashed/main.html %}
</body>

</html>