---
layout: default
---

{% comment %}
http://www.csvjson.com/csv2json
{% endcomment %}

<div class="row">
  <div class="large-12 colums">
    <div class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <main class="o-section-block">
          <article itemtype="http://schema.org/BlogPosting" class="c-BasicPage" itemscope="">
            <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
            <h1 itemprop="headline" class="c-BasicPage__title"> Pirátská plavba do sněmovny
              <a href="#vzkazy"><img  src="{{'assets/img/plavba/lahev_1A.png' | relative_url}}"></a>
            </h1>
          </article>
          <!-- /Article -->
        </main>
      </div>
    </div>
  </div>
  <div class="large-6 columns">
    <img src="{{'assets/img/plavba/lod_1.png' | relative_url}}" style="margin-bottom: 15px;">
    <ul class="boattrip">
      {% for event in site.data.plavba %}
        <li data-day="{{event.Den}}">{{event.Den | date:"%d. %m."}}:
        {% if event.url != ""%}<a href="{{event.url}}">{% endif %}<strong>{{event.Kde}}</strong>{% if event.url%}</a>{% endif %},
        {{event.Co}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="large-6 columns">
    <img src="{{'assets/img/plavba/bus_1.png' | relative_url}}" style="margin-bottom: 15px;">

    <p>Trasu pro vás připravujeme.</p>
  </div>
</div>

<div class="row">
  <div class="large-3 large-offset-4 colums">
    <h1 class="text-center" id="vzkazy">Vzkazy v lahvi</h1>
  </div>
  {% for vzkaz in site.data.vzkazy %}
  <div class="row">
  <div class="large-3 large-offset-4 columns">
    <div class="callout">
    {{ vzkaz.note }}<br>-- {{ vzkaz.name }}
    </div>
  </div>
</div>
  {% endfor %}
</div>
