<div class="large-6 small-12 small-collapse columns end o-section-mediumdown-divided-small">
  <div class="o-media o-media--top">
    <div class="o-media__image o-media__image--lgspace">
      <img src="{{ people[id].img | prepend: '/assets/img/people/' | relative_url }}" alt="{{people[id].name}}"> </div>
    <div class="o-media__body">
      <h2 class="o-media__headline">
        <a href="#">{{people[id].name}}</a>
      </h2>
      <p> {{people[id].position}} </p>
      <p> {{people[id].mob}}
        <br>
        <a href="mailto:{{people[id].mail}}">{{people[id].mail}}</a>
        <br>
        <a href="mailto:rp@pirati.cz">rp@pirati.cz</a>
        <br> </p>
    </div>
  </div>
</div>
