@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensans/open-sans-v15-latin_latin-ext-regular.eot);
  src: url(../fonts/opensans/open-sans-v15-latin_latin-ext-regular.eot?#iefix) format("embedded-opentype"),
  url(../fonts/opensans/open-sans-v15-latin_latin-ext-regular.woff2) format("woff2"),
  url(../fonts/opensans/open-sans-v15-latin_latin-ext-regular.woff) format("woff"),
  url(../fonts/opensans/open-sans-v15-latin_latin-ext-regular.ttf) format("truetype"),
  url(../fonts/opensans/open-sans-v15-latin_latin-ext-regular.svg#OpenSans) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensans/open-sans-v15-latin_latin-ext-700.eot);
  src: url(../fonts/opensans/open-sans-v15-latin_latin-ext-700.eot?#iefix) format("embedded-opentype"),
  url(../fonts/opensans/open-sans-v15-latin_latin-ext-700.woff2) format("woff2"),
  url(../fonts/opensans/open-sans-v15-latin_latin-ext-700.woff) format("woff"),
  url(../fonts/opensans/open-sans-v15-latin_latin-ext-700.ttf) format("truetype"),
  url(../fonts/opensans/open-sans-v15-latin_latin-ext-700.svg#OpenSans) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/opensans/open-sans-v15-latin_latin-ext-600.eot);
  src: url(../fonts/opensans/open-sans-v15-latin_latin-ext-600.eot?#iefix) format("embedded-opentype"),
  url(../fonts/opensans/open-sans-v15-latin_latin-ext-600.woff2) format("woff2"),
  url(../fonts/opensans/open-sans-v15-latin_latin-ext-600.woff) format("woff"),
  url(../fonts/opensans/open-sans-v15-latin_latin-ext-600.ttf) format("truetype"),
  url(../fonts/opensans/open-sans-v15-latin_latin-ext-600.svg#OpenSans) format("svg");
  font-weight: 600;
  font-style: normal;
}