<div class="c-welcome-header">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-welcome-header-wrapper c-welcome-header-wrapper--wbg">
        {% comment %}<img src="{{'/assets/img/header/welcome-img.jpg' | prepend: site.baseurl }}" class="c-welcome-header__img" alt="Česká pirátská strana">{% endcomment %}
        <div class="c-welcome-header-content">
          <img src="{{'/assets/img/brand/logo.svg' | prepend: site.baseurl }}" alt="Česká pirátská strana" class="c-welcome-header__brand">
          <blockquote class="c-welcome-header__quote"> Prosazujeme fungující moderní politiku
            <br> založenou na využití technologií 21. století
            <br> pro otevřenou demokratickou společnost.</blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="c-banner">
  <div class="row">
    <div class="c-banner-container small-12 columns">
      <div class="o-section">
        <div class="o-section-inner o-section-inner--noLarge u-cf">
          <div class="c-banner-section c-banner-primary-section">
            <article class="c-card c-card--big">
              <div class="c-card-header c-card-header--white">
              </div>
              <div class="c-card-image-wrapper">
                <a href="http://cernenabilem2017.cz">
                  <img src="{{ '/assets/img/miscellaneous/featured.gif' | prepend: site.baseurl }}" class="c-card__image" alt="Černé na bílém">
                </a>
              </div>
            </article>
          </div>
          <div class="c-banner-section c-banner-secondary-section">
            <div class="row small-up-4">
              <div class="c-banner-section-row">
                <div class="small-6 columns">
                  <a href="{{ '/lide/' | prepend: site.baseurl }}" class="c-card c-card--border">
                    <div class="c-card-header">
                      <div class="c-card__title"> Naši lidé </div>
                    </div>
                    <div class="c-card__icon c-card__icon--pos1">
                      <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                  </a>
                </div>
                <div class="small-6 columns">
                  <a href="{{ 'kalkulacka' | relative_url }}" class="c-card c-card--border">
                    <div class="c-card-header">
                      <div class="c-card__title"> Daňová kalkulačka </div>
                    </div>
                    <div class="c-card__icon c-card__icon--pos4">
                      <i class="fa fa-money u-rotate-345" aria-hidden="true"></i>
                    </div>
                  </a>
                </div>
              </div>
              <div class="c-banner-section-row">
                <div class="small-6 columns">
                  <a href="{{ 'pripoj-se' | relative_url }}" class="c-card c-card--border">
                    <div class="c-card-header">
                      <div class="c-card__title"> Připoj se </div>
                    </div>
                    <div class="c-card__icon c-card__icon--pos3">
                      <i class="fa fa-bullhorn u-mirror-horizontally-and-rotate-345" aria-hidden="true"></i>
                    </div>
                  </a>
                </div>
                <div class="small-6 columns">
                  <a href="{{'program' | relative_url}}" class="c-card c-card--border">
                    <div class="c-card-header">
                      <div class="c-card__title"> Program<br> Černé na bílém</div>
                    </div>
                    <div class="c-card__icon c-card__icon--pos2">
                      <i class="fa fa-newspaper-o u-rotate-345" aria-hidden="true"></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <!-- .c-card-sections -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
