<ul class="c-widget-accordion c-widget-accordion--unstacksibling c-widget-accordion--topspace" data-accordion="" data-allow-all-closed="true">
  <li class="c-widget-accordion-item" data-accordion-item="">
    <a href="#" class="c-widget-accordion-link">
      <span class="c-widget-accordion__title c-widget-accordion__title--noicon c-widget-accordion__title--plain">{{point.title}}</span>
    </a>
    <div class="c-widget-accordion-content" data-tab-content="">
      <div class="c-widget-accordion-content-inner c-widget-accordion-content-inner--bigp">
        {{point.content}}
      </div>
    </div>
  </li>
</ul>
