---
layout: default
img: miscellaneous/europoslanci.jpg
rbar: fb, tw
profiles:
  facebook: https://www.facebook.com/europeanpirateparty/
  twitter: EuropeanPirates 
---

{% include homepage/banner.html 
   link=''
   title='Držíme kurz!'
   default='miscellaneous/europoslanci.jpg'
   mobile='miscellaneous/europoslanci.jpg'
   breakpoint=640
%}



<section class="l-micropage__section row o-section" id="odkazy">
{% include button/central.html text="Program" url="/program/europarlament2019.html" %}
    </section>
<section class="l-micropage__section row o-section" id="odkazy2">
<div class="row">
{% include button/small.html text="Výdaje" url="https://nextcloud.pp-eu.eu/index.php/s/cMmLo3MD868WnBe" %}
{% include button/small.html text="Faktury" url="https://nextcloud.pp-eu.eu/index.php/s/QgFTytZAcMZj3rn" %}
{% include button/small.html text="Registr smluv" url="https://nextcloud.pp-eu.eu/index.php/s/3Me3Ddr6qgsrsfZ" %}
</div>
<p></p>
</section>

