---
layout: default
img: miscellaneous/europoslanci.jpg
rbar: fb, tw
profiles:
  facebook: https://www.facebook.com/europeanpirateparty/
  twitter: EuropeanPirates 
---

{% capture md %} 
 
# Hospodaření v Evropském parlamentu

Europoslanci mají k dipozici několik různých rozpočtů. Každý slouží k jinému účelu. Z těchto rozpočtů mohou čerpat finance na své aktivity spojené s výkonem mandátu. Delegace evropských Pirátů v Evropském parlamentu je nejtransparentnější delegací vůbec, jelikož naši europoslanci jako jediní veřejně deklarují naprosto všechny utracené prostředky v rámci rozpočtu na všeobecné výdaje. Vše můžete přehledně vidět i spolu se všemi fakturami a účtenkami pod odkazem Výdaje v horní části stránky. Všechny provedené platby jsou také vysledovatelné na transparentních účtech našich europoslanců.

# Příspěvek na všeobecné výdaje (GEA)

Jedním z největších otazníků ve financování ostatních europoslaneckých kancelářích jsou právě prostředky, jež jsou označovány anglickou zkratkou GEA - General Expenditure Allowance, neboli Příspěvek na všeobecné výdaje.

Co je v GEA zahrnuto a proč nejsou transparentní všichni poslanci Evropského parlamentu?

V rámci tohoto příspěvku každý europoslanec obdrží částku 4 563 EUR, tedy zhruba 115 000 Kč měsíčně. Z obnosu musí europoslanci zaplatit například nájem svých kanceláří v Česku, technické a materiální vybavení kanceláří jak v Bruselu, ve Štrasburku, tak v Česku. Další častou položkou jsou například výdaje za telefon, poštovní služby či nezbytnosti jako je káva a čaj pro hosty. Kompletní přehled všech transakcí naleznete v sekci Výdaje.

Jak můžete sami vidět na transparentních účtech našich europoslanců, peníze se postupně kumulují. Nabízí se tak otázka, co se s nimi stane na konci mandátu, pokud je poslanci všechny nespotřebují. Pirátská delegace v Evropském parlamentu se usnesla, že veškeré prostředky, které na účtu zbydou na konci mandátu, vrátí Evropskému parlamentu a tedy daňovým poplatníkům; což je mimochodem doporučený, nikoliv však vyžadovaný či vymáhaný postup. Pokud by vás zajímalo, jak s přebytkem peněz naloží ostatní europoslanci, rozhodně jim neváhejte napsat. Bohužel žádný další europoslanec nedeklaruje své výdaje takto veřejně, ale třeba by se mohli inspirovat.


# Rozpočet na platy asistentů
 
Každý europoslanec má měsíčně k dispozici 25 442 EUR na všechny výdaje spojené s jeho asistenty. To zahrnuje jak samotné platy asistentů v Bruselu a v Česku, tak i ze zákona povinné odvody. Dále se ze stejné částky hradí náklady na stážisty, účetní, poskytovatele služeb a výdaje na služební cesty všech asistentů.  Aby naši europoslanci dosáhli co největší efektivity, rozhodli se část svých asistentů sdílet, skrze tzv. Sdružení, neboli Grouping. To znamená, že tito asistenti pracují pro všechny europoslance zároveň a poslanci tak mohou ušetřit část nákladů.


## Co to znamená konkrétně?
Europoslanec může zaměstnat člověka v různých kategoriích, podle toho, jakou činnost pro něj vykonává. Na každou z nich se vztahují odlišná pravidla. Pojďme je projít postupně.

První skupinu tvoří **asistenti působící (akreditovaní) v Bruselu**. Ty dále rozlišujme na různé skupiny asistentů podle toho, čemu se v Evropském parlamentu věnují; jestli je jejich hlavní náplní práce asistovat v politických záležitostech, či mají na starosti administrativní fungování kanceláře. Plat asistentů akreditovaných v Bruselu se pohybuje od 1 663 EUR do 6 341 EUR, kdy se europoslanec s asistentem dohodne na jedné z 19 možných platových tříd, v závislosti na předchozích zkušenostech asistenta, dosaženém vzdělání i právě náplni práce. Bruselský asistent uzavírá smlouvu přímo s Evropským parlamentem a poslanec vystupuje v roli manažera. Europoslanec nesmí zveřejnit podrobnosti smlouvy, ani asistentův plat.
Ačkoliv by to bylo často namístě, nemůže europoslanec udělit bruselskému asistentovi žádnou další odměnu nad jeho pravidelný měsíční plat.

V Bruselu působí i **stážisti**, kteří se do europoslaneckých týmů připojují během roku na různě dlouhou dobu. Podle svého zaměření se pak mohou věnovat například pomoci při přípravě odborných podkladů, tiskových zpráv či mohou získat zkušenosti z oblasti administrativy. Každý europoslanec může mít v jednu chvíli až tři stážisty, jejichž plat se pohybuje mezi 800 a 1339 EUR.

Další kategorii tvoří asistenti zaměstnaní v zemi zvolení europoslance, takzvaní **místní asistenti**. Pro naše pirátské zástupce v Evropském parlamentu pracují v Česku celkem 4 místní asistenti, z toho dva primárně v Praze a dva v Brně.  Jejich hlavním úkolem je organizace času europoslance v Česku. Sem patří domlouvání schůzek nebo událostí, při nichž se poslanci setkávají s občany.

Další skupinou osob, jejichž služeb mohou europoslanci využít jsou **poskytovatelé služeb**, kteří mohou svou činnost vykonávat odkudkoliv. V delegaci evropských Pirátů v Evropském parlamentu se jedná především o služby IT a PR. Jelikož poskytovatelé služeb vystupují jako právnické osoby nebo fyzické osoby podnikající a mají individuální smlouvy s europoslanci, je možné zveřejnit podrobnosti jejich smluv. Ty jsou zveřejněny v našem registru smluv.

Samostatnou kategorii tvoří i tzv. **osoba pověřená prováděním plateb**, což je účetní starající se o správné zpracování plateb místním asistentům.

Výše odměn pro asistenty působící v Česku, pro účetní či poskytovatele služeb je závislá na přímém rozhodnutí europoslance.
 

 
{% endcapture %}


<div class="row">
  <div class="medium-12 columns">
    <div class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <main class="o-section-block">
          <!-- Article -->
          <article itemtype="http://schema.org/BlogPosting" class="c-BasicPage" itemscope="">
            
            <h1 itemprop="headline" class="c-BasicPage__title"> Výdaje delegace European Pirates v Evropském parlamentu </h1>

            <div class="row o-section-block o-section-block--fill">
              {% for topic in site.data.transparence-eu %}
            <div class="o-section-inner">
                <div class="medium-12 large-4 columns o-section-block--medium">
                  {% for point in topic.items %}
                  {% include accordeon/accordeon.html param='point' %}
                  {% endfor %}
                </div>
            </div>

              {% endfor %}
            </div>


          </article>
          <!-- /Article -->
        </main>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="medium-12 columns">
    <div class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <main class="o-section-block">
          <!-- Article -->
          <article itemtype="http://schema.org/BlogPosting" class="c-BasicPage" itemscope="">
            <style>
              .bottom-three {
                 margin-bottom: 15px;
              }
            </style>
              <div class="medium-12 large-12 columns">
                <div itemprop="description" class="c-BasicPage-content">
            {{ md | markdownify }}
            {% include tables/zebra.html title='Přehled všech osob pracujících pro pirátské europoslance' table=site.data.ep-asistenti %}
                </div>
              </div>
          <!-- /Article -->
        </main>
      </div>
    </div>
  </div>
</div>


