<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-8 columns">
    <section class="o-section o-section--noSpaceBottom o-section--bigger">
      <div class="o-section-inner o-section-inner--leftBlock">
        <div class="o-section-mediumdown-divided-small o-section--divided">
          <!-- Article -->
          <article itemtype="http://schema.org/BlogPosting" class="c-BlogPosting c-BlogPosting--featured c-BlogPosting--primary" itemscope="">
            <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
            <div class="c-BlogPosting-contentWrapper u-cf">
              <div class="c-BlogPosting-photoBox">
                <!-- BlogPosting image -->
                <div itemprop="image" itemtype="http://schema.org/ImageObject" class="c-BlogPosting__image" itemscope="">
                  <img src="images/articles/13.jpg" alt="Krnáčová vymáhání škody za Opencard po Bémovi nenechala ani prověřit">
                  <meta itemprop="url" content="images/articles/13.jpg">
                  <meta itemprop="width" content="">
                  <meta itemprop="height" content=""> </div>
              </div>
              <div class="c-BlogPosting-infoBox">
                <!-- Date published -->
                <span itemprop="description" class="c-BlogPosting__datePublished">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i> 04. 10. 2016
                  <meta itemprop="datePublished" content="Insert date in ISO 8601 date format">
                  <meta itemprop="dateModified" content=""> </span>
                <br class="hide-for-medium">
                <!-- Authors -->
                <span itemprop="author" itemtype="http://schema.org/Person" class="c-BlogPosting__authors" itemscope="">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <span itemprop="name" class="c-BlogPosting-excerpt__author">Mikuláš Fernjenčík</span>
                </span>
              </div>
              <div class="c-BlogPosting-contentBox">
                <!-- Headline -->
                <h1 itemprop="headline" class="c-BlogPosting__title">
                  <a href="#" itemprop="url">Krnáčová vymáhání škody za Opencard po Bémovi nenechala ani prověřit</a>
                </h1>
                <!-- BlogPosting description-->
                <div itemprop="description" class="c-BlogPosting-content">
                  <p>Piráti 29. září 2015, tedy před rokem, vyzvali primátorku Adrianu Krnáčovou a Radu Prahy, aby prověřila vymáhání škod způsobených v kauze Opencard po Pavlu Bémovi a dalších lidech odpovědných za vznik tohoto projektu.</p>
                </div>
                <a href="#" class="c-BlogPosting-excerpt-readMore">Přečíst celý článek &rsaquo;</a>
              </div>
              <!-- Publisher -->
              <div itemprop="publisher" itemtype="http://schema.org/Organization" class="u-hidden" itemscope="">
                <div itemprop="logo" itemtype="http://schema.org/ImageObject" itemscope="">
                  <meta itemprop="url" content="images/brand/logo.svg"> </div>
                <meta itemprop="name" content="Česká pirátská strana"> </div>
            </div>
            <div class="c-BlogPosting-infoBox u-hidden">
              <!-- Date published -->
              <span itemprop="description" class="c-BlogPosting__datePublished">
                <i class="fa fa-calendar-o" aria-hidden="true"></i> 04. 10. 2016
                <meta itemprop="dateModified" content="">
                <meta itemprop="datePublished" content=""> </span>
              <br class="hide-for-medium">
              <!-- Authors -->
              <span itemprop="author" itemtype="http://schema.org/Person" class="c-BlogPosting__authors" itemscope="">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span itemprop="name" class="c-BlogPosting__author">Česká pirátská strana</span>
              </span>
            </div>
          </article>
        </div>
        <div class="o-section-mediumdown-divided-small o-section--divided">
          <!-- Article -->
          <article itemtype="http://schema.org/BlogPosting" class="c-BlogPosting c-BlogPosting--featured c-BlogPosting--primary" itemscope="">
            <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
            <div class="c-BlogPosting-contentWrapper u-cf">
              <div class="c-BlogPosting-photoBox">
                <!-- BlogPosting image -->
                <div itemprop="image" itemtype="http://schema.org/ImageObject" class="c-BlogPosting__image" itemscope="">
                  <img src="images/articles/14.jpg" alt="Piráti zažalovali České dráhy. Chtějí informace o Kleslové.">
                  <meta itemprop="url" content="images/articles/14.jpg">
                  <meta itemprop="width" content="">
                  <meta itemprop="height" content=""> </div>
              </div>
              <div class="c-BlogPosting-infoBox">
                <!-- Date published -->
                <span itemprop="description" class="c-BlogPosting__datePublished">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i> 27. 09. 2016
                  <meta itemprop="datePublished" content="Insert date in ISO 8601 date format">
                  <meta itemprop="dateModified" content=""> </span>
                <br class="hide-for-medium">
                <!-- Authors -->
                <span itemprop="author" itemtype="http://schema.org/Person" class="c-BlogPosting__authors" itemscope="">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <span itemprop="name" class="c-BlogPosting-excerpt__author">Adam Zábranský</span>
                </span>
              </div>
              <div class="c-BlogPosting-contentBox">
                <!-- Headline -->
                <h1 itemprop="headline" class="c-BlogPosting__title">
                  <a href="#" itemprop="url">Piráti zažalovali České dráhy.
                    <br> Chtějí informace o Kleslové.</a>
                </h1>
                <!-- BlogPosting description-->
                <div itemprop="description" class="c-BlogPosting-content">
                  <p>Pražský zastupitel za Piráty Adam Zábranský podal dvě správní žaloby na České dráhy. Ty mu totiž v rozporu se zákonem o svobodném přístupu k informacím odmítly poskytnout dokumenty vzešlé ze spolupráce s šedou eminencí...</p>
                </div>
                <a href="#" class="c-BlogPosting-excerpt-readMore">Přečíst celý článek &rsaquo;</a>
              </div>
              <!-- Publisher -->
              <div itemprop="publisher" itemtype="http://schema.org/Organization" class="u-hidden" itemscope="">
                <div itemprop="logo" itemtype="http://schema.org/ImageObject" itemscope="">
                  <meta itemprop="url" content="images/brand/logo.svg"> </div>
                <meta itemprop="name" content="Česká pirátská strana"> </div>
            </div>
            <div class="c-BlogPosting-infoBox u-hidden">
              <!-- Date published -->
              <span itemprop="description" class="c-BlogPosting__datePublished">
                <i class="fa fa-calendar-o" aria-hidden="true"></i> 04. 10. 2016
                <meta itemprop="dateModified" content="">
                <meta itemprop="datePublished" content=""> </span>
              <br class="hide-for-medium">
              <!-- Authors -->
              <span itemprop="author" itemtype="http://schema.org/Person" class="c-BlogPosting__authors" itemscope="">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span itemprop="name" class="c-BlogPosting__author">Česká pirátská strana</span>
              </span>
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>
  <div class="small-12 large-4 columns">
    <aside class="o-section o-section--noSpaceBottom">
      <div class="o-section-inner o-section-inner--rightBlock">
        <div class="o-section-block">
          <ul class="c-widget-accordion" data-accordion="">
            <li class="c-widget-accordion-item is-active" data-accordion-item="">
              <a href="#" class="c-widget-accordion-link c-widget-accordion-link--fb">
                <span class="c-widget-accordion__title">Facebook</span>
              </a>
              <div class="c-widget-accordion-content u-center" data-tab-content="">
                <div class="fb-page" data-href="https://www.facebook.com/ceskapiratskastrana" data-tabs="timeline" data-width="310" data-height="560" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="o-section-block">
          <ul class="c-widget-accordion" data-accordion="">
            <li class="c-widget-accordion-item is-active" data-accordion-item="">
              <a href="#" class="c-widget-accordion-link c-widget-accordion-link--twitter">
                <span class="c-widget-accordion__title">Twitter</span>
              </a>
              <div class="c-widget-accordion-content u-center" data-tab-content="">
                <a class="twitter-timeline" data-lang="cs" data-width="310" data-height="540" href="https://twitter.com/piratipraha"></a>
                <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </aside>
  </div>
</div>
