---
layout: default
---
{% include submenu.html %}
<div class="c-hero">
  <div class="row">
    <div class="c-hero-container">
      <div class="small-12 columns">
        <div class="c-hero-block">
          <h1 class="c-hero__title">Naši lidé</h1>
        </div>
        <div class="c-hero-block c-hero-content u-js-hiddenBeforeLoad">
          <div class="c-hero-slider orbit" role="region" aria-label="Naši lidé" data-orbit="" data-use-m-u-i="false">
            <button class="orbit-previous">
              <span class="show-for-sr">Předchozí záložka</span>
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </button>
            <button class="orbit-next">
              <span class="show-for-sr">Další záložka</span>
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
            <ul class="orbit-container">
              {% for person in site.data.carousel %}
              {% include people/carousel.html param='person' %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-12 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <div class="c-BasicPage-header c-BasicPage-header--horizontal c-BasicPage-header--horizontal--mobilestacked">
                <h1 class="c-BasicPage__title"> Organizace </h1>
                <div class="c-BasicPage__meta">
                  <div class="c-BasicPage__meta-filters">
                    <div class="c-BasicPage__meta-filter-block">
                      <div class="c-BasicPage__meta-filters__title">Filtr</div>
                    </div>
                    <div class="c-BasicPage__meta-filter-block">
                      <div class="c-BasicPage__meta-filter">
                        <button class="c-BasicPage__meta-filter-btn" type="button" data-toggle="category-filters">Všechny kategorie</button>
                        <div class="c-BasicPage__meta-filter-dropdown" id="category-filters" style="display: none; " data-toggler="is-open">
                          <ul>
                            <li>
                              <input type="checkbox" name="group[]" id="group1" value="">
                              <label for="group1">Předsednictvo strany</label>
                            </li>
                            <li>
                              <input type="checkbox" name="group[]" id="group2" value="">
                              <label for="group2">Krajští zastupitelé</label>
                            </li>
                            <li>
                              <input type="checkbox" name="group[]" id="group3" value="">
                              <label for="group3">Senátoři s podporou Pirátů</label>
                            </li>
                            <li>
                              <input type="checkbox" name="group[]" id="group4" value="">
                              <label for="group4">Komunální zastupitelé</label>
                            </li>
                            <li class="spacer"></li>
                            <li>
                              <input type="checkbox" name="group[]" id="group5" value="" checked="">
                              <label for="group5">Všechny kategorie</label>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="c-BasicPage__meta-filter-block">
                      <div class="c-BasicPage__meta-filter">
                        <button class="c-BasicPage__meta-filter-btn" type="button" data-toggle="region-filters">Všechny kraje</button>
                        <div class="c-BasicPage__meta-filter-dropdown" id="region-filters" style="display: none; " data-toggler="is-open">
                          <ul>
                            <li>
                              <input type="checkbox" name="group[]" id="region_group1" value="">
                              <label for="region_group1">Středočeský kraj</label>
                            </li>
                            <li>
                              <input type="checkbox" name="group[]" id="region_group2" value="">
                              <label for="region_group2">Moravskoslezský kraj</label>
                            </li>
                            <li>
                              <input type="checkbox" name="group[]" id="region_group3" value="">
                              <label for="region_group3">Zlínský kraj</label>
                            </li>
                            <li class="spacer"></li>
                            <li>
                              <input type="checkbox" name="group[]" id="region_group4" value="" checked="">
                              <label for="region_group4">Všechny kraje</label>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="c-simple-accordion" data-accordion="" data-options="allowAllClosed: true">
                <li class="c-simple-accordion-item is-active" data-accordion-item="">
                  <a href="#" class="c-simple-accordion-title">Předsednictvo strany</a>
                  <div class="c-simple-accordion-content" data-tab-content="">
                    <div class="row">
                        {% for person in site.data.people[0].list %}
                          {% assign loopindex = forloop.index | modulo: 2 %}
                          {% if loopindex == 1 %}
                          <div class="u-cf o-section-block o-section-block--divided-small o-section-block--divided-small--border">
                          {% endif %}
                          {% include people/person.html param='person' %}
                          {% if loopindex == 0 %}
                          </div>
                          {% endif %}
                        {% endfor %}
                    </div>
                </li>
              </ul>
              <ul class="c-simple-accordion" data-accordion="" data-options="allowAllClosed: true">
                <li class="c-simple-accordion-item is-active" data-accordion-item="">
                  <a href="#" class="c-simple-accordion-title">Krajští zastupitelé</a>
                  <div class="c-simple-accordion-content" data-tab-content="">
                    <div class="c-simple-accordion-content-block">
                      <h3>Hlavní město Praha</h3>
                      <div class="row">
                        {% for person in site.data.people[1].list[0].list %}
                          {% assign loopindex = forloop.index | modulo: 2 %}
                          {% if loopindex == 1 %}
                          <div class="u-cf o-section-block o-section-block--divided-small o-section-block--divided-small--border">
                          {% endif %}
                          {% include people/person.html param='person' %}
                          {% if loopindex == 0 %}
                          </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                    <div class="c-simple-accordion-content-block">
                      <h3>Karlovarský kraj</h3>
                      <div class="row">
                        {% for person in site.data.people[1].list[1].list %}
                          {% assign loopindex = forloop.index | modulo: 2 %}
                          {% if loopindex == 1 %}
                          <div class="u-cf o-section-block o-section-block--divided-small o-section-block--divided-small--border">
                          {% endif %}
                          {% include people/person.html param='person' %}
                          {% if loopindex == 0 %}
                          </div>
                          {% endif %}
                        {% endfor %}
                        </div>
                      </div>
                    </div>
                    <div class="c-simple-accordion-content-block">
                      <h3>Královéhradecký kraj</h3>
                      <div class="row">
                        <div class="u-cf o-section-block o-section-block--divided-small o-section-block--divided-small--border">
                        {% assign person = site.data.people[1].list[2].list[0] %}
                        {% include people/person.html param='person' %}
                        </div>
                      </div>
                    </div>
                    <div class="c-simple-accordion-content-block">
                      <h3>Jihomoravský kraj</h3>
                      <div class="row">
                      {% for person in site.data.people[1].list[3].list %}
                        {% assign loopindex = forloop.index | modulo: 2 %}
                        {% if loopindex == 1 %}
                        <div class="u-cf o-section-block o-section-block--divided-small o-section-block--divided-small--border">
                        {% endif %}
                        {% include people/person.html param='person' %}
                        {% if loopindex == 0 %}
                        </div>
                        {% endif %}
                      {% endfor %}
                      </div>
                    </div>
                </li>
              </ul>
              <ul class="c-simple-accordion" data-accordion="" data-options="allowAllClosed: true">
                <li class="c-simple-accordion-item" data-accordion-item="">
                  <a href="#" class="c-simple-accordion-title">Senátoři s podporou Pirátů</a>
                  <div class="c-simple-accordion-content" data-tab-content="">
                    <div class="row">
                      <p>Senátoři zvoleni s Pirátskou podporou. Nominováni byli i dalšími stranami.</p>
                      {% for person in site.data.people[2].list %}
                      {% assign loopindex = forloop.index | modulo: 2 %}
                      {% if loopindex == 1 %}
                      <div class="u-cf o-section-block o-section-block--divided-small o-section-block--divided-small--border">
                      {% endif %}
                      {% include people/person.html param='person' %}
                      {% if loopindex == 0 %}
                      </div>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="c-simple-accordion" data-accordion="" data-options="allowAllClosed: true">
                <li class="c-simple-accordion-item is-active" data-accordion-item="">
                  <a href="#" class="c-simple-accordion-title">Komunální zastupitelé</a>
                  <div class="c-simple-accordion-content" data-tab-content="">
                    <div class="c-simple-accordion-content-block">
                      <h3>Název obce</h3>
                      <div class="row">
                        <div class="u-cf o-section-block o-section-block--divided-small o-section-block--divided-small--border">
                          <div class="large-6 small-12 small-collapse columns end o-section-mediumdown-divided-small">
                            <div class="o-media o-media--top">
                              <div class="o-media__image o-media__image--lgspace">
                                <img src="{{ 'flag-object-person.png' | prepend: '/assets/img/placeholders/' | prepend: site.baseurl }}" alt="Jméno Přijmení"> </div>
                              <div class="o-media__body">
                                <h2 class="o-media__headline">
                                  <a href="#">Jméno Přijmení</a>
                                </h2>
                                <p>
                                  <strong>Starosta</strong>
                                </p>
                                <p> +420 XXX YYY ZZZ
                                  <br>
                                  <a href="mailto:jmeno.prijmeni@pirati.cz">jmeno.prijmeni@pirati.cz</a>
                                  <br> </p>
                              </div>
                            </div>
                          </div>
                          <div class="large-6 small-12 small-collapse columns end o-section-mediumdown-divided-small">
                            <div class="o-media o-media--top">
                              <div class="o-media__image o-media__image--lgspace">
                                <img src="{{ 'flag-object-person.png' | prepend: '/assets/img/placeholders/' | prepend: site.baseurl }}" alt="Jméno Přijmení"> </div>
                              <div class="o-media__body">
                                <h2 class="o-media__headline">
                                  <a href="#">Jméno Přijmení</a>
                                </h2>
                                <p> Funkce </p>
                                <p> +420 XXX YYY ZZZ
                                  <br>
                                  <a href="mailto:jmeno.prijmeni@pirati.cz">jmeno.prijmeni@pirati.cz</a>
                                  <br> </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="u-cf o-section-block o-section-block--divided-small o-section-block--divided-small--border">
                          <div class="large-6 small-12 small-collapse columns end o-section-mediumdown-divided-small">
                            <div class="o-media o-media--top">
                              <div class="o-media__image o-media__image--lgspace">
                                <img src="{{ 'flag-object-person.png' | prepend: '/assets/img/placeholders/' | prepend: site.baseurl }}" alt="Jméno Přijmení"> </div>
                              <div class="o-media__body">
                                <h2 class="o-media__headline">
                                  <a href="#">Jméno Přijmení</a>
                                </h2>
                                <p> Funkce </p>
                                <p> +420 XXX YYY ZZZ
                                  <br>
                                  <a href="mailto:jmeno.prijmeni@pirati.cz">jmeno.prijmeni@pirati.cz</a>
                                  <br> </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="c-simple-accordion-content-block">
                      <h3>Název obce</h3>
                      <div class="row">
                        <div class="u-cf o-section-block o-section-block--divided-small o-section-block--divided-small--border">
                          <div class="large-6 small-12 small-collapse columns end o-section-mediumdown-divided-small">
                            <div class="o-media o-media--top">
                              <div class="o-media__image o-media__image--lgspace">
                                <img src="{{ 'flag-object-person.png' | prepend: '/assets/img/placeholders/' | prepend: site.baseurl }}" alt="Jméno Přijmení"> </div>
                              <div class="o-media__body">
                                <h2 class="o-media__headline">
                                  <a href="#">Jméno Přijmení</a>
                                </h2>
                                <p>
                                  <strong>Místostarosta</strong>
                                </p>
                                <p> +420 XXX YYY ZZZ
                                  <br>
                                  <a href="mailto:jmeno.prijmeni@pirati.cz">jmeno.prijmeni@pirati.cz</a>
                                  <br> </p>
                              </div>
                            </div>
                          </div>
                          <div class="large-6 small-12 small-collapse columns end o-section-mediumdown-divided-small">
                            <div class="o-media o-media--top">
                              <div class="o-media__image o-media__image--lgspace">
                                <img src="{{ 'flag-object-person.png' | prepend: '/assets/img/placeholders/' | prepend: site.baseurl }}" alt="Jméno Přijmení"> </div>
                              <div class="o-media__body">
                                <h2 class="o-media__headline">
                                  <a href="#">Jméno Přijmení</a>
                                </h2>
                                <p>
                                  <strong>Radní</strong>
                                </p>
                                <p> +420 XXX YYY ZZZ
                                  <br>
                                  <a href="mailto:jmeno.prijmeni@pirati.cz">jmeno.prijmeni@pirati.cz</a>
                                  <br> </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>
