@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.eot');
    src: url('BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Regular.woff2') format('woff2'),
        url('BebasNeue-Regular.woff') format('woff'),
        url('BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

