---
layout: default
img: snemovna/obecne/jednani_klubu.jpg
---
<style>
  .no-before:before {content:none !important;}
  @media screen and (max-width: 53.75em){
    .c-top-sub-nav .c-top-sub-nav-inner {padding-bottom:40px;}
    }    
</style>
<div class="l-micropage page--snemovna">
    <nav class="c-top-sub-nav u-center-860-down">
        <div class="row">
            <div class="c-top-sub-nav-inner no-before">
                <div class="u-cf">
                    <div class="c-top-sub-nav-header">
                        <div class="c-top-sub-nav__heading">Piráti ve sněmovně</div>
                    </div>
                    <div class="c-top-sub-nav-divider"></div>
                    <ul class="c-top-sub-nav-items">
                        <li class="c-top-sub-nav__item"><a href={{ "tymy/" | relative_url }}>Resortní týmy</a></li>
                        <li class="c-top-sub-nav__item"><a href={{ "snemovna/sance-pro-nove-napady" | relative_url }}>Vaše nápady</a></li>
                        <li class="c-top-sub-nav__item"><a href="{{ "snemovna/finance" | relative_url }}">Transparentní finance</a></li>
                        <li class="c-top-sub-nav__item"><a href="#klub">Kontakt</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </nav>

  
    {% comment %}
    <section class="l-micropage__hero">
        <div class="row o-section">
            <div class="medium-12 columns">
                <div class="l-micropage__hero-text">
                    <h1 div class="l-micropage__hero-subhead">Podívejte se, jak pracují Vaši poslanci!</h1>
                    <p class="l-micropage__perex">Na této stránce najdete, jak plníme naše volební sliby, a kontakty, jak se s námi spojit.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="l-micropage__section row o-section"  id="snemovna">
        <div class="small-12 columns">
            <h2 class="l-micropage__detail-title text-center">Sněmovna a Piráti</h2>
        </div>
    </section>

    <section class="l-micropage__section row o-section" id="priority">
        <div class="small-12 columns">
            {% include_relative holony.html %}
        </div>
    </section>
    {% endcomment %}
    <section class="l-micropage__section row o-section " id="klub">
        <div class="small-12 columns c-BasicPage">
            {% include_relative klub.html %}
        </div>
    </section>
  
    <section class="l-micropage__section row o-section " id="aktuality">
        <div class="small-12 columns">
            {% include_relative _aktuality.html %}
        </div>
    </section>

  
    <div class="l-micropage__modal" style="display: none"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
</div>
