---
layout: default
---
<div class="l-micropage">
    <section class="l-micropage__hero">
        <div class="row o-section">
            <div class="medium-5 columns">
                <!--<div class="l-micropage__hero-head"><span class="u-big">10.79%</span></div>-->
                <!--<div class="l-micropage__hero-head"><span class="u-big">20</span>priorit</div>-->
                <!--<div class="l-micropage__hero-head"><span class="u-big">22</span>pirátů</div>-->
            </div>
            <div class="medium-7 columns">
                <div class="l-micropage__hero-text">
                    <h1 div class="l-micropage__hero-subhead">Piráti ve sněmovně</h1>
                    <p class="l-micropage__perex">Informační otevřenost, finanční transparentnost a především možnost občanů aktivně rozhodovat.</p>
                    <p class="l-micropage__perex">Proto jsme se sešli právě pod křídly Pirátské strany.</br>Proto jsme v poslanecké sněmovně.</p>
                </div>
            </div>
        </div>
    </section>
    <nav class="l-micropage__top-bar c-top-bar">
        <div class="row">
            <ul class="l-micropage__top-bar__list menu dropdown">
                <li class="l-micropage__top-bar__list-item"><a href="#">Aktuality</a></li>
                <li class="l-micropage__top-bar__list-item"><a href="#">Klub</a></li>
            </ul>
        </div>
    </nav>
    <section class="l-micropage__section row o-section ">
        <div class="small-12 columns">
            {% include_relative aktuality.html %}
        </div>
    </section>
    <section class="l-micropage__section row o-section ">
        <div class="small-12 columns">
            {% include_relative klub.html %}
        </div>
    </section>
</div>
