<h2 class="l-micropage__heading">Poslanecký klub Pirátů</h2>
<p class="l-micropage__perex text-center">Poslanecký klub Pirátů sdružuje 22 poslanců Pirátské strany. Všichni jeho členové jsou vázáni Kodexem pirátského poslance a ve Sněmovně prosazují stěžejní cíle pirátského programu. Předsedou klubu je Jakub Michálek.</p>
<div class="row text-center">
    <div class="columns medium-12">
        <h4><a data-modal href="/snemovna/pomery_klubu.html">Kodex poslance</a></h4>
    </div>
</div>
<div class="">
    <div class="">
        <h2 class="l-micropage__detail-title text-center">Resorty</h2>
        <div class="row">
        {% assign cols=4 %}
        {% include_relative _vizitka.html
            name="Ondřej Polanský" link="/lide/ondrej-polansky" mail="ondrej.polansky@pirati.cz "
            img="/assets/img/snemovna/Polansky_Ondrej.jpg"
            desc="místopředseda podvýboru pro dopravu"
            res="Doprava"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Mikuláš Ferjenčík" link="/lide/mikulas-ferjencik"
            img="/assets/img/snemovna/Ferjencik_Mikulas.jpg"
            desc="místopředseda rozpočtového výboru"
            res="Finance"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Ondřej Profant" link="/lide/ondrej-profant"
            img="/assets/img/snemovna/Profant_Ondrej.jpg"
            desc="předseda podvýboru pro ICT, telekomunikace a digitální ekonomiku"
            res="Informatika"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Lenka Kozlová" link="/lide/lenka-kozlova"
            img="/assets/img/snemovna/Kozlova_Lenka.jpg"
            desc="výbor pro vědu, vzdělání, kulturu, mládež a tělovýchovu"
            res="Kultura"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Ivan Bartoš" link="/lide/ivan-bartos" mail="ivan.bartos@pirati.cz"
            img="/assets/img/snemovna/Bartos_Ivan.jpg"
            desc="předseda výboru pro veřejnou správu a regionální rozvoj"
            res="Místní rozvoj"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="František Kopřiva" link="/lide/frantisek-kopriva" mail="frantisek.kopriva@pirati.cz"
            img="/assets/img/snemovna/Kopriva_Frantisek.jpg"
            res="Mládež a tělovýchova"
            desc="výbor pro evropské záležitosti a výbor pro obranu"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Jan Lipavský" link="/lide/jan-lipavsky" mail="jan.lipavsky@pirati.cz"
            img="/assets/img/snemovna/Lipavsky_Jan.jpg"
            desc="místopředseda výboru pro obranu"
            res="Obrana"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Olga Richterová" link="/lide/olga-richterova" mail="olga.richterova@pirati.cz"
            img="/assets/img/snemovna/Richterova_Olga.jpg"
            desc="místopředsedkyně výboru pro sociální politiku"
            res="Práce a socíální věci"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Martin Jiránek" link="/lide/martin-jiranek" mail="martin.jiranek@pirati.cz"
            img="/assets/img/snemovna/Jiranek_Martin.jpg"
            desc="místopředseda hospodářského výboru"
            res="Průmysl a obchod"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Jakub Michálek" link="/lide/jakub-michalek" mail="jakub.michalek@pirati.cz"
            img="/assets/img/snemovna/Michalek_Jakub.jpg"
            desc="místopředseda ústavněprávního výboru"
            res="Spravedlnost"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Lukáš Kolářík" link="/lide/lukas-kolarik" mail="lukas.kolarik@pirati.cz"
            img="/assets/img/snemovna/Kolarik_Lukas.jpg"
            desc="místopředseda výboru pro bezpečnost"
            res="Vnitro"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Lukáš Bartoň" link="/lide/lukas-barton" mail="lukas.barton@pirati.cz"
            img="/assets/img/snemovna/Barton_Lukas.jpg"
            desc="místopředseda výboru pro vědu, vzdělání, kulturu, mládež a tělovýchovu"
            res="Školství a sport"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Mikuláš Peksa" link="/lide/mikulas-peksa"
            img="/assets/img/snemovna/Peksa_Mikulas.jpg"
            desc="místopředseda výboru pro evropské záležitosti"
            res="Zahraniční věci"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Petr Třešňák" link="/lide/petr-tresnak" mail="petr.tresnak@pirati.cz"
            img="/assets/img/snemovna/Tresnak_Petr.jpg"
            desc="místopředseda výboru pro zdravotnictví"
            res="Zdravotnictvi"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Radek Holomčík" link="/lide/radek-holomcik" mail="radek.holomcik@pirati.cz"
            img="/assets/img/snemovna/Holomcik_Radek.jpg"
            desc="místopředseda zemědělského výboru"
            res="Zemědělství"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Dana Balcarová" link="/lide/dana-balcarova" mail="dana.balcarova@pirati.cz"
            img="/assets/img/snemovna/Balcarova_Dana.jpg"
            desc="předsedkyně výboru pro životní prostředí"
            res="Životní prostředí"
            columns=cols
        %}
        </div>
    </div>
    <div class="">
        <h2 class="l-micropage__detail-title text-center">Vnitřní fungování sněmovny</h2>
        <div class="row">
            {% assign cols=4 %}
            {% include_relative _vizitka.html
            name="Lukáš Černohorský" link="/lide/lukas-cernohorsky" mail="lukas.cernohorsky@pirati.cz"
            img="/assets/img/snemovna/Cernohorsky_Lukas.jpg"
            res="Kontrolní výbor"
            desc="místopředseda"
            columns=cols
            %}

            {% include_relative _vizitka.html
            name="Lukáš Bartoň" link="/lide/lukas-barton" mail="lukas.barton@pirati.cz"
            img="/assets/img/snemovna/Barton_Lukas.jpg"
            res="Mandátový a imunitní výbor"
            desc="člen"
            columns=cols
            %}

            {% include_relative _vizitka.html
            name="Vojtěch Pikal" link="/lide/vojtech-pikal" mail="vojtech.pikal@pirati.cz"
            img="/assets/img/snemovna/Pikal_Vojtech.jpg"
            res="Organizační výbor"
            desc="místopředseda sněmovny"
            columns=cols
            %}

            {% include_relative _vizitka.html
            name="Tomáš Martínek" link="/lide/tomas-martinek" mail="tomas.martinek@pirati.cz"
            img="/assets/img/snemovna/Martinek_Tomas.jpg"
            res="Volební výbor"
            desc="místopředseda, předseda nominačního týmu"
            columns=cols
            %}

            {% include_relative _vizitka.html
            name="František Elfmark" link="/lide/frantisek-elfmark" mail="frantisek.elfmark@pirati.cz"
            img="/assets/img/snemovna/Elfmark_Frantisek.jpg"
            res="Petiční výbor"
            desc="místopředseda"
            columns=cols
            %}


        </div>
    </div>
    <div class="" style="display:none">
        <h2 class="l-micropage__detail-title text-center" id="transparence">Fungování klubu</h2>
        <div class="row">
        {% assign cols=4 %}

        {% include_relative _vizitka.html
            name="Jan Pošvář" link="/lide/jan-posvar/" mail="poslanci@pirati.cz"
            img="/assets/img/snemovna/Posvar_Jan.jpg"
            res="Kontakt pro veřejnost"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Radek Holomčík" link="/lide/radek-holomcik" mail="radek.holomcik@pirati.cz"
            img="/assets/img/snemovna/Holomcik_Radek.jpg"
            res="Kontakt pro média"
            columns=cols
        %}

        {% include_relative _vizitka.html
            name="Tomáš Vymazal" link="/lide/tomas-vymazal" mail="tomas.vymazal@pirati.cz"
            img="/assets/img/snemovna/Vymazal_Tomas.jpg"
            res="Technické systémy klubu"
            desc=""
            columns=cols
        %}
        </div>
    </div>


</div>
