<div class="c-BasicPage-content">
            <h2 class="l-micropage__heading">Poslanecký klub Pirátů</h2>
<p class="l-micropage__perex text-center"><strong>Piráti jsou liberální, středová a demokratická strana s důsledným protikorupčním programem.</strong> 
    Poslanecký klub Pirátů sdružuje 4 poslance, kteří patří od listopadu 2021 k vládní koalici. </p>

<div class="text-center">
    
        <img src="/assets/img/snemovna/klub.jpg">
</div>
    

    
  <p class="l-micropage__perex" style="margin-top:10px"><strong>Priority Pirátů ve sněmovně</strong> pro rok 2022 jsou: 
      </p><ol>
          <li> změnit <strong>zákon o střetu zájmů</strong>, abychom ukončili úzké propojení politiky, byznysu a médií, a prosadit i další <strong>protikorupční zákony</strong>,</li>
    <li> pomoci lidem s <strong>bydlením</strong>, a to změnou stavebního zákona a zákonem o podpoře v bydlení,</li> 
    <li> <strong>ochrana spotřebitelů v oblasti energetiky</strong>, kde statisíce domácností čelí rekordnímu zdražování, a rychlejší <strong>oddlužení</strong>,</li> 
    <li><strong>kvalitní legislativa</strong> pro zvládnutí pandemie s co nejmenším omezováním svobody a <strong>méně byrokracie</strong> ve firmách a na obcích.</li>
</ol>
    Předsedou poslaneckého klubu je Jakub Michálek.<p></p>
    </div>


<div class="">
    <div class="">
        <h2 class="l-micropage__detail-title text-center">Resorty</h2>
                
        <p class="l-micropage__perex text-center">Kontaktujte nás prosím na e-mailu <a href="mailto:info@pirati.cz">info@pirati.cz</a> a na Váš dotaz odpoví člověk, který u nás zodpovídá za danou oblast. </p>        
        
        <div class="row" style="display: flex; flex-wrap: wrap;">
        {% assign cols=4 %}
 

        {% include snemovna/vizitka.html
            name="Olga Richterová" link="/lide/olga-richterova" mail="olga.richterova@pirati.cz"
            img="/assets/img/snemovna/Richterova_Olga.jpg"
            desc="Místopředsedkyně Poslanecké sněmovny"
            res="Práce a sociální věci"
            columns=cols
        %}

        {% include snemovna/vizitka.html
            name="Klára Kocmanová" link="/lide/klara-kocmanova" mail="klara.kocmanova@pirati.cz"
            img="/assets/img/snemovna/Klara_Kocmanova.jpg"
            desc="Členka výboru pro sociální politiku, výboru pro životní prostředí a komise pro kontrolu použití odposlechu"
            res="Životní prostředí"
            columns=cols
        %}

        {% include snemovna/vizitka.html
            name="Jakub Michálek" link="/lide/jakub-michalek" mail="jakub.michalek@pirati.cz"
            img="/assets/img/snemovna/Michalek_Jakub.jpg"
            desc="Předseda poslaneckého klubu Pirátů, místopředseda Ústavně-právního výboru"
            res="Spravedlnost"
            columns=cols
        %}
 
        </div>
    </div>

    {% comment %}

    
    <div class="">
        <h2 class="l-micropage__detail-title text-center">Vnitřní fungování sněmovny</h2>
        <div class="row">
            {% assign cols=4 %}
  


        </div>
    </div>
    {% endcomment %}

</div>
