---
layout: default
---
<h2 class="l-micropage__heading">Poslanecký klub pirátů</h2>
<p class="l-micropage__perex text-center">Poslanecký klub pirátů vznikl 22. října 2017, sdružující 22 poslanců Pirátské strany. Všichni jeho členové jsou vázáni Kodexem pirátského poslance, a ve sněmovně prosazují stěžejní cíle pirátského programu. Předsedou je Jakub Michálek.</p>
<div class="row text-center">
    <div class="columns medium-4">
        <h4><a data-modal href="/snemovna/pomery_klubu.html">Kodex poslance</a></h4>
    </div>
    <div class="columns medium-4">
        <h4><a data-modal href="https://datastudio.google.com/open/1YK12KVthz2zYQ1wFnfudVWxY472sjzXA">Výkazy</a></h4>
    </div>
    <div class="columns medium-4">
        <h4><a data-modal href="/snemovna/priority.html">Pirátské priority</a></h4>
    </div>
</div>
<div class="">
    <div class="">
        <h2 class="l-micropage__detail-title text-center" id="transparence">Fungování klubu</h2>
        <div class="row">
        {% assign cols=6 %}

        {% include_relative vizitka.html
            name="Jan Pošvář" link="/lide/jan-posvar/" mail="poslanci@pirati.cz"
            img="/assets/img/snemovna/Posvar_Jan.jpg"
            res="Kontakt pro veřejnost"
            columns=cols
        %}

        {% include_relative vizitka.html
            name="Radek Holomčík" link="/snemovna/vizitka.html" mail="radek.holomcik@pirati.cz"
            img="/assets/img/snemovna/Holomcik_Radek.jpg"
            res="Kontakt pro média"
            columns=cols
        %}
        </div>
    </div>
    <div class="">
        <h2 class="l-micropage__detail-title text-center">Resorty</h2>
        <div class="row">
        {% assign cols=4 %}
        {% include_relative vizitka.html
            name="Ondřej Polanský" link="/snemovna/vizitka.html" mail="ondrej.polansky@pirati.cz "
            img="/assets/img/snemovna/Polansky_Ondrej.jpg"
            desc="člen podvýboru pro dopravu"
            res="Doprava"
            columns=cols
        %}

        {% include_relative vizitka.html
            name="Mikuláš Ferjenčík" link="/snemovna/vizitka.html"
            img="/assets/img/snemovna/Ferjencik_Mikulas.jpg"
            desc="místopředseda rozpočtového výboru"
            res="Finance"
            columns=cols
        %}

        {% include_relative vizitka.html
            name="Ondřej Profant" link="/snemovna/vizitka.html"
            img="/assets/img/snemovna/Profant_Ondrej.jpg"
            desc="předseda podvýboru pro ICT, telekomunikace a digitální ekonomiku"
            res="Informatika"
            columns=cols
        %}

        {% include_relative vizitka.html
            name="Lenka Kozlová" link="/snemovna/vizitka.html"
            img="/assets/img/snemovna/Kozlova_Lenka.jpg"
            desc="členka podvýboru pro kulturu"
            res="Kultura"
            columns=cols
        %}

        {% include_relative vizitka.html
            name="Mikuláš Peksa" link="/snemovna/vizitka.html"
            img="/assets/img/snemovna/Peksa_Mikulas.jpg"
            desc="místopředseda výboru pro evropské záležitosti"
            res="Zahraniční věci"
            columns=cols
        %}

        {% include_relative vizitka.html
            name="Ivan Bartoš" link="/snemovna/getVizitka.html" mail="ivan.bartos@pirati.cz"
            img="/assets/img/snemovna/Bartos_Ivan.jpg"
            desc="předseda výboru pro veřejnou správu a regionální rozvoj"
            res="Místní rozvoj"
            columns=cols
        %}

        {% include_relative vizitka.html
            name="Jan Lipavský" link="/snemovna/vizitka.html" mail="ivan.bartos@pirati.cz"
            img="/assets/img/snemovna/Lipavsky_Jan.jpg"
            desc="místopředseda výboru pro obranu"
            res="Obrana"
            columns=cols
        %}

        {% include_relative vizitka.html
            name="Olga Richterová" link="/snemovna/vizitka.html" mail="olga.richterova@pirati.cz"
            img="/assets/img/snemovna/Richterova_Olga.jpg"
            desc="místopředsedkyně výboru pro sociální politiku"
            res="Práce a socíální věci"
            columns=cols
        %}

        {% include_relative vizitka.html
            name="Martin Jiránek" link="/snemovna/vizitka.html" mail="martin.jiranek@pirati.cz"
            img="/assets/img/snemovna/Jiranek_Martin.jpg"
            desc="místopředseda hospodářského výboru"
            res="Průmysl a obchod"
            columns=cols
        %}

        {% include_relative vizitka.html
            name="Jakub Michálek" link="/snemovna/vizitka.html" mail="jakub.michalek@pirati.cz"
            img="/assets/img/snemovna/Michalek_Jakub.jpg"
            desc="místopředseda ústavněprávního výboru"
            res="Spravedlnost"
            columns=cols
        %}

        {% include_relative vizitka.html
            name="Lukáš Kolářík" link="/snemovna/vizitka.html" mail="lukas.kolarik@pirati.cz"
            img="/assets/img/snemovna/Kolarik_Lukas.jpg"
            desc="místopředseda výboru pro bezpečnost"
            res="Vnitro"
            columns=cols
        %}

        {% include_relative vizitka.html
            name="Lukáš Bartoň" link="/snemovna/vizitka.html" mail="lukas.barton@pirati.cz"
            img="/assets/img/snemovna/Barton_Lukas.jpg"
            desc="místopředseda výboru pro vědu, vzdělání, kulturu, mládež a tělovýchovu"
            res="Školství, mládež a tělovýchova"
            columns=cols
        %}

        {% include_relative vizitka.html
            name="Petr Třešňák" link="/snemovna/vizitka.html" mail="petr.tresnak@pirati.cz"
            img="/assets/img/snemovna/Tresnak_Petr.jpg"
            desc="místopředseda výboru pro zdravotnictví"
            res="Zdravotnictvi"
            columns=cols
        %}

        {% include_relative vizitka.html
            name="Radek Holomčík" link="/snemovna/vizitka.html" mail="radek.holomcik@pirati.cz"
            img="/assets/img/snemovna/Holomcik_Radek.jpg"
            desc="místopředseda zemědělského výboru"
            res="Zemědělství"
            columns=cols
        %}

        {% include_relative vizitka.html
            name="Dana Balcarová" link="/snemovna/vizitka.html" mail="dana.balcarova@pirati.cz"
            img="/assets/img/snemovna/Balcarova_Dana.jpg"
            desc="předsedkyně výboru pro životní prostředí"
            res="Životní prostředí"
            columns=cols
        %}
        </div>
    </div>
    <div class="">
        <h2 class="l-micropage__detail-title text-center">Vnitřní fungování sněmovny</h2>
        <div class="row">
            {% assign cols=4 %}
            {% include_relative vizitka.html
            name="Lukáš Černohorský" link="/snemovna/vizitka.html" mail="lukas.cernohorsky@pirati.cz"
            img="/assets/img/snemovna/Cernohorsky_Lukas.jpg"
            res="Kontrolní výbor"
            desc="místopředseda"
            columns=cols
            %}

            {% include_relative vizitka.html
            name="Lukáš Bartoň" link="/snemovna/vizitka.html" mail="lukas.barton@pirati.cz"
            img="/assets/img/snemovna/Barton_Lukas.jpg"
            res="Mandátový a imunitní výbor"
            desc="místopředseda"
            columns=cols
            %}

            {% include_relative vizitka.html
            name="Vojtěch Pikal" link="/snemovna/vizitka.html" mail="vojtech.pikal@pirati.cz"
            img="/assets/img/snemovna/Pikal_Vojtech.jpg"
            res="Organizační výbor"
            desc="místopředseda sněmovny"
            columns=cols
            %}
        </div>
    </div>


</div>