<h4 class="f-label--donut" text-anchor="middle" x="50%" y="50%">{% if include.name %}<a href="https://redmine.pirati.cz/issues/{{ include.redmine_id }}">{{ include.name }}</a>{% endif %}</h4>
<svg width="100%" height="100%" viewBox="0 0 42 42" class="f-donut">
    <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
    <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="3"></circle>
    <circle id='redmineid_{{ include.redmine_id }}' class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ce4b99" stroke-width="3" stroke-dasharray="0 100" stroke-dashoffset="25"></circle>
</svg>

{% if include.redmine_id %}
<script>
  milos.priorityStack.push(function (context) {
    var url = 'https://redmine.pirati.cz/issues/{{ include.redmine_id }}.json';
    var xhr = milos.createCORSRequest('GET', url);
    if (!xhr) {
      alert('CORS not supported');
      return;
    }
    xhr.onload = function() {
      var doc = JSON.parse(xhr.responseText);
      var gauge = document.getElementById('redmineid_{{ include.redmine_id }}');
      gauge.setAttribute('stroke-dasharray', doc.issue.done_ratio + ' ' + (100 - doc.issue.done_ratio));
    }
    xhr.onerror = function() {
      alert('Woops, there was an error making the request.');
    };
    xhr.send();
  });
</script>
{% endif %}