---
layout: page
title: Garanti volebního programu
rbar: ""
---

<div class="row">
  <div class="medium-12 large-12 columns">
    <section class="o-section o-section--noSpaceBottom">
      <div class="o-section-inner">
        <div class="c-BasicPage">
          <div class="vspace-nb-m">

            <ul class="c-simple-accordion " data-accordion="" data-options="allowAllClosed: true">
              <li class="c-simple-accordion-item  is-active" data-accordion-item="">
                <a href="#" class="c-simple-accordion-title">Seznam garantů</a>

                {% assign myteams = site.teams | where_exp: "item", "item.categories contains 'program'" %}
                {% include team/list-3col.html param=myteams %}

              </li>
            </ul>

          </div>
        </div>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>

{% comment %}
{% assign program = site.program | where: "category","psp2017" %}
<ul>{% for p in program %}
  <li><a href="{{p.url | relative_url}}">{{p.title}}</a></li>
{% endfor %}</ul>
{% endcomment %}
