---
layout: page
title: Dlouhodobý program
rbar: ""
---

{% assign program = site.program | where: "category","dlouhodoby" | group_by:"topic" %}
{% for topic in program %}
<div class="medium-12 large-4 columns o-section-block--medium">
  <div class="o-section-header">
    <h2 class="o-section__heading o-section__heading--small">{{topic.name}}</h2>
  </div>
  <br>
  <ul>
  {% for item in topic.items %}
    <li><a href="{{ item.url | relative_url }}">{{item.title}}</a></li>
  {% endfor %}
  </ul>
</div>
{% endfor %}
