.c-widget-simple-text {

  a {
    color: #878787;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.c-widget-simple-text--stacked {
  margin-top: 1rem;
}