---
---

<!DOCTYPE html>
<html lang="cs" dir="ltr" itemtype="http://schema.org/WebPage" itemscope="">

  {% include head.html %}

  <body>

    {% include header.html %}
    
    {% if site.data.menu.main %}
        {% include menu.html %}
        {% unless page.nosubmenu %}
            {% include submenu.html %}
        {% endunless %}
    {% endif %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include js/hashed/main.html %}
  </body>

</html>
