---
layout: default
---

{%unless page.nomenu%}
{% include submenu.html %}
{% endunless%}

<div class="row">
  <div class="medium-12 {% if page.rbar == empty %}large-12{% else%}large-8{%endif%} columns">
    <div class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <main class="o-section-block">
          <!-- Article -->
          <article itemtype="http://schema.org/BlogPosting" class="c-BasicPage" itemscope="">
            <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
            <h1 itemprop="headline" class="c-BasicPage__title">
              {%if page.fullname%}{{page.fullname}}{%else%}{{page.title}}{%endif%}
            </h1>
            <div itemprop="description" class="c-BasicPage-content">
              {{content}}
            </div>
          </article>
          <!-- /Article -->
        </main>
      </div>
    </div>
  </div>
  {% unless page.rbar == blank %}
  <div class="medium-12 large-4 columns">
    {% include right-bar/rbar.html %}
  </div>
  {% endunless %}
</div>
