---
layout: default
---

<article itemtype="http://schema.org/BlogPosting" class="c-BasicPage" itemscope="">
  <div class="row">
    <div class="medium-12 columns">
      <div class="o-section o-section--noSpaceBottom">
        <div class="">
          <div class="o-section-block o-section-block--fill">
            <div class="o-section-inner">
              <div class="medium-12 columns">
                <!-- Article -->
                <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
                <header class="c-BasicPage-header">
                  <h1 itemprop="headline" class="c-BasicPage__title"> {{page.title}} </h1>
                  <div class="c-BasicPage__meta">
                    <span itemprop="description" class="c-BasicPage__datePublished">
                      <i class="fa fa-calendar-o" aria-hidden="true"></i> {{page.date | date: "%d. %m. %Y" }}
                      <meta itemprop="datePublished" content="{{page.date | date_to_xmlschema }}">
                      <meta itemprop="dateModified" content=""> </span>
                    <br class="hide-for-medium">
                    <!-- Authors -->
                    <span itemprop="author" itemtype="http://schema.org/Person" class="c-BasicPage__authors" itemscope="">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      <span itemprop="name" class="c-BlogPosting-excerpt__author" id="authors">{{page.author}}</span>
                    </span>
                    <div class="c-BasicPage-tags">

                      <span class="c-BasicPage-tags__headline">Tagy</span>
                      <ul class="c-tag-list">
                        {% for tag in page.tags %}
                        <li>
                          <a href="{{ tag | prepend: '/tags/#' | relative_url }}" class="c-tag">{{tag}}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </header>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="o-section-block o-section-block-fill">
    <div class="c-BasicPage-headline-img">
      <div class="c-BasicPage-headline-bg">
        <img src="{{ page.image | relative_url }}" alt="{{page.title}}"> </div>
      <div class="row small-collapse medium-uncollapse">
        <div class="small-12 columns">
          <div class="o-section-inner--medium">
            <img src="{{ page.image | relative_url }}" alt="{{page.title}}"> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row o-section-block">
    <div class="small-12 columns">
      <div class="o-section o-section--noSpaceBottom">
        <div class="">
          <div class="o-section-block o-section-block--fill">
            <div class="o-section-inner">
              <div class="medium-12 large-8 columns">
                <div itemprop="description" class="c-BasicPage-content">
                  {{content}}
                </div>
              </div>

              <div class="medium-12 large-4 columns">
                  <div class="c-widget-share-box c-widget-share-box--mediumstacked">
                      <div class="c-widget-share-box-headline">Sdílení je aktem lásky</div>
                      <div class="c-widget-share-box-content">
                          <!-- https://mycyberuniverse.com/web/social-media-share-bar-jekyll-blog-website.html --> 
                          <div class="share-buttons">
                              <a  href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}"
                                  onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                                  title="Share on Facebook" >
                                  <i class="fa fa-facebook-official share-button"> facebook</i>
                              </a>
                              </br>
                              <a  href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}"
                                  onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                                  title="Share on Twitter" >
                                  <i class="fa fa-twitter share-button"> twitter</i>
                              </a>
                          </div>
                      </div>
                  </div>
               </div>

                <div class="c-widget-simple-text c-widget-simple-text--stacked" id="relatives-box">
                  <div class="c-widget-share-box-headline u-center">Kam dále?</div>
                  <div class="c-widget-share-box-content">
                    <ul id="relatives" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
