---
layout: default
---

<div class="row">
  <div class="medium-12 columns">
    <div class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <main class="o-section-block">
          <!-- Article -->
          <article itemtype="http://schema.org/BlogPosting" class="c-BasicPage" itemscope="">
            <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
            <h1 itemprop="headline" class="c-BasicPage__title"> Program </h1>
            <div itemprop="description" class="c-BasicPage-content">

              {{content}}

            </div>
          </article>
          <!-- /Article -->
        </main>
        <div class="row o-section-block o-section-block--fill">
          {% assign program = site.program | group_by:"topic" %}
          {% for topic in program %}
            {% include accordeon/accordeon-column.html param='topic' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
