---
layout: default
---


<div class="row">
  <div class="medium-12 {% if page.rbar == empty %}large-12{% else%}large-8{%endif%} columns">
    <div class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <main class="o-section-block">
          <!-- Article -->
          <article itemtype="http://schema.org/BlogPosting" class="c-BasicPage" itemscope="">
            <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
            {% if page['nadřízený tým'] %}

            <ul class="breadcrumbs">
                <li><a href="{{ '/pripoj-se/tymy/' | relative_url }}">Seznam týmů</a></li>
            {% assign thisteam = page['nadřízený tým'] %}
            {% assign superior = site.teams | where_exp: "item", "item.name == thisteam" | first %}
            <li><a href="{{ superior.url}}">{{ thisteam | capitalize }}</a></li>
            <li class="current">{{page.name | capitalize }}</li>
            </ul>

            {% endif %}
            <h1 itemprop="headline" class="c-BasicPage__title">
                {{page.name}}
            </h1>
            
            {% if page.redmine_id or page.calendar %}
              <ul class="tabs" data-tabs id="profilove_zalozky">
                <li class="tabs-title is-active"><a data-tabs-target="popis" href="#popis" aria-selected="true">Popis</a></li>
                {% if page.redmine_id %}<li class="tabs-title"><a data-tabs-target="ukoly_tymu" href="#ukoly_tymu">Střednědobé cíle týmu</a></li>{% endif %}
                {% if page.calendar %}<li class="tabs-title"><a data-tabs-target="kalendar_tymu" href="#kalendar_tymu">Kalendář</a></li>{% endif %}
                {% if page.mpv %}<li class="tabs-title"><a data-tabs-target="mpv" href="#mpv">Mediální výsledky</a></li>{% endif %}
              </ul>
            {% endif %}
            
            {% if page.redmine_id or page.calendar or page.mpv %}<div data-tabs-content="profilove_zalozky" class="tabs-content">{% endif %}

            <div id="popis" class="tabs-panel is-active"  itemprop="description" class="c-BasicPage-content{%if page.class%} {{page.class}}{%endif%}">
              {{content}}

              {% if page.videa %}
              <h2>Doprovodná videa</h2>
              {% for video in page.videa %}
              <div class="responsive-embed">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video}}" frameborder="0" allowfullscreen></iframe>
              </div>
              {% endfor %}
              {% endif %}
            </div>

            {% if page.redmine_id %}
            <div id="ukoly_tymu" class="tabs-panel">
              <h3>Střednědobé cíle týmu</h3>
              <div id="redmine_tasks">
              </div>
              <script>
                pirates.priorityStack.push(function (context) {
                  //var url = '{{page.redmine_id}}';
                  var url = 'https://redmine.pirati.cz/projects/{{page.redmine_id}}/issues.json?utf8=%E2%9C%93&set_filter=1&sort=id%3Adesc&f%5B%5D=status_id&op%5Bstatus_id%5D=o&f%5B%5D=tracker_id&op%5Btracker_id%5D=%3D&v%5Btracker_id%5D%5B%5D=23&f%5B%5D=&c%5B%5D=subject&c%5B%5D=done_ratio&group_by=priority&t%5B%5D=';
                  //var url = 'https://redmine.pirati.cz/{{page.redmine_id}}/issues.json?&fixed_version_id=28';
                  var xhr = pirates.createCORSRequest('GET', url);
                  if (!xhr) {
                    alert('CORS not supported');
                    return;
                  }
                  xhr.onload = function() {
                    var doc = JSON.parse(xhr.responseText);
                    var div = document.getElementById('redmine_tasks');
                    div.appendChild(pirates.integrations.redmine.tasks(doc));
                  }
                  xhr.onerror = function() {
                    alert('Woops, there was an error making the request.');
                  };
                  xhr.send();
                });
              </script>
            </div>
            {% endif %}

            {% if page.calendar %}
              <div id="kalendar_tymu" class="tabs-panel">
                <iframe src="https://calendar.google.com/calendar/embed?src={{page.calendar}}@group.calendar.google.com&?showTitle=0&showPrint=0&showCalendars=0&showTz=0&wkst=2&amphl=cs&ctz=Europe%2FPrague" style="border: 0; width:100%" height="600" frameborder="0" scrolling="no"></iframe>
              </div>
            {% endif %}

            {% if page.mpv %}
              <div id="mpv" class="tabs-panel">

                <div id="redmine_vysledky">
  
                  <div class="reveal large" id="reveal1" style='border:0; padding:0.4rem; max-width:56em;' data-reveal data-show-delay='200' data-hide-delay='200'>
                    <div class='callout' style='border:0; margin:0;'>
                      <h2 class='head' style='text-transform: uppercase; font-size:165%;'></h2>
                      <img class='img' />
                      <p class='desc' style='text-align:left; margin-top:0.8rem;'></p>
                      <p class='tags' style='text-align:left; margin-top:0.8rem;'></p>
                      <p class='float-left' style='font-size:75%; margin:0;'><i class="fa fa-user" aria-hidden="true"></i> <span class='autor'></span></p>
                      <p class='link float-right' style='font-size:75%; margin:0;'>
                        <a target='_blank' class='permalink' href=''><i class="fa fa-link" aria-hidden="true"></i>&nbsp;Permalink</a>
                      </p>                    
                      <div style='clear:both;'></div>
                    </div>
                    <button class="close-button" data-close aria-label="Close reveal" type="button">
                      <span aria-hidden="true">&times;</span>
                    </button>  
                  </div>
                  
                  <div class="grid row" id="masonry_container" style='margin-bottom:1.2em;'>
                    <div class="small-12 columns grid-item" style='padding-left:0.625rem; padding-right:0.625rem;'>
                      <h1 class='head'></h1>
                    </div>
                    <div class='cloner2 grid-item small-12 columns' style='display:none; padding-left:0.625rem; padding-right:0.625rem;'>
                      <div class='callout' style='padding:0; border:0;'>
                        <a class='mas_content' href="#" style='text-decoration:none; color:#000000;'>
                          <h3 class='nadpis' style='text-transform: uppercase;'></h3>
                          <p class='perex'></p>
                        </a>
                      </div>  
                    </div>
                  </div>
  
                  <link rel="stylesheet" media="screen" href="https://piratiliberec.mfnet.cz/fontscdn/bebasneueregular.css" type="text/css"/>
                  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&amp;subset=latin-ext" rel="stylesheet">
                  
                  <style>
                  h1.head, h2.head, h3.nadpis {text-transform: uppercase; font-weight: normal !important; font-family: 'BebasNeue';}
                  h1.head {font-size:200%;}
                  h3.nadpis {font-size:165%; margin-bottom:0.5em; padding:1rem 1rem 0 1rem;}
                  div.callout.active {background-color:#f0f0f0;}
                  div.callout {transition: all 1s ease; color:#000000; border:1px solid #f0f0f0;}
                  div.callout:hover {background-color:#f0f0f0;}
                  #loading {transition:all 1s ease; font-family: 'Roboto Condensed', sans-serif;}
                  p.perex {padding:0 1rem 1rem 1rem;}
                  p.perex img {margin-bottom:0.6em;}
                  .callout img {margin:-1px; max-width:calc(100% + 2px); outline: 1px solid rgba(0,0,0,0.06); outline-offset: -1px;}
                  .mas_content {text-decoration:none; color:inherit;}
                  .mas_content h3 {color:inherit; text-decoration:none;}
                  .mas_content p.perex {color:inherit; font-size:100%; font-family: 'Roboto Condensed', sans-serif; line-height:1.4; text-align:left; text-decoration:none; margin:0;}
                  p.desc, p.tags, span.autor, a.permalink, #dotazinfo {font-family: 'Roboto Condensed', sans-serif;}
                  p.nbm {margin-bottom:0;}
                  .hidden {display:none;}                
                  .nomargin {margin-bottom:0 !important;}
                  {% if page.mpv %}
                  .tabs-title>a {
                    padding: 1.25rem 1.25rem;
                    }
                  {% endif %}
                  </style>
                
                  <div id='inv' style='display:none;'></div>
                </div>
                <script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
                
                <script>
                  var md = new Remarkable();
                  pirates.priorityStack.push(function (context) {
                    var url = 'https://redmineapitest.mfnet.cz';
                    var xhr = pirates.createCORSRequest('GET', url);
                    if (!xhr) {
                      alert('CORS not supported');
                      return;
                    }
                    xhr.onload = function() {
                      var d = new Date();
                      var tsm0 = d.getMilliseconds() + d.getSeconds()*1000;
                      var doc = JSON.parse(xhr.responseText);
                      var d = new Date();
                      var tsm1 = d.getMilliseconds() + d.getSeconds()*1000;
                      console.log('parse time:'+(tsm1-tsm0)+'ms');
                      var div = document.getElementById('redmine_vysledky');
                      pirates.integrations.redmine.mpv(doc,'{{page.mpv}}',2);
                    }
                    xhr.onerror = function() {
                      alert('Woops, there was an error making the request.');
                    };
                    xhr.send();
                  });
                </script>
                
              </div>  

            {% endif %}

            {% if page.redmine_id or page.calendar or page.mpv %}</div>{% endif %}
            
          </article>
          <!-- /Article -->
        </main>
      </div>
    </div>
  </div>
  {% unless page.rbar == blank %}
  <div class="medium-12 large-4 columns">
    {% include right-bar/rbar.html %}
  </div>
  {% endunless %}
</div>
