---
layout: default
---

<div class="row">
  <div class="medium-12 columns">
    <div class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <main class="o-section-block">
          <!-- Article -->
          <article itemtype="http://schema.org/BlogPosting" class="c-BasicPage" itemscope="">
            <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
            <h1 itemprop="headline" class="c-BasicPage__title"> Transparence </h1>
            <div itemprop="description" class="c-BasicPage-content">

              {{content}}

            </div>
          </article>
          <!-- /Article -->
        </main>
        <div class="row o-section-block o-section-block--fill">
          <div class="medium-12 large-4 columns o-section-block--medium">
            <div class="o-section-header">
              <h2 class="o-section__heading o-section__heading--small">Hospodaření</h2>
            </div>
            <ul class="c-widget-accordion c-widget-accordion--unstacksibling c-widget-accordion--topspace" data-accordion="" data-allow-all-closed="true">
              <li class="c-widget-accordion-item" data-accordion-item="">
                <a href="#" class="c-widget-accordion-link">
                  <span class="c-widget-accordion__title c-widget-accordion__title--noicon c-widget-accordion__title--plain">Smlouvy, faktury a účty</span>
                </a>
                <div class="c-widget-accordion-content" data-tab-content="">
                  <div class="c-widget-accordion-content-inner c-widget-accordion-content-inner--bigp">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati pariatur laborum quia sequi tempore quos soluta voluptatibus voluptas id saepe, repudiandae quaerat sint dolore, reiciendis.</p>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="c-widget-accordion c-widget-accordion--unstacksibling c-widget-accordion--topspace" data-accordion="" data-allow-all-closed="true">
              <li class="c-widget-accordion-item is-active" data-accordion-item="">
                <a href="#" class="c-widget-accordion-link">
                  <span class="c-widget-accordion__title c-widget-accordion__title--noicon c-widget-accordion__title--plain">Dodavatelé a výběrová řázení</span>
                </a>
                <div class="c-widget-accordion-content" data-tab-content="">
                  <div class="c-widget-accordion-content-inner c-widget-accordion-content-inner--bigp">
                    <p>Naším cílem je mít nejlevnější a nejkvalitnější dodavatele. Proto děláme pravidelná a otevřená výběrová řízení a vedeme si seznamy dodavatelů, kteří se nám osvědčili.</p>
                    <ul>
                      <li>
                        <a href="#">Seznam osvědčených dodavatelů</a>
                      </li>
                      <li>
                        <a href="#">Vyhlášená výběrová řízení</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="c-widget-accordion c-widget-accordion--unstacksibling c-widget-accordion--topspace" data-accordion="" data-allow-all-closed="true">
              <li class="c-widget-accordion-item" data-accordion-item="">
                <a href="#" class="c-widget-accordion-link">
                  <span class="c-widget-accordion__title c-widget-accordion__title--noicon c-widget-accordion__title--plain">Odměny politiků a dalších osob</span>
                </a>
                <div class="c-widget-accordion-content" data-tab-content="">
                  <div class="c-widget-accordion-content-inner c-widget-accordion-content-inner--bigp">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis nihil, id similique.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos iusto sunt minus hic quod, possimus itaque. Accusamus, iure, alias sapiente fuga magnam animi earum nam asperiores porro vel maiores libero?</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="medium-12 large-4 columns o-section-block--medium">
            <div class="o-section-header">
              <h2 class="o-section__heading o-section__heading--small">Rozhodování</h2>
            </div>
            <ul class="c-widget-accordion c-widget-accordion--unstacksibling c-widget-accordion--topspace" data-accordion="" data-allow-all-closed="true">
              <li class="c-widget-accordion-item" data-accordion-item="">
                <a href="#" class="c-widget-accordion-link">
                  <span class="c-widget-accordion__title c-widget-accordion__title--noicon c-widget-accordion__title--plain">Politická aktivita</span>
                </a>
                <div class="c-widget-accordion-content" data-tab-content="">
                  <div class="c-widget-accordion-content-inner c-widget-accordion-content-inner--bigp">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis nihil, id similique.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos iusto sunt minus hic quod, possimus itaque. Accusamus, iure, alias sapiente fuga magnam animi earum nam asperiores porro vel maiores libero?</p>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="c-widget-accordion c-widget-accordion--unstacksibling c-widget-accordion--topspace" data-accordion="" data-allow-all-closed="true">
              <li class="c-widget-accordion-item" data-accordion-item="">
                <a href="#" class="c-widget-accordion-link">
                  <span class="c-widget-accordion__title c-widget-accordion__title--noicon c-widget-accordion__title--plain">Oběh dokumentů</span>
                </a>
                <div class="c-widget-accordion-content" data-tab-content="">
                  <div class="c-widget-accordion-content-inner c-widget-accordion-content-inner--bigp">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eum repudiandae quam ipsa suscipit accusamus sed in laudantium ipsum. Non ad, repudiandae illo debitis sed et dignissimos a accusamus soluta aliquid nihil. Et
                      excepturi consectetur fugit eaque expedita aperiam voluptates!</p>
                    <p>Lorem ipsum dolor.</p>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="c-widget-accordion c-widget-accordion--unstacksibling c-widget-accordion--topspace" data-accordion="" data-allow-all-closed="true">
              <li class="c-widget-accordion-item is-active" data-accordion-item="">
                <a href="#" class="c-widget-accordion-link">
                  <span class="c-widget-accordion__title c-widget-accordion__title--noicon c-widget-accordion__title--plain">Přehledy</span>
                </a>
                <div class="c-widget-accordion-content" data-tab-content="">
                  <div class="c-widget-accordion-content-inner c-widget-accordion-content-inner--bigp">
                    <p>Transparence není u Pirátů jen náhoda, ale máme pevná pravidla.</p>
                    <ul>
                      <li>
                        <a href="#">Vnitřní předpisy</a>
                      </li>
                      <li>
                        <a href="#">Povinně zveřejňované informace</a>
                      </li>
                      <li>
                        <a href="#">Seznam informačních předpisů</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="medium-12 large-4 columns o-section-block--medium">
            <div class="o-section-header">
              <h2 class="o-section__heading o-section__heading--small">Lidé</h2>
            </div>
            <ul class="c-widget-accordion c-widget-accordion--unstacksibling c-widget-accordion--topspace" data-accordion="" data-allow-all-closed="true">
              <li class="c-widget-accordion-item is-active" data-accordion-item="">
                <a href="#" class="c-widget-accordion-link">
                  <span class="c-widget-accordion__title c-widget-accordion__title--noicon c-widget-accordion__title--plain">Seznam členů a funkcí</span>
                </a>
                <div class="c-widget-accordion-content" data-tab-content="">
                  <div class="c-widget-accordion-content-inner c-widget-accordion-content-inner--bigp">
                    <p>Členové pirátů nejsou mrtvé duše, jak to je někdy u starých politických stran.</p>
                    <ul>
                      <li>
                        <a href="#">Obsazení orgánů strany</a>
                      </li>
                      <li>
                        <a href="#">Seznam členů strany</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="c-widget-accordion c-widget-accordion--unstacksibling c-widget-accordion--topspace" data-accordion="" data-allow-all-closed="true">
              <li class="c-widget-accordion-item" data-accordion-item="">
                <a href="#" class="c-widget-accordion-link">
                  <span class="c-widget-accordion__title c-widget-accordion__title--noicon c-widget-accordion__title--plain">Seznam schůzek</span>
                </a>
                <div class="c-widget-accordion-content" data-tab-content="">
                  <div class="c-widget-accordion-content-inner c-widget-accordion-content-inner--bigp">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, impedit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse deserunt aliquam natus nisi consequuntur, enim eius repellendus, quos harum nesciunt, et ea repellat nostrum!</p>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="c-widget-accordion c-widget-accordion--unstacksibling c-widget-accordion--topspace" data-accordion="" data-allow-all-closed="true">
              <li class="c-widget-accordion-item" data-accordion-item="">
                <a href="#" class="c-widget-accordion-link">
                  <span class="c-widget-accordion__title c-widget-accordion__title--noicon c-widget-accordion__title--plain">Kontrolní orgány</span>
                </a>
                <div class="c-widget-accordion-content" data-tab-content="">
                  <div class="c-widget-accordion-content-inner c-widget-accordion-content-inner--bigp">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis nihil, id similique.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos iusto sunt minus hic quod, possimus itaque. Accusamus, iure, alias sapiente fuga magnam animi earum nam asperiores porro vel maiores libero?</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
