---
layout: default
img:
description: Kandidátní listiny Pirátů pro volby do PS Parlamentu ČR 2017
---

<div class="row">
  <div class="medium-12 large-12 columns">
    <section class="o-section o-section--noSpaceBottom">
      <div class="o-section-inner">
        <div class="c-BasicPage">
          <h1>Kandidátní listiny</h1>
          <p>Kandidátní listiny Pirátské strany pro volby do PS Parlamentu ČR konané 20.-21. 10. 2017</p>
          <section id='regions-map'>
              <div class="row" style="background-color: lightgray;">
                  <div class="large-7 columns hide-for-small-only" style="margin-bottom: 20px;">
                      <div id="paper" class=""></div>
                  </div>
                  <div class="large-5 columns" style="margin-top: 40px;">
                      <article class="c-BlogPosting" style="background-color: white; margin-top: 40px; margin-right: 20px">
                          <div class="row c-BlogPosting-content">
                              <h3 style="margin-left: 45px">Kraje</h3>
                              <div class="columns small-6">
                                  <ul id="regions-list" style="margin-left: 25px">
                                  </ul>
                              </div>
                              <div class="columns small-6">
                                  <ul id="regions-list-2">
                                  </ul>
                              </div>
                          </div>
                      </article>
                  </div>
              </div>
              <noscript>
                <ul>
                  {% assign myteams = site.teams | where_exp: "item", "item.categories contains 'regiony'" %}
                  {% for item in myteams%}
                  {% if site.data.elections.y2017[item.uid] %}
                  <li>
                    <a href="{{item.uid | prepend: 'snemovna/2017/' | relative_url}}">
                      {{item.name}}
                    </a>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </noscript>
          </section>
{% comment %}
          <h2>Lídři v jednotlivých krajích</h2>
          <div id="leaders">
          </div>
  {% endcomment %}
        </div>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>
