<div class="c-content-card">
  <div class="c-content-card-img">
    <img src="{{ 'teams-placeholder.jpg' | prepend: 'assets/img/teams/' | relative_url}}" alt="Kategorie týmu"> </div>
  <div class="c-content-card-content-box">
    <h3 class="c-content-card-title">
      <a href="#">Zastupitelé na Magistrátu</a>
    </h3>
    <div class="c-content-card-content">
      <p>V seznamu týmů by měly být všechny týmy působící v České pirátské straně, z počátku by byly zobrazované jako dlaždice s obrázkem, krátkým popiskem a tagy.</p>
    </div>
    <div class="c-content-card-meta">
      <a href="#" class="c-tag">#praha</a>
    </div>
  </div>
</div>
