---
layout: page
title: Ke stažení
rbar: people
filexts1:
  - png
  - svg
  - pdf
  - ai
---

<div class="row">

<div class="columns large-6">
  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="{{'/assets/img/brand/logo.svg' | relative_url}}" alt="Logo Piráti" style="width: 80px;"/>
      </div>
    </div>
    <div class="media-object-section">
      <h3>Logo</h3>
      <p>
        Klasické: {% for e in page.filexts1 %}
        <a href="{{e | prepend: '/assets/img/brand/logo.' | relative_url}}">{{e}}</a>, {% endfor %}
        <br />
        Bílé (iverzní): {% for e in page.filexts1 %}
        <a href="{{e | prepend: '/assets/img/brand/logo_white.' | relative_url}}">{{e}}</a>, {% endfor %}
      </p>
    </div>
  </div>
</div>

<div class="columns large-6">
  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="{{'/assets/img/brand/logo_napis.svg' | relative_url}}" alt="Logotyp Pirátská strana" style="width: 80px;"/>
      </div>
    </div>
    <div class="media-object-section">
      <h3>Logotyp</h3>
      <p>
        Klasické: {% for e in page.filexts1 %}
        <a href="{{e | prepend: '/assets/img/brand/logo_napis.' | relative_url}}">{{e}}</a>, {% endfor %}
        <br />
        Bílé (inverzní): {% for e in page.filexts1 %}
        <a href="{{e | prepend: '/assets/img/brand/logo_napis_white.' | relative_url}}">{{e}}</a>, {% endfor %}
      </p>
    </div>
  </div>
</div>

</div>

<div class="row">

<div class="columns large-6">
  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="{{'/assets/pdf/A4-plakat.png' | relative_url}}" alt="Plakát Letos vol Piráty!" style="width: 80px;"/>
      </div>
    </div>
    <div class="media-object-section">
      <h3>Plakát barevný</h3>
      <p>
        A4:
        <a alt="Plakát A4 barevný" href="{{'/assets/pdf/A4-plakat.pdf' | relative_url}}">pdf</a>,
        <a alt="Plakát A4 barevný" href="{{'/assets/pdf/A4-plakat.png' | relative_url}}">png</a>
        <br />
        A3: <a alt="Plakát A3 barevný" href="{{'/assets/pdf/A3-plakat.pdf' | relative_url}}">pdf</a>
      </p>
    </div>
  </div>
</div>

<div class="columns large-6">
  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="{{'/assets/pdf/A4-plakat-cb.png' | relative_url}}" alt="Plakát Letos vol Piráty černobílý" style="width: 80px;"/>
      </div>
    </div>
    <div class="media-object-section">
      <h3>Plakát černobílý</h3>
      <p>
        A4:
        <a alt="Plakát A4 černobílý" href="{{'/assets/pdf/A4-plakat-cb.pdf' | relative_url}}">pdf</a>,
        <a alt="Plakát A4 černobílý" href="{{'/assets/pdf/A4-plakat-cb.png' | relative_url}}">png</a>
        <br />
        A3: <a alt="Plakát A3 černobílý" href="{{'/assets/pdf/A3-plakat-cb.pdf' | relative_url}}">pdf</a>
      </p>
    </div>
  </div>
</div>

</div>

<div class="row">

  <div class="columns large-6">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="{{'/assets/pdf/A4-plakat.png' | relative_url}}" alt="Plakát Letos vol Piráty" style="width: 80px;"/>
        </div>
      </div>
      <div class="media-object-section">
        <h3>Plakáty krajské</h3>
        <p>
          A1: <a href="https://drive.google.com/drive/folders/0B-X7GSrs9fNzUmJqTldDYUxLc28">pdf (link)</a>
          <br />
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">

<div class="columns large-6">
  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="{{'/assets/pdf/pirlisty.png' | relative_url}}" alt="Pirátské listy" style="width: 80px;"/>
      </div>
    </div>
    <div class="media-object-section">
      <h3>Pirátské listy</h3>
      <p>
        Celostátní:
        <a alt="Pirátské listy: celostátní" href="{{'/assets/pdf/piratske_listy_podzim_2017_broadsheet_central_web.pdf' | relative_url}}">pdf</a>,
        <br />
        Jihomoravský:
        <a alt="Pirátské listy: Jihomoravský kraj" href="{{'/assets/pdf/piratske_listy_podzim_2017_broadsheet_JmK_web.pdf' | relative_url}}">pdf</a>
        <br />
        Plzeň:
        <a alt="Pirátské listy: Plzeňský kraj" href="{{'/assets/pdf/piratske_listy_podzim_2017_broadsheet_Plzen_web.pdf' | relative_url}}">png</a>
      </p>
    </div>
  </div>
</div>
