---
layout: page
title: Ke stažení a sdílení
rbar: people
filexts1:
  - png
  - svg
  - pdf
  - ai
---

<div class="row o-section-block c-BasicPage-content BasicPage-content">
  <div class="columns large-12">
    <h2><a href="https://drive.google.com/drive/u/0/folders/1LiYgzzi0NpGHAEaxyUDSALQf5-kM8bqc"> Grafický manuál Pirátů</a></h2>
  </div>
  <div class="columns large-6">
        Ve složce jsou i všechny zdrojové kódy. Pro plnou funkčnost si prosím stáhněte a nainstalujte fonty:
            <ul>
            <li><a href="http://www.fontfabric.com/bebas-neue/">Bebas Neue</a> a</li>
            <li><a href="https://fonts.google.com/specimen/Roboto+Condensed">Roboto Condensed</a>.</li>
        </ul>
    </div>

<div class="columns large-6">
    <img src="{{ 'assets/img/miscellaneous/poselstvi.png' | relative_url }}" alt="Příklad aplikace grafického manuálu"/>
</div>
</div>

<div class="row">
  <div class="columns large-12">
    <h2> Logo </h2>
  </div>
  <div class="columns large-6">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="{{'/assets/img/brand/logo.svg' | relative_url}}" alt="Logo Piráti" style="width: 80px;"/>
        </div>
      </div>
      <div class="media-object-section">
        <h3>Logo</h3>
        <p>
          Klasické: {% for e in page.filexts1 %}
          <a href="{{e | prepend: '/assets/img/brand/logo.' | relative_url}}">{{e}}</a>, {% endfor %}
          <br />
          Bílé (iverzní): {% for e in page.filexts1 %}
          <a href="{{e | prepend: '/assets/img/brand/logo_white.' | relative_url}}">{{e}}</a>, {% endfor %}
        </p>
      </div>
    </div>
  </div>

  <div class="columns large-6">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="{{'/assets/img/brand/logo_napis.svg' | relative_url}}" alt="Logotyp Pirátská strana" style="width: 80px;"/>
        </div>
      </div>
      <div class="media-object-section">
        <h3>Logotyp</h3>
        <p>
          Klasické: {% for e in page.filexts1 %}
          <a href="{{e | prepend: '/assets/img/brand/logo_napis.' | relative_url}}">{{e}}</a>, {% endfor %}
          <br />
          Bílé (inverzní): {% for e in page.filexts1 %}
          <a href="{{e | prepend: '/assets/img/brand/logo_napis_white.' | relative_url}}">{{e}}</a>, {% endfor %}
        </p>
      </div>
    </div>
  </div>
</div><!-- /row -->

<div class="row">
  <div class="columns large-12">
    <h2> Pirátské listy </h2>
  </div>
  <div class="columns large-6">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="{{'/assets/pdf/pirlisty.png' | relative_url}}" alt="Pirátské listy" style="width: 80px;"/>
        </div>
      </div>
      <div class="media-object-section">
        <h3>Pirátské listy</h3>
        <p>
          Celostátní:
          <a alt="Pirátské listy: celostátní" href="{{'/assets/pdf/piratske_listy_podzim_2017_broadsheet_central_web.pdf' | relative_url}}">pdf</a>,
          <br />
          Jihomoravský:
          <a alt="Pirátské listy: Jihomoravský kraj" href="{{'/assets/pdf/piratske_listy_podzim_2017_broadsheet_JmK_web.pdf' | relative_url}}">pdf</a>
          <br />
          Plzeň:
          <a alt="Pirátské listy: Plzeňský kraj" href="{{'/assets/pdf/piratske_listy_podzim_2017_broadsheet_Plzen_web.pdf' | relative_url}}">pdf</a>
        </p>
      </div>
    </div>
  </div>
</div><!-- /row -->

<div class="row">
  <div class="columns large-12">
    <h2> Plakáty </h2>

  <div class="columns large-6">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="{{'/assets/pdf/A4-plakat.png' | relative_url}}" alt="Plakát Letos vol Piráty!" style="width: 80px;"/>
        </div>
      </div>
      <div class="media-object-section">
        <h3>Plakát barevný</h3>
        <p>
          A4:
          <a alt="Plakát A4 barevný" href="{{'/assets/pdf/A4-plakat.pdf' | relative_url}}">pdf</a>,
          <a alt="Plakát A4 barevný" href="{{'/assets/pdf/A4-plakat.png' | relative_url}}">png</a>
          <br />
          A3: <a alt="Plakát A3 barevný" href="{{'/assets/pdf/A3-plakat.pdf' | relative_url}}">pdf</a>
        </p>
      </div>
    </div>
  </div>

  <div class="columns large-6">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="{{'/assets/pdf/A4-plakat-cb.png' | relative_url}}" alt="Plakát Letos vol Piráty černobílý" style="width: 80px;"/>
        </div>
      </div>
      <div class="media-object-section">
        <h3>Plakát černobílý</h3>
        <p>
          A4:
          <a alt="Plakát A4 černobílý" href="{{'/assets/pdf/A4-plakat-cb.pdf' | relative_url}}">pdf</a>,
          <a alt="Plakát A4 černobílý" href="{{'/assets/pdf/A4-plakat-cb.png' | relative_url}}">png</a>
          <br />
          A3: <a alt="Plakát A3 černobílý" href="{{'/assets/pdf/A3-plakat-cb.pdf' | relative_url}}">pdf</a>
        </p>
      </div>
    </div>
  </div>

  <div class="columns large-6">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="{{'/assets/pdf/A4-plakat.png' | relative_url}}" alt="Plakát Letos vol Piráty" style="width: 80px;"/>
        </div>
      </div>
      <div class="media-object-section">
        <h3>Plakáty krajské</h3>
        <p>
          A1: <a href="https://drive.google.com/drive/folders/0B-X7GSrs9fNzUmJqTldDYUxLc28">pdf (link)</a>
          <br />
        </p>
      </div>
    </div>
  </div>

  <div class="columns large-6">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="{{'/assets/pdf/fence-1.png' | relative_url}}" alt="Plakát Letos vol Piráty černobílý" style="width: 80px;"/>
        </div>
      </div>
      <div class="media-object-section">
        <h3>Banner na plot</h3>
        <p>
          Pustťe nás na ně: <a alt="" href="{{'/assets/pdf/fence-banner-2x1m-1.pdf' | relative_url}}">pdf</a> <br />
          Tady kotví Piráti: <a alt="" href="{{'/assets/pdf/fence-banner-2x1m-3.pdf' | relative_url}}">pdf</a>
        </p>
      </div>
    </div>
  </div>

 <div class="columns large-6">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="{{'/assets/img/miscellaneous/lodicka.jpg' | relative_url}}" alt="Ivan Bartoš a harmonika" style="width: 80px;"/>
        </div>
      </div>
      <div class="media-object-section">
        <h3>Lodičky</h3>
        <p>
          Lodička s programem: <a alt="" href="http://www.piratskelisty.cz/upload/2010.pdf">pdf</a>
        </p>
      </div>
    </div>
  </div>

<div class="row">
  <div class="columns large-12">
    <h2> Audio </h2>

<div class="columns large-6">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="{{'/assets/img/miscellaneous/bartos.jpg' | relative_url}}" alt="Ivan Bartoš a harmonika" style="width: 80px;"/>
        </div>
      </div>
      <div class="media-object-section">
        <h3>Hudební pecky z předvolebních spotů</h3>
        <p>
          Balada o úřadech: <a alt="" href="{{'/assets/mp3/Piráti - Balada o úřadech.mp3' | relative_url}}">mp3</a> <br />
          My se za vás porveme: <a alt="" href="{{'/assets/mp3/Piráti - My se za vás porveme.mp3' | relative_url}}">mp3</a> <br />
          My se za vás porveme (karaoke): <a alt="" href="{{'/assets/mp3/Piráti - My se za vás porveme (karaoke).mp3' | relative_url}}">mp3</a> <br />
        </p>
      </div>
    </div>
  </div>

<div class="columns large-6">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="{{'/assets/pdf/pirlisty.png' | relative_url}}" alt="Namluvené Pirátské listy" style="width: 80px;"/>
        </div>
      </div>
      <div class="media-object-section">
        <h3>Namluvené Pirátské listy</h3>
        <p>
          celé (67 min): <a alt="" href="https://static.pirati.cz/listy/podzim2017.mp3">mp3</a> <br />
	  <b>Jednotlivé články:</b><br />
          Úvod <a alt="" href="https://static.pirati.cz/listy/podzim2017-01-úvod.mp3">mp3</a> <br />
          O Pirátské straně <a alt="" href="https://static.pirati.cz/listy/podzim2017-03-o Pirаtské straně - Ivan Bartoš.mp3">mp3</a> <br />
          Přijďte k volbám! <a alt="" href="https://static.pirati.cz/listy/podzim2017-04-Přijďte k volbаm - Ivan Bartoš.mp3">mp3</a> <br />
          Proč volit Piráty? <a alt="" href="https://static.pirati.cz/listy/podzim2017-05-Volit Pirаty - Jakub Michаlek.mp3">mp3</a> <br />
          Proč se jmenujeme Pirátská strana? <a alt="" href="https://static.pirati.cz/listy/podzim2017-06-Proč se jmenujeme Pirаtskа strana - Mikulаš Ferjenčík.mp3">mp3</a> <br />
          Průzkumy <a alt="" href="https://static.pirati.cz/listy/podzim2017-07-Průzkumy - Mikulаš Ferjenčík.mp3">mp3</a> <br />
          Kandidujeme ve všech krajích! <a alt="" href="https://static.pirati.cz/listy/podzim2017-08-Kandidujeme ve všech krajích.mp3">mp3</a> <br />
          Je třeba se aktivně zapojit. <a alt="" href="https://static.pirati.cz/listy/podzim2017-09-Je třeba se aktivně zapojit - Ivan Bartoš odpovídа Olze Richterové.mp3">mp3</a> <br />
          Co dělají Piráti už dnes? <a alt="" href="https://static.pirati.cz/listy/podzim2017-10-Co dělají Pirаti už dnes.mp3">mp3</a> <br />
          Přidejte se! <a alt="" href="https://static.pirati.cz/listy/podzim2017-12-Přidejte se.mp3">mp3</a> <br />
          Sdílejte! <a alt="" href="https://static.pirati.cz/listy/podzim2017-13-Sdílejte.mp3">mp3</a> <br />
        </p>
      </div>
    </div>
  </div>


<div class="row">
  <div class="columns large-12">
    <h2> e-book </h2>
  </div>

<div class="columns large-6">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="{{'/ebook/images/ebook.png' | relative_url}}" alt="Pirátský e-book je tady!" style="width: 80px;"/>
        </div>
      </div>
      <div class="media-object-section">
        <h3>E-book "Všichni nekradou"</h3>
        <p>
          pdf: <a alt="" href="{{'/assets/ebook/piratsky-e-book-150dpi.pdf' | relative_url}}">pdf</a> <br />
          epub: <a alt="" href="{{'/assets/ebook/piratsky-e-book.epub' | relative_url}}">epub</a> <br />
          mobi: <a alt="" href="{{'/assets/ebook/piratsky-e-book.mobi' | relative_url}}">mobi</a> <br />
        </p>
      </div>
    </div>
  </div>
  <div class="columns large-6">
      <div class="media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="{{'/ebook/images/ebook.png' | relative_url}}" alt="Pirátský e-book je tady!" style="width: 80px;"/>
          </div>
        </div>
        <div class="media-object-section">
          <h3>Volební program Černé na bílém</h3>
          <p>
            pdf: <a alt="" href="https://www.pirati.cz/assets/pdf/program_cerne_na_bilem.pdf">pdf</a> <br />
          </p>
        </div>
      </div>
    </div>
  <div class="columns large-12">
    <h2> Fotografie </h2>
  </div>
  <div class="columns large-12">
  <p>
    Volně šiřitelné fotografie si můžete stáhnout na <a href="https://www.flickr.com/photos/pirati">Flickru</a>.
  </p>
  </div>
</div><!-- /row -->
